Repository fieldjoshua/UltrAI-Core, changes with the owners that CODEOWNERS names for each.
All owners: @documentation-team, @core-team, @ui-team, @ai-team, @backend-team, @qa-team, @devops-team, @admin-team

Add configuration diagnostics and status display
  app_production.py
Owners: none

Add configuration status display to frontend
  static/index.html
Owners: none

Add configuration status display to frontend
  static/index.html
Owners: none

Switch to real UltraAI Feather backend with full orchestrator
  render.yaml
Owners: none

Switch to real UltraAI Feather backend with full orchestrator
  render.yaml
Owners: none

Fix multi-LLM orchestration and add Google models
  app_production.py
  render.yaml
  static/index.html
Owners: none

Fix multi-LLM orchestration and add Google models
  app_production.py
  render.yaml
  static/index.html
Owners: none

Implement UltraAI Vision Guardian protection system
  .aicheck/RULES.md
  .aicheck/actions/ultrai-system-assessment/progress.md
  .aicheck/actions/ultrai-system-assessment/status.txt
  .aicheck/actions/ultrai-system-assessment/supporting_docs/AI_EDITOR_SYSTEM_PROTECTION_GUIDELINES.md
  .aicheck/actions/ultrai-system-assessment/ultrai-system-assessment-plan.md
  .aicheck/actions/ultrai-vision-auditor/progress.md
  .aicheck/actions/ultrai-vision-auditor/status.txt
  .aicheck/actions/ultrai-vision-auditor/supporting_docs/ULTRAI_VISION_AUDITOR_AGENT.md
  .aicheck/actions/ultrai-vision-auditor/ultrai-vision-auditor-plan.md
  .aicheck/actions/vision-guardian-automation/progress.md
  .aicheck/actions/vision-guardian-automation/status.txt
  .aicheck/actions/vision-guardian-automation/vision-guardian-automation-plan.md
  .aicheck/actions_index.md
  .aicheck/current_action
  .aicheck/guardian
  .aicheck/project_vision_config.md
  .aicheck/universal_vision_guardian.md
  .aicheck/vision_guardian.md
  CLAUDE.md
  activate_vision_guardian.sh
  requirements-production.txt
Owners: none

Implement UltraAI Vision Guardian protection system
  .aicheck/RULES.md
  .aicheck/actions/ultrai-system-assessment/progress.md
  .aicheck/actions/ultrai-system-assessment/status.txt
  .aicheck/actions/ultrai-system-assessment/supporting_docs/AI_EDITOR_SYSTEM_PROTECTION_GUIDELINES.md
  .aicheck/actions/ultrai-system-assessment/ultrai-system-assessment-plan.md
  .aicheck/actions/ultrai-vision-auditor/progress.md
  .aicheck/actions/ultrai-vision-auditor/status.txt
  .aicheck/actions/ultrai-vision-auditor/supporting_docs/ULTRAI_VISION_AUDITOR_AGENT.md
  .aicheck/actions/ultrai-vision-auditor/ultrai-vision-auditor-plan.md
  .aicheck/actions/vision-guardian-automation/progress.md
  .aicheck/actions/vision-guardian-automation/status.txt
  .aicheck/actions/vision-guardian-automation/vision-guardian-automation-plan.md
  .aicheck/actions_index.md
  .aicheck/current_action
  .aicheck/guardian
  .aicheck/project_vision_config.md
  .aicheck/universal_vision_guardian.md
  .aicheck/vision_guardian.md
  CLAUDE.md
  activate_vision_guardian.sh
  requirements-production.txt
Owners: none

Deploy real UltraAI backend with sophisticated orchestration
  .aicheck/current_action
  render.yaml
  requirements-production.txt
Owners: none

Deploy real UltraAI backend with sophisticated orchestration
  .aicheck/current_action
  render.yaml
  requirements-production.txt
Owners: none

Update dependencies documentation for sophisticated orchestration
  documentation/dependencies.md
Owners: @documentation-team

Update dependencies documentation for sophisticated orchestration
  documentation/dependencies.md
Owners: @documentation-team

Optimize dependencies for memory-efficient sophisticated deployment
  documentation/dependencies.md
  documentation/dependencies/dependency_index.md
  requirements-production.txt
Owners: @documentation-team

Optimize dependencies for memory-efficient sophisticated deployment
  documentation/dependencies.md
  documentation/dependencies/dependency_index.md
  requirements-production.txt
Owners: @documentation-team

Fix frontend deployment: configure MVP frontend for sophisticated backend
  render-frontend.yaml
  static/index.html
Owners: none

Fix frontend deployment: configure MVP frontend for sophisticated backend
  render-frontend.yaml
  static/index.html
Owners: none

Fix critical backend crash: add missing sse-starlette dependency
  requirements-production.txt
Owners: none

Fix critical backend crash: add missing sse-starlette dependency
  requirements-production.txt
Owners: none

CRITICAL: Fix production environment configuration for sophisticated backend
  render.yaml
Owners: none

CRITICAL: Fix production environment configuration for sophisticated backend
  render.yaml
Owners: none

Fix deployment config validation: add fallback values for production
  backend/config.py
Owners: none

Fix deployment config validation: add fallback values for production
  backend/config.py
Owners: none

Fix critical deployment issues: switch to production app with all endpoints
  render.yaml
Owners: none

Fix critical deployment issues: switch to production app with all endpoints
  render.yaml
Owners: none

Enhance CLAUDE.md with comprehensive development workflow guidance
  .aicheck/actions/frontend-deployment-fix/frontend-deployment-fix-plan.md
  .aicheck/actions/frontend-deployment-fix/status.txt
  .aicheck/actions/ultrai-system-assessment/status.txt
  .aicheck/actions/ultrai-system-assessment/ultrai-system-assessment-plan.md
  .aicheck/actions_index.md
  .aicheck/current_action
  CLAUDE.md
  documentation/dependencies/dependency_index.md
Owners: @documentation-team

Enhance CLAUDE.md with comprehensive development workflow guidance
  .aicheck/actions/frontend-deployment-fix/frontend-deployment-fix-plan.md
  .aicheck/actions/frontend-deployment-fix/status.txt
  .aicheck/actions/ultrai-system-assessment/status.txt
  .aicheck/actions/ultrai-system-assessment/ultrai-system-assessment-plan.md
  .aicheck/actions_index.md
  .aicheck/current_action
  CLAUDE.md
  documentation/dependencies/dependency_index.md
Owners: @documentation-team

SECURITY: Fix 35 vulnerabilities across Python and frontend dependencies
  documentation/dependencies/dependency_index.md
  frontend/package.json
  requirements-production.txt
Owners: @documentation-team, @devops-team

SECURITY: Fix 35 vulnerabilities across Python and frontend dependencies
  documentation/dependencies/dependency_index.md
  frontend/package.json
  requirements-production.txt
Owners: @documentation-team, @devops-team

MAJOR: Expose sophisticated 4-stage Feather orchestration to users
  .aicheck/actions/orchestration-integration-fix/orchestration-integration-fix-plan.md
  .aicheck/actions/orchestration-integration-fix/status.txt
  .aicheck/actions/orchestration-integration-fix/supporting_docs/backend-analysis-findings.md
  .aicheck/actions/orchestration-integration-fix/supporting_docs/frontend-analysis-findings.md
  .aicheck/actions/orchestration-integration-fix/supporting_docs/implementation-completion-report.md
  .aicheck/actions/orchestration-integration-fix/todo.md
  frontend/src/api/orchestrator.js
  frontend/src/components/OrchestratorInterface.jsx
Owners: @ui-team

MAJOR: Expose sophisticated 4-stage Feather orchestration to users
  .aicheck/actions/orchestration-integration-fix/orchestration-integration-fix-plan.md
  .aicheck/actions/orchestration-integration-fix/status.txt
  .aicheck/actions/orchestration-integration-fix/supporting_docs/backend-analysis-findings.md
  .aicheck/actions/orchestration-integration-fix/supporting_docs/frontend-analysis-findings.md
  .aicheck/actions/orchestration-integration-fix/supporting_docs/implementation-completion-report.md
  .aicheck/actions/orchestration-integration-fix/todo.md
  frontend/src/api/orchestrator.js
  frontend/src/components/OrchestratorInterface.jsx
Owners: @ui-team

IMPROVE: Add robust error handling to orchestrator routes
  backend/routes/orchestrator_routes.py
  debug_orchestrator_import.py
Owners: none

IMPROVE: Add robust error handling to orchestrator routes
  backend/routes/orchestrator_routes.py
  debug_orchestrator_import.py
Owners: none

Add test endpoint to verify orchestrator router registration
  .aicheck/QUICK_REFERENCE.md
  .aicheck/RULES.md
  .aicheck/actions/orchestration-integration-fix/supporting_docs/deployment-status-check.md
  .aicheck/actions/orchestration-integration-fix/supporting_docs/monitor_deployment.py
  .aicheck/aicheck
  .aicheck/scripts/action_advanced.sh
  .aicheck/scripts/aicheck_test.sh
  .aicheck/scripts/security.sh
  backend/routes/orchestrator_routes.py
Owners: none

Add test endpoint to verify orchestrator router registration
  .aicheck/QUICK_REFERENCE.md
  .aicheck/RULES.md
  .aicheck/actions/orchestration-integration-fix/supporting_docs/deployment-status-check.md
  .aicheck/actions/orchestration-integration-fix/supporting_docs/monitor_deployment.py
  .aicheck/aicheck
  .aicheck/scripts/action_advanced.sh
  .aicheck/scripts/aicheck_test.sh
  .aicheck/scripts/security.sh
  backend/routes/orchestrator_routes.py
Owners: none

Fix deployment: Add missing requirements-production.txt
  .aicheck/.DS_Store
  .aicheck/.aicheck_backup_20250524_095556/.DS_Store
  .aicheck/.aicheck_backup_20250524_095556/actions/.DS_Store
  .aicheck/.aicheck_backup_20250524_095556/actions/frontend-deployment-fix/.DS_Store
  .aicheck/actions/.DS_Store
  .aicheck/actions/completed/frontend-deployment-fix/.DS_Store
  requirements-production.txt
Owners: none

Fix deployment: Add missing requirements-production.txt
  .aicheck/.DS_Store
  .aicheck/.aicheck_backup_20250524_095556/.DS_Store
  .aicheck/.aicheck_backup_20250524_095556/actions/.DS_Store
  .aicheck/.aicheck_backup_20250524_095556/actions/frontend-deployment-fix/.DS_Store
  .aicheck/actions/.DS_Store
  .aicheck/actions/completed/frontend-deployment-fix/.DS_Store
  requirements-production.txt
Owners: none

Add orchestrator router debug to health endpoint
  backend/routes/health_routes.py
Owners: none

Add orchestrator router debug to health endpoint
  backend/routes/health_routes.py
Owners: none

Fix pydantic dependency conflict in production requirements
  requirements-production.txt
Owners: none

CODEOWNERS:

# UltraAI CODEOWNERS File
# This file defines code ownership and review requirements for the project
# Format: path/to/file/or/dir @username_or_team

# Documentation requires review by documentation team
/documentation/ @documentation-team

# Core patterns implementation requires careful review
/src/patterns/ @core-team

# Frontend components require UI team review
/frontend/src/components/ @ui-team

# Analysis logic requires AI team review
/src/analysis/ @ai-team

# API services require backend team review
/frontend/src/services/ @backend-team

# Hooks require careful review
/frontend/src/hooks/ @ui-team @core-team

# Test files
/tests/ @qa-team

# Configuration files require DevOps review
*.json @devops-team
*.yml @devops-team
*.config.js @devops-team

# Critical files that require multiple approvals
/src/patterns/ultra_analysis_patterns.py @core-team @ai-team
/documentation/instructions/PATTERNS.md @documentation-team @core-team
/frontend/src/components/UltraWithDocuments.tsx @ui-team @core-team
/frontend/src/services/api.ts @backend-team @core-team

# The CODEOWNERS file itself requires admin approval
/CODEOWNERS @admin-team
