Repository fieldjoshua/UltrAI-Core, changes with the owners that CODEOWNERS names for each.
All owners: @documentation-team, @core-team, @ui-team, @ai-team, @backend-team, @qa-team, @devops-team, @admin-team

CODEOWNERS:

# UltraAI CODEOWNERS File
# This file defines code ownership and review requirements for the project
# Format: path/to/file/or/dir @username_or_team

# Documentation requires review by documentation team
/documentation/ @documentation-team

# Core patterns implementation requires careful review
/src/patterns/ @core-team

# Frontend components require UI team review
/frontend/src/components/ @ui-team

# Analysis logic requires AI team review
/src/analysis/ @ai-team

# API services require backend team review
/frontend/src/services/ @backend-team

# Hooks require careful review
/frontend/src/hooks/ @ui-team @core-team

# Test files
/tests/ @qa-team

# Configuration files require DevOps review
*.json @devops-team
*.yml @devops-team
*.config.js @devops-team

# Critical files that require multiple approvals
/src/patterns/ultra_analysis_patterns.py @core-team @ai-team
/documentation/instructions/PATTERNS.md @documentation-team @core-team
/frontend/src/components/UltraWithDocuments.tsx @ui-team @core-team
/frontend/src/services/api.ts @backend-team @core-team

# The CODEOWNERS file itself requires admin approval
/CODEOWNERS @admin-team

feat: complete Render Python runtime deployment solution
  DEPLOY_INSTRUCTIONS.md
  backend/app_minimal.py
  render-prod.yaml
  requirements-render.txt
  runtime.txt
Owners: none

fix: add psutil dependency and use minimal app for startup
  render-prod.yaml
  requirements-render.txt
Owners: none

fix: add psutil dependency and use minimal app for startup
  render-prod.yaml
  requirements-render.txt
Owners: none

fix: mvp-minimal deployment with all features
  .aicheck/actions/mvp-minimal-deployment/README.md
  .aicheck/actions/mvp-minimal-deployment/SUMMARY.md
  .aicheck/actions/mvp-minimal-deployment/mvp-minimal-deployment-plan.md
  .aicheck/actions/mvp-minimal-deployment/supporting_docs/complete-mvp-validation-test.py
  .aicheck/actions/mvp-minimal-deployment/supporting_docs/deployment-validation-test.py
  .aicheck/actions/mvp-minimal-deployment/supporting_docs/frontend-tests.py
  .aicheck/actions/mvp-minimal-deployment/supporting_docs/mvp-feature-requirements.md
  .aicheck/actions/mvp-minimal-deployment/supporting_docs/mvp-minimal-tests.py
  .aicheck/actions/mvp-minimal-deployment/supporting_docs/resource-monitoring-test.py
  .aicheck/actions/mvp-minimal-deployment/supporting_docs/run-mvp-validation.sh
  .aicheck/actions/mvp-minimal-deployment/supporting_docs/test-minimal-deployment.sh
  .aicheck/actions/mvp-minimal-deployment/supporting_docs/test_minimal_deployment.py
  .aicheck/current_action
  backend/app_minimal.py
  requirements-minimal.txt
  test_minimal_app.py
  test_mvp_minimal_simple.py
Owners: none

fix: mvp-minimal deployment with all features
  .aicheck/actions/mvp-minimal-deployment/README.md
  .aicheck/actions/mvp-minimal-deployment/SUMMARY.md
  .aicheck/actions/mvp-minimal-deployment/mvp-minimal-deployment-plan.md
  .aicheck/actions/mvp-minimal-deployment/supporting_docs/complete-mvp-validation-test.py
  .aicheck/actions/mvp-minimal-deployment/supporting_docs/deployment-validation-test.py
  .aicheck/actions/mvp-minimal-deployment/supporting_docs/frontend-tests.py
  .aicheck/actions/mvp-minimal-deployment/supporting_docs/mvp-feature-requirements.md
  .aicheck/actions/mvp-minimal-deployment/supporting_docs/mvp-minimal-tests.py
  .aicheck/actions/mvp-minimal-deployment/supporting_docs/resource-monitoring-test.py
  .aicheck/actions/mvp-minimal-deployment/supporting_docs/run-mvp-validation.sh
  .aicheck/actions/mvp-minimal-deployment/supporting_docs/test-minimal-deployment.sh
  .aicheck/actions/mvp-minimal-deployment/supporting_docs/test_minimal_deployment.py
  .aicheck/current_action
  backend/app_minimal.py
  requirements-minimal.txt
  test_minimal_app.py
  test_mvp_minimal_simple.py
Owners: none

Add SQLAlchemy support to Render deployment
  .aicheck/actions/index.html
  Dockerfile.render-minimal
  Dockerfile.ultra-minimal
  render.yaml
  requirements-render.txt
Owners: none

Add SQLAlchemy support to Render deployment
  .aicheck/actions/index.html
  Dockerfile.render-minimal
  Dockerfile.ultra-minimal
  render.yaml
  requirements-render.txt
Owners: none

Fix Render deployment dependencies
  requirements-render.txt
Owners: none

Fix Render deployment dependencies
  requirements-render.txt
Owners: none

Add sse-starlette to requirements-render.txt
  requirements-render.txt
Owners: none

Add sse-starlette to requirements-render.txt
  requirements-render.txt
Owners: none

Fix Render deployment with minimal dependencies
  .aicheck/RULES.md
  .aicheck/actions/mvp-minimal-deployment/mvp-minimal-deployment-plan.md
  .aicheck/actions/mvp-minimal-deployment/status.md
  .aicheck/actions/mvp-minimal-deployment/supporting_docs/dependency-audit.md
  Dockerfile.render-minimal
  Dockerfile.render-ultra-minimal
  app_simple.py
  app_ultra_simple.py
  backend/routes/external_dependencies_summary.md
  backend/routes/imports_analysis.md
  backend/routes/mvp_dependencies.txt
  deployment_logs_request.md
  missing_dependencies.md
  render_deployment_fix.md
  render_deployment_investigation.md
  requirements-render.txt.backup
  start_minimal.py
  test_minimal_env/bin/Activate.ps1
  test_minimal_env/bin/activate
  test_minimal_env/bin/activate.csh
  test_minimal_env/bin/activate.fish
  test_minimal_env/bin/pip
  test_minimal_env/bin/pip3
  test_minimal_env/bin/pip3.12
  test_minimal_env/bin/python
  test_minimal_env/bin/python3
  test_minimal_env/bin/python3.12
  test_minimal_env/pyvenv.cfg
  test_minimal_requirements.py
Owners: none

Fix Render deployment with minimal dependencies
  .aicheck/RULES.md
  .aicheck/actions/mvp-minimal-deployment/mvp-minimal-deployment-plan.md
  .aicheck/actions/mvp-minimal-deployment/status.md
  .aicheck/actions/mvp-minimal-deployment/supporting_docs/dependency-audit.md
  Dockerfile.render-minimal
  Dockerfile.render-ultra-minimal
  app_simple.py
  app_ultra_simple.py
  backend/routes/external_dependencies_summary.md
  backend/routes/imports_analysis.md
  backend/routes/mvp_dependencies.txt
  deployment_logs_request.md
  missing_dependencies.md
  render_deployment_fix.md
  render_deployment_investigation.md
  requirements-render.txt.backup
  start_minimal.py
  test_minimal_env/bin/Activate.ps1
  test_minimal_env/bin/activate
  test_minimal_env/bin/activate.csh
  test_minimal_env/bin/activate.fish
  test_minimal_env/bin/pip
  test_minimal_env/bin/pip3
  test_minimal_env/bin/pip3.12
  test_minimal_env/bin/python
  test_minimal_env/bin/python3
  test_minimal_env/bin/python3.12
  test_minimal_env/pyvenv.cfg
  test_minimal_requirements.py
Owners: none

Security fixes: remove exposed secrets
  .aicheck/actions/index.html
  .env.example
  .gitignore
  backend/config.py
  backend/routes/auth_routes.py
  documentation/security/security_best_practices.md
  jwt_secret.txt
Owners: @documentation-team

Security fixes: remove exposed secrets
  .aicheck/actions/index.html
  .env.example
  .gitignore
  backend/config.py
  backend/routes/auth_routes.py
  documentation/security/security_best_practices.md
  jwt_secret.txt
Owners: @documentation-team

Fix render deployment: add psutil dependency
  requirements-render.txt
Owners: none

Fix render deployment: add psutil dependency
  requirements-render.txt
Owners: none

Fix syntax error in orchestration init
  src/orchestration/__init__.py
Owners: none

Fix syntax error in orchestration init
  src/orchestration/__init__.py
Owners: none

Create fix-render-deployment-errors ACTION
  .aicheck/actions/fix-render-deployment-errors/fix-render-deployment-errors-plan.md
  app_health_only.py
  requirements-ultra-minimal.txt
Owners: none

Create fix-render-deployment-errors ACTION
  .aicheck/actions/fix-render-deployment-errors/fix-render-deployment-errors-plan.md
  app_health_only.py
  requirements-ultra-minimal.txt
Owners: none

Phase 1: Ultra-minimal deployment ready
  .aicheck/actions/fix-render-deployment-errors/fix-render-deployment-errors-plan.md
  .aicheck/actions/fix-render-deployment-errors/supporting_docs/deployment_strategy.md
  .aicheck/actions/index.html
  render-minimal.yaml
  security_audit_report_20250517_193700.json
  test_env/bin/Activate.ps1
  test_env/bin/activate
  test_env/bin/activate.csh
  test_env/bin/activate.fish
  test_env/bin/dotenv
  test_env/bin/gunicorn
  test_env/bin/pip
  test_env/bin/pip3
  test_env/bin/pip3.12
  test_env/bin/python
  test_env/bin/python3
  test_env/bin/python3.12
  test_env/bin/uvicorn
  test_env/bin/watchfiles
  test_env/bin/websockets
  test_env/pyvenv.cfg
Owners: @devops-team

Phase 1: Ultra-minimal deployment ready
  .aicheck/actions/fix-render-deployment-errors/fix-render-deployment-errors-plan.md
  .aicheck/actions/fix-render-deployment-errors/supporting_docs/deployment_strategy.md
  .aicheck/actions/index.html
  render-minimal.yaml
  security_audit_report_20250517_193700.json
  test_env/bin/Activate.ps1
  test_env/bin/activate
  test_env/bin/activate.csh
  test_env/bin/activate.fish
  test_env/bin/dotenv
  test_env/bin/gunicorn
  test_env/bin/pip
  test_env/bin/pip3
  test_env/bin/pip3.12
  test_env/bin/python
  test_env/bin/python3
  test_env/bin/python3.12
  test_env/bin/uvicorn
  test_env/bin/watchfiles
  test_env/bin/websockets
  test_env/pyvenv.cfg
Owners: @devops-team

Fix deployment configuration
  .aicheck/actions/fix-render-deployment-errors/fix-render-deployment-errors-plan.md
  .aicheck/actions/index.html
  render.yaml
  src/orchestration/base_orchestrator.py
Owners: none

Fix deployment configuration
  .aicheck/actions/fix-render-deployment-errors/fix-render-deployment-errors-plan.md
  .aicheck/actions/index.html
  render.yaml
  src/orchestration/base_orchestrator.py
Owners: none

Update render-prod.yaml for minimal deployment
  .aicheck/actions/index.html
  render-prod.yaml
Owners: none

Update render-prod.yaml for minimal deployment
  .aicheck/actions/index.html
  render-prod.yaml
Owners: none

Update render.yaml for minimal deployment
  .aicheck/actions/fix-render-deployment-errors/supporting_docs/deployment_strategy.md
  render.yaml
  render.yaml.backup
Owners: none

Update render.yaml for minimal deployment
  .aicheck/actions/fix-render-deployment-errors/supporting_docs/deployment_strategy.md
  render.yaml
  render.yaml.backup
Owners: none

Fix minimal Render deployment configuration
  .aicheck/actions/fix-render-deployment-errors/fix-render-deployment-errors-plan.md
  .aicheck/actions/index.html
  render.yaml
  scripts/start-render-minimal.sh
Owners: none

Fix minimal Render deployment configuration
  .aicheck/actions/fix-render-deployment-errors/fix-render-deployment-errors-plan.md
  .aicheck/actions/index.html
  render.yaml
  scripts/start-render-minimal.sh
Owners: none

Update ACTION plan deployment progress
  .aicheck/actions/fix-render-deployment-errors/fix-render-deployment-errors-plan.md
  .aicheck/actions/index.html
Owners: none

Update ACTION plan deployment progress
  .aicheck/actions/fix-render-deployment-errors/fix-render-deployment-errors-plan.md
  .aicheck/actions/index.html
Owners: none

Deploy Phase 2 with database support [mvp-minimal]
  .aicheck/actions/fix-render-deployment-errors/fix-render-deployment-errors-plan.md
  .aicheck/actions/index.html
  .aicheck/actions/mvp-minimal-deployment/mvp-minimal-deployment-plan.md
  app_with_database.py
  deployment_phase2_ready.md
  deployment_working_minimal_config.md
  next_steps_deployment.md
  render.yaml
  render_dashboard_configuration.md
  render_deployment_fix_startcommand.md
  render_deployment_investigation.md
  render_deployment_phase2.md
  requirements-phase2.txt
  scripts/verify-phase2-deployment.sh
  ultra_test.db
Owners: none

Deploy Phase 2 with database support [mvp-minimal]
  .aicheck/actions/fix-render-deployment-errors/fix-render-deployment-errors-plan.md
  .aicheck/actions/index.html
  .aicheck/actions/mvp-minimal-deployment/mvp-minimal-deployment-plan.md
  app_with_database.py
  deployment_phase2_ready.md
  deployment_working_minimal_config.md
  next_steps_deployment.md
  render.yaml
  render_dashboard_configuration.md
  render_deployment_fix_startcommand.md
  render_deployment_investigation.md
  render_deployment_phase2.md
  requirements-phase2.txt
  scripts/verify-phase2-deployment.sh
  ultra_test.db
Owners: none

Phase 3: Add authentication support [mvp-minimal]
  .aicheck/actions/index.html
  .aicheck/actions/mvp-minimal-deployment/mvp-minimal-deployment-plan.md
  .aicheck/actions/mvp-minimal-deployment/phase3-authentication-deployment.md
  app_with_auth.py
  render.yaml
  requirements-phase3.txt
  scripts/verify-phase3-deployment.sh
Owners: none

Phase 3: Add authentication support [mvp-minimal]
  .aicheck/actions/index.html
  .aicheck/actions/mvp-minimal-deployment/mvp-minimal-deployment-plan.md
  .aicheck/actions/mvp-minimal-deployment/phase3-authentication-deployment.md
  app_with_auth.py
  render.yaml
  requirements-phase3.txt
  scripts/verify-phase3-deployment.sh
Owners: none

Update Phase 3 ACTION plan - ready for deployment
  .aicheck/actions/index.html
  .aicheck/actions/mvp-minimal-deployment/phase3-authentication-deployment.md
Owners: none

Update Phase 3 ACTION plan - ready for deployment
  .aicheck/actions/index.html
  .aicheck/actions/mvp-minimal-deployment/phase3-authentication-deployment.md
Owners: none

Add production deployment with database and Redis support
  .aicheck/actions/index.html
  PRODUCTION_DEPLOYMENT_GUIDE.md
  app_production.py
  render.yaml
  requirements-production.txt
  scripts/verify-production-deployment.sh
Owners: none
