Repository fieldjoshua/UltrAI-Core, changes with the owners that CODEOWNERS names for each.
All owners: @documentation-team, @core-team, @ui-team, @ai-team, @backend-team, @qa-team, @devops-team, @admin-team

Trigger fresh deployment for baseline city
  frontend/src/components/CyberpunkCityBackground.css
Owners: @ui-team

Add simple cyberpunk test page for debugging baseline
  frontend/src/App.tsx
  frontend/src/pages/CyberpunkTest.tsx
Owners: none

Add simple cyberpunk test page for debugging baseline
  frontend/src/App.tsx
  frontend/src/pages/CyberpunkTest.tsx
Owners: none

Fix SVG color override - use !important to override built-in SVG attributes
  frontend/src/components/CyberpunkCityBackground.css
Owners: @ui-team

Fix SVG color override - use !important to override built-in SVG attributes
  frontend/src/components/CyberpunkCityBackground.css
Owners: @ui-team

Add simple SVG test page with basic rectangles
  frontend/public/test-simple.html
Owners: none

Add simple SVG test page with basic rectangles
  frontend/public/test-simple.html
Owners: none

Complete multi-provider model troubleshooting - fix concurrent execution timeouts
  .aicheck/actions/multi-provider-model-troubleshooting/multi-provider-model-troubleshooting-plan.md
  .aicheck/actions/multi-provider-model-troubleshooting/status.txt
  .aicheck/actions_index.md
  .aicheck/current_action
  tests/e2e/test_web_orchestrator_ui.py
Owners: @qa-team

Complete multi-provider model troubleshooting - fix concurrent execution timeouts
  .aicheck/actions/multi-provider-model-troubleshooting/multi-provider-model-troubleshooting-plan.md
  .aicheck/actions/multi-provider-model-troubleshooting/status.txt
  .aicheck/actions_index.md
  .aicheck/current_action
  tests/e2e/test_web_orchestrator_ui.py
Owners: @qa-team

Implement true Ultra Synthesis™ intelligence multiplication
  app/services/orchestration_service.py
Owners: none

Implement true Ultra Synthesis™ intelligence multiplication
  app/services/orchestration_service.py
Owners: none

Restructure UI to prominently display Ultra Synthesis™ as primary result
  frontend/src/components/OrchestratorInterface.jsx
Owners: @ui-team

Restructure UI to prominently display Ultra Synthesis™ as primary result
  frontend/src/components/OrchestratorInterface.jsx
Owners: @ui-team

Security: Fix all critical & high CVE vulnerabilities
  .aicheck/actions/dependency-hygiene/DONE.md
  .aicheck/actions/dependency-hygiene/PLAN.md
  .aicheck/actions/dependency-hygiene/status.txt
  .aicheck/actions/dependency-hygiene/vulnerability-summary.md
  .aicheck/current_action
  CLAUDE.md
  app/services/orchestration_service.py
  documentation/security/dependencies.txt
  documentation/security/sbom.json
  documentation/ui-ux/Images/1x/finalAsset 2tyyy.png
  documentation/ui-ux/Images/Final/finalAsset 3.svg
  documentation/ui-ux/Images/Final/finalAsset 3tyyy.svg
  documentation/ui-ux/Images/SVG/finalAsset 2.svg
  frontend/src/api/orchestrator.js
  poetry.lock
  pyproject.toml
  test_minimal_env/bin/f2py
  test_minimal_env/bin/fonttools
  test_minimal_env/bin/markdown_py
  test_minimal_env/bin/numpy-config
  test_minimal_env/bin/pip
  test_minimal_env/bin/pip3
  test_minimal_env/bin/pip3.12
  test_minimal_env/bin/pyftmerge
  test_minimal_env/bin/pyftsubset
  test_minimal_env/bin/pygmentize
  test_minimal_env/bin/ttx
Owners: @documentation-team, @devops-team

Security: Fix all critical & high CVE vulnerabilities
  .aicheck/actions/dependency-hygiene/DONE.md
  .aicheck/actions/dependency-hygiene/PLAN.md
  .aicheck/actions/dependency-hygiene/status.txt
  .aicheck/actions/dependency-hygiene/vulnerability-summary.md
  .aicheck/current_action
  CLAUDE.md
  app/services/orchestration_service.py
  documentation/security/dependencies.txt
  documentation/security/sbom.json
  documentation/ui-ux/Images/1x/finalAsset 2tyyy.png
  documentation/ui-ux/Images/Final/finalAsset 3.svg
  documentation/ui-ux/Images/Final/finalAsset 3tyyy.svg
  documentation/ui-ux/Images/SVG/finalAsset 2.svg
  frontend/src/api/orchestrator.js
  poetry.lock
  pyproject.toml
  test_minimal_env/bin/f2py
  test_minimal_env/bin/fonttools
  test_minimal_env/bin/markdown_py
  test_minimal_env/bin/numpy-config
  test_minimal_env/bin/pip
  test_minimal_env/bin/pip3
  test_minimal_env/bin/pip3.12
  test_minimal_env/bin/pyftmerge
  test_minimal_env/bin/pyftsubset
  test_minimal_env/bin/pygmentize
  test_minimal_env/bin/ttx
Owners: @documentation-team, @devops-team

Optimize orchestrator: 25% faster + security hardening
  .aicheck/actions/orchestrator-audit/AUDIT_REPORT.md
  .aicheck/actions/orchestrator-audit/orchestrator-audit-plan.md
  .aicheck/actions/orchestrator-audit/progress.md
  .aicheck/actions/orchestrator-audit/status.txt
  .aicheck/actions/orchestrator-security-optimization/IMPLEMENTATION_SUMMARY.md
  .aicheck/actions/orchestrator-security-optimization/PLAN.md
  .aicheck/actions/orchestrator-security-optimization/orchestrator-security-optimization-plan.md
  .aicheck/actions/orchestrator-security-optimization/progress.md
  .aicheck/actions/orchestrator-security-optimization/status.txt
  .aicheck/actions_index.md
  .aicheck/current_action
  app/services/llm_adapters.py
  app/services/orchestration_service.py
Owners: none

Optimize orchestrator: 25% faster + security hardening
  .aicheck/actions/orchestrator-audit/AUDIT_REPORT.md
  .aicheck/actions/orchestrator-audit/orchestrator-audit-plan.md
  .aicheck/actions/orchestrator-audit/progress.md
  .aicheck/actions/orchestrator-audit/status.txt
  .aicheck/actions/orchestrator-security-optimization/IMPLEMENTATION_SUMMARY.md
  .aicheck/actions/orchestrator-security-optimization/PLAN.md
  .aicheck/actions/orchestrator-security-optimization/orchestrator-security-optimization-plan.md
  .aicheck/actions/orchestrator-security-optimization/progress.md
  .aicheck/actions/orchestrator-security-optimization/status.txt
  .aicheck/actions_index.md
  .aicheck/current_action
  app/services/llm_adapters.py
  app/services/orchestration_service.py
Owners: none

✨ Streamline Ultra Synthesis™ output with user options
  .aicheck/actions/production-system-audit-fix/PRODUCTION_VALIDATION_REPORT.md
  app/routes/orchestrator_minimal.py
  app/services/orchestration_service.py
  frontend/build_output.txt
Owners: none

✨ Streamline Ultra Synthesis™ output with user options
  .aicheck/actions/production-system-audit-fix/PRODUCTION_VALIDATION_REPORT.md
  app/routes/orchestrator_minimal.py
  app/services/orchestration_service.py
  frontend/build_output.txt
Owners: none

📚 Update documentation after test-suite-cleanup completion
  .aicheck/ACTION_TIMELINE.md
  .aicheck/actions/completed/test-suite-cleanup/progress.md
  .aicheck/actions/completed/test-suite-cleanup/status.txt
  .aicheck/actions/completed/test-suite-cleanup/test-suite-cleanup-plan.md
  .aicheck/actions/test-suite-cleanup/status.txt
  .aicheck/actions_index.md
  .aicheck/current_action
Owners: none

📚 Update documentation after test-suite-cleanup completion
  .aicheck/ACTION_TIMELINE.md
  .aicheck/actions/completed/test-suite-cleanup/progress.md
  .aicheck/actions/completed/test-suite-cleanup/status.txt
  .aicheck/actions/completed/test-suite-cleanup/test-suite-cleanup-plan.md
  .aicheck/actions/test-suite-cleanup/status.txt
  .aicheck/actions_index.md
  .aicheck/current_action
Owners: none

✨ Ultra Synthesis™ Optimization: Enhanced Prompts, Smart Model Selection & Availability Checker
  .aicheck/actions/cyberpunk-ui-enhancement/status.txt
  .aicheck/actions/directory-cleanup-organization/directory-cleanup-organization-plan.md
  .aicheck/actions/directory-cleanup-organization/progress.md
  .aicheck/actions/directory-cleanup-organization/status.txt
  .aicheck/actions/directory-cleanup-organization/todo.md
  .aicheck/actions/implement-ultra-synthesis-proper/status.txt
  .aicheck/actions/security-vulnerability-analysis/progress.md
  .aicheck/actions/security-vulnerability-analysis/security-vulnerability-analysis-plan.md
  .aicheck/actions/security-vulnerability-analysis/status.txt
  .aicheck/actions/ultra-synthesis-optimization/expert-ultras-concept.md
  .aicheck/actions/ultra-synthesis-optimization/implementation-summary.md
  .aicheck/actions/ultra-synthesis-optimization/model-availability-example.md
  .aicheck/actions/ultra-synthesis-optimization/progress.md
  .aicheck/actions/ultra-synthesis-optimization/status.txt
  .aicheck/actions/ultra-synthesis-optimization/todo.md
  .aicheck/actions/ultra-synthesis-optimization/ultra-synthesis-optimization-plan.md
  .aicheck/actions_index.md
  .aicheck/current_action
  CLAUDE.md
  aicheck.backup.20250607_151425
  aicheck.old
  app/app.py
  app/main.py
  app/routes/model_availability_routes.py
  app/routes/orchestrator_minimal.py
  app/services/model_availability.py
  app/services/model_selection.py
  app/services/orchestration_service.py
  app/services/synthesis_output.py
  app/services/synthesis_prompts.py
  model_performance_metrics.json
Owners: @devops-team

✨ Ultra Synthesis™ Optimization: Enhanced Prompts, Smart Model Selection & Availability Checker
  .aicheck/actions/cyberpunk-ui-enhancement/status.txt
  .aicheck/actions/directory-cleanup-organization/directory-cleanup-organization-plan.md
  .aicheck/actions/directory-cleanup-organization/progress.md
  .aicheck/actions/directory-cleanup-organization/status.txt
  .aicheck/actions/directory-cleanup-organization/todo.md
  .aicheck/actions/implement-ultra-synthesis-proper/status.txt
  .aicheck/actions/security-vulnerability-analysis/progress.md
  .aicheck/actions/security-vulnerability-analysis/security-vulnerability-analysis-plan.md
  .aicheck/actions/security-vulnerability-analysis/status.txt
  .aicheck/actions/ultra-synthesis-optimization/expert-ultras-concept.md
  .aicheck/actions/ultra-synthesis-optimization/implementation-summary.md
  .aicheck/actions/ultra-synthesis-optimization/model-availability-example.md
  .aicheck/actions/ultra-synthesis-optimization/progress.md
  .aicheck/actions/ultra-synthesis-optimization/status.txt
  .aicheck/actions/ultra-synthesis-optimization/todo.md
  .aicheck/actions/ultra-synthesis-optimization/ultra-synthesis-optimization-plan.md
  .aicheck/actions_index.md
  .aicheck/current_action
  CLAUDE.md
  aicheck.backup.20250607_151425
  aicheck.old
  app/app.py
  app/main.py
  app/routes/model_availability_routes.py
  app/routes/orchestrator_minimal.py
  app/services/model_availability.py
  app/services/model_selection.py
  app/services/orchestration_service.py
  app/services/synthesis_output.py
  app/services/synthesis_prompts.py
  model_performance_metrics.json
Owners: @devops-team

🐛 Fix Redis URL validation to handle empty/invalid URLs gracefully
  app/services/transaction_service.py
Owners: none

🐛 Fix Redis URL validation to handle empty/invalid URLs gracefully
  app/services/transaction_service.py
Owners: none

Fix CORS and deployment issues
  app/app.py
  app/config_cors.py
  app/main.py
  app/services/model_selection.py
Owners: none

Fix CORS and deployment issues
  app/app.py
  app/config_cors.py
  app/main.py
  app/services/model_selection.py
Owners: none

Fix production deployment - make enhancements optional
  app/services/orchestration_service.py
  model_performance_metrics.json
Owners: @devops-team

Fix production deployment - make enhancements optional
  app/services/orchestration_service.py
  model_performance_metrics.json
Owners: @devops-team

Add enhanced output formatting with initial responses
  app/routes/orchestrator_minimal.py
  app/services/output_formatter.py
Owners: none

Add enhanced output formatting with initial responses
  app/routes/orchestrator_minimal.py
  app/services/output_formatter.py
Owners: none

Complete ultra-synthesis-optimization action with deployment verification
  .aicheck/###STICKIES/4_29_25
  .aicheck/actions/ultra-synthesis-optimization/supporting_docs/deployment-verification.md
  .aicheck/actions/ultra-synthesis-optimization/ultra-synthesis-optimization-plan.md
  model_performance_metrics.json
Owners: @devops-team

Complete ultra-synthesis-optimization action with deployment verification
  .aicheck/###STICKIES/4_29_25
  .aicheck/actions/ultra-synthesis-optimization/supporting_docs/deployment-verification.md
  .aicheck/actions/ultra-synthesis-optimization/ultra-synthesis-optimization-plan.md
  model_performance_metrics.json
Owners: @devops-team

Update action completion documentation for ultra-synthesis-optimization
  .aicheck/ACTION_TIMELINE.md
  .aicheck/actions/completed/ultra-synthesis-optimization/expert-ultras-concept.md
  .aicheck/actions/completed/ultra-synthesis-optimization/implementation-summary.md
  .aicheck/actions/completed/ultra-synthesis-optimization/model-availability-example.md
  .aicheck/actions/completed/ultra-synthesis-optimization/progress.md
  .aicheck/actions/completed/ultra-synthesis-optimization/status.txt
  .aicheck/actions/completed/ultra-synthesis-optimization/supporting_docs/deployment-verification.md
  .aicheck/actions/completed/ultra-synthesis-optimization/todo.md
  .aicheck/actions/completed/ultra-synthesis-optimization/ultra-synthesis-optimization-plan.md
  .aicheck/actions_index.md
  documentation/deployment/ultra-synthesis-optimization-deployment.md
Owners: @documentation-team

Update action completion documentation for ultra-synthesis-optimization
  .aicheck/ACTION_TIMELINE.md
  .aicheck/actions/completed/ultra-synthesis-optimization/expert-ultras-concept.md
  .aicheck/actions/completed/ultra-synthesis-optimization/implementation-summary.md
  .aicheck/actions/completed/ultra-synthesis-optimization/model-availability-example.md
  .aicheck/actions/completed/ultra-synthesis-optimization/progress.md
  .aicheck/actions/completed/ultra-synthesis-optimization/status.txt
  .aicheck/actions/completed/ultra-synthesis-optimization/supporting_docs/deployment-verification.md
  .aicheck/actions/completed/ultra-synthesis-optimization/todo.md
  .aicheck/actions/completed/ultra-synthesis-optimization/ultra-synthesis-optimization-plan.md
  .aicheck/actions_index.md
  documentation/deployment/ultra-synthesis-optimization-deployment.md
Owners: @documentation-team

Fix pipeline details formatting and ensure original drafts are accessible
  app/routes/orchestrator_minimal.py
  model_performance_metrics.json
  test_ultra_synthesis_complete.py
Owners: @devops-team

Fix pipeline details formatting and ensure original drafts are accessible
  app/routes/orchestrator_minimal.py
  model_performance_metrics.json
  test_ultra_synthesis_complete.py
Owners: @devops-team

Fix AICheck system and set directory-cleanup-organization as active action
  .aicheck/actions/directory-cleanup-organization/directory-cleanup-organization-plan.md
  .aicheck/actions/directory-cleanup-organization/progress.md
  .aicheck/actions/directory-cleanup-organization/status.txt
  .aicheck/actions/directory-cleanup-organization/supporting_docs/claude-interactions/README.md
  .aicheck/actions_index.md
  .aicheck/current_action
Owners: none

Fix AICheck system and set directory-cleanup-organization as active action
  .aicheck/actions/directory-cleanup-organization/directory-cleanup-organization-plan.md
  .aicheck/actions/directory-cleanup-organization/progress.md
  .aicheck/actions/directory-cleanup-organization/status.txt
  .aicheck/actions/directory-cleanup-organization/supporting_docs/claude-interactions/README.md
  .aicheck/actions_index.md
  .aicheck/current_action
Owners: none

Fix aicheck script errors - integer expression and missing function
  aicheck
  aicheck_fix.patch
Owners: none

CODEOWNERS:

# UltraAI CODEOWNERS File
# This file defines code ownership and review requirements for the project
# Format: path/to/file/or/dir @username_or_team

# Documentation requires review by documentation team
/documentation/ @documentation-team

# Core patterns implementation requires careful review
/src/patterns/ @core-team

# Frontend components require UI team review
/frontend/src/components/ @ui-team

# Analysis logic requires AI team review
/src/analysis/ @ai-team

# API services require backend team review
/frontend/src/services/ @backend-team

# Hooks require careful review
/frontend/src/hooks/ @ui-team @core-team

# Test files
/tests/ @qa-team

# Configuration files require DevOps review
*.json @devops-team
*.yml @devops-team
*.config.js @devops-team

# Critical files that require multiple approvals
/src/patterns/ultra_analysis_patterns.py @core-team @ai-team
/documentation/instructions/PATTERNS.md @documentation-team @core-team
/frontend/src/components/UltraWithDocuments.tsx @ui-team @core-team
/frontend/src/services/api.ts @backend-team @core-team

# The CODEOWNERS file itself requires admin approval
/CODEOWNERS @admin-team
