Repository fieldjoshua/UltrAI-Core, changes with the owners that CODEOWNERS names for each.
All owners: @documentation-team, @core-team, @ui-team, @ai-team, @backend-team, @qa-team, @devops-team, @admin-team

fix: resolve JWT configuration loading order issue
  .vscode/settings.json
  STATUS.md
  app/utils/jwt_utils.py
Owners: @devops-team

fix: resolve import errors in recovery and API failure services
  STATUS.md
  app/services/api_failure_handler.py
  app/services/recovery_service.py
Owners: none

chore: update critical security dependencies and progress
  STATUS.md
Owners: none

fix: ensure environment variables load before imports for JWT configuration
  app_development.py
  app_production.py
  model_performance_metrics.json
  test_api_keys.py
  test_new_api_keys.py
Owners: @devops-team

fix: enable orchestration pipeline with forced model fallback
  CLAUDE.md
  app/routes/orchestrator_minimal.py
  app/services/orchestration_service.py
  model_performance_metrics.json
  test_simple_endpoint.py
Owners: @devops-team

fix: improve model availability detection and add diagnostic endpoint
  app/routes/orchestrator_minimal.py
  app/services/orchestration_service.py
  render.yaml
Owners: none

fix: add fallback handling for missing API keys
  app/services/orchestration_service.py
  check_env.py
  scripts/check_deployment.sh
Owners: none

fix: ensure environment variables load before imports in production
  app_production.py
Owners: none

docs: add git branch audit report
  git-branch-audit-report.md
Owners: none

docs: add reconciliation plan and stash CyberWizard changes
  frontend/src/components/CyberWizard.tsx
  git-reconciliation-plan.md
Owners: @ui-team

docs: add git workflow documentation and clean system
  GIT-WORKFLOW.md
  simple-git-fix.md
Owners: none

Disable financial services for simplified deployment
  app/app.py
  app/routes/user_routes_simple.py
  app/services/orchestration_service.py
  branch-cleanup-summary.md
  documentation/SERVICE_ARCHITECTURE.md
  scripts/cleanup-branches.sh
  scripts/verify-core-services.py
Owners: @documentation-team

Test staging
  .env.staging
  DEPLOYMENT_READY.md
  DEPLOYMENT_STRATEGY.md
  README.md
  RENDER_CONFIGURATION.md
  RENDER_SERVICE_CLARIFICATION.md
  SIMPLE_DEPLOYMENT_GUIDE.md
  app/services/transaction_service_db.py
  frontend/.env.staging
  scripts/check-deployment.sh
  scripts/check-render-services.sh
  scripts/check_dependencies.sh
  scripts/deploy-production.sh
  scripts/deploy-staging.sh
  scripts/run_tests.sh
  scripts/setup-deployment.sh
  scripts/test-deployment-flow.sh
  scripts/update_git.sh
Owners: none

fix: update scripts to use correct production URL (ultrai-prod-api)
  scripts/check-deployment.sh
  scripts/deploy-production.sh
Owners: none

Fix merge conflict in app_production.py
  app_production.py
Owners: none

Fix merge conflict in mockOrchestrator.js
  frontend/src/api/mockOrchestrator.js
Owners: none

Trigger staging restart to load env vars
  README.md
Owners: none

Fix Render build configurations: dynamic ports and frontend builds
  .gitignore
  IMPORTANT_SECURITY_NOTICE.md
  RENDER_QUICK_SETUP.md
  RENDER_SETUP_INSTRUCTIONS.md
  RENDER_STAGING_FIX.md
  app_production.py
  claude_desktop_config_example.json
  render-production.yaml
  render-staging.yaml
  scripts/quick-staging-fix.sh
  scripts/verify-render-config.sh
  scripts/verify-render-setup.sh
  setup-mcp.sh
  setup-render-mcp.md
Owners: @devops-team

Fix model availability detection - handle dict responses properly
  app/services/model_availability.py
Owners: none

Fix health check to handle rate limiting gracefully
  CLAUDE.md
  COMPLETE_ANALYSIS_AND_RECOMMENDATIONS.md
  HEALTH_CHECK_FIX_SUMMARY.md
  LLM_DEGRADATION_ANALYSIS.md
  RENDER_LOG_INVESTIGATION.md
  STAGING_FINDINGS_FINAL.md
  STAGING_STATUS_REPORT.md
  TASK_FOR_OTHER_AI.md
  app/services/health_service.py
  app/utils/health_check.py
  frontend/src/api/orchestrator.js
  scripts/diagnose-llm-issues.sh
  scripts/test-staging-correct.sh
  scripts/test-staging-endpoints.py
  tests/integration/test_correct_endpoints.py
  tests/unit/test_health_check_behavior.py
Owners: @qa-team

docs(oversight): codify collaboration policies and procedures; ui: fallback to orchestrator status for models when healthy_only empty; link docs in cursor-rules and CLAUDE.md
  ACTIVE_TASKS.md
  AI_COLLABORATION_PROTOCOL.md
  CLAUDE.md
  DELEGATION_001_SECURITY_AUDIT.md
  docs/OVERSIGHT_README.md
  docs/cursor-rules.md
Owners: none

refactor: separate frontend and backend Render deployments
  CLAUDE.md
  RENDER_TASKS_FOR_OTHER_AI.md
  render-configuration-update-summary.md
  render-frontend-demo.yaml
  render-frontend-production.yaml
  render-frontend-staging.yaml
  render-old-deprecated.yaml
  render-production.yaml
  render-services-audit.md
  render-staging.yaml
  scripts/verify-render-config.sh
Owners: none

UX: add skeletons, inline helper, and toasts in OrchestratorInterface; add accessibility shim
  frontend/src/components/OrchestratorInterface.jsx
  frontend/src/utils/accessibility.ts
Owners: @ui-team

UX: lazy-load SSEPanel and persist orchestrator session (prompt/models/pattern)
  frontend/src/components/OrchestratorInterface.jsx
Owners: @ui-team

UX: respect prefers-reduced-motion in AnalysisProgress; AVIF/WebP/JPEG background image-set; lazy-load AnalysisPatternSelector
  frontend/src/components/OrchestratorInterface.jsx
  frontend/src/components/atoms/AnalysisProgress.tsx
  frontend/src/skins/morning.css
  frontend/src/skins/night.css
  frontend/src/skins/sunset.css
Owners: @ui-team

Refactor: bridge design tokens into Button/Card via CSS vars (minimal diff)
  frontend/src/components/Card.tsx
  frontend/src/components/ui/button.tsx
Owners: @ui-team

Refactor: apply design tokens to Input and Checkbox via CSS vars
  frontend/src/components/Input.tsx
  frontend/src/components/ui/checkbox.tsx
Owners: @ui-team

Refactor: apply design tokens to Textarea and Label (CSS vars)
  frontend/src/components/Label.tsx
  frontend/src/components/Textarea.tsx
Owners: @ui-team

Chore: add Storybook (react-vite) and basic Button/Card stories
  frontend/.storybook/main.ts
  frontend/.storybook/preview.ts
  frontend/package.json
  frontend/src/components/Card.stories.tsx
  frontend/src/components/ui/Button.stories.tsx
Owners: @devops-team, @ui-team

chore(lint): fix flake8 errors in orchestration/recovery; deprecate utils rate limit shim
  app/services/orchestration_service.py
  app/services/recovery_service.py
  app/utils/rate_limit_middleware.py
Owners: none

feat(frontend): major UI/UX improvements for mobile and accessibility
  frontend/UI_UX_AUDIT_REPORT.md
  frontend/src/App.tsx
  frontend/src/components/CollapsibleReceipt.tsx
  frontend/src/components/CyberWizard.tsx
  frontend/src/components/SkinSwitcher.tsx
  frontend/src/components/ui/TouchTarget.tsx
  frontend/src/design-tokens/tokens.ts
  frontend/src/styles/globals.css
  frontend/src/styles/mobile.css
  frontend/src/styles/wcag-colors.css
Owners: @ui-team

feat(ui): add prefers-reduced-motion support with animation toggle
  frontend/src/components/AnimationToggle.tsx
  frontend/src/components/SkinSwitcher.tsx
  frontend/src/components/ui/switch.tsx
  frontend/src/components/wizard/CyberWizard.tsx
  frontend/src/hooks/useReducedMotion.ts
  frontend/src/styles/mobile.css
Owners: @ui-team, @core-team

tests: stabilize e2e/integration, gate live tests, sync provider resilience config; docs: update test_consolidation_report
  app/services/llm_adapters.py
  app/services/resilient_llm_adapter.py
  frontend/CLAUDE.md
  frontend/package-lock.json
  frontend/package.json
  frontend/src/__tests__/accessibility/wizard.a11y.test.tsx
  frontend/src/__tests__/api/orchestrator.test.ts
  frontend/src/__tests__/components/CyberWizard.test.tsx
  frontend/src/__tests__/components/wizard/CyberWizard.test.tsx
  frontend/src/__tests__/simple.test.ts
  frontend/src/__tests__/stores/authStore.test.ts
  frontend/src/api/auth.ts
  frontend/src/api/orchestrator.ts
  frontend/src/components/CyberWizard.tsx
  frontend/src/test/test-utils.tsx
  frontend/tsconfig.json
  model_performance_metrics.json
  test_consolidation_report.md
  tests/e2e/test_cache_in_orchestration.py
  tests/e2e/test_e2e_financial_flow.py
  tests/integration/test_correct_endpoints.py
  tests/live/test_demo_endpoints.py
  tests/live/test_live_online_ui.py
  tests/live/test_live_providers.py
  tests/unit/test_service_unavailable.py
  tests/unit/test_single_model_fallback.py
Owners: @devops-team, @ui-team, @qa-team

test: implement comprehensive testing suite for frontend
  frontend/src/__tests__/components/wizard/WizardFlow.test.tsx
  frontend/src/test/setupEnv.ts
  frontend/src/test/setupTests.ts
Owners: none

refactor: migrate state management from Redux to Zustand
  frontend/src/__tests__/stores/documentsStore.test.ts
  frontend/src/components/Toast.tsx
  frontend/src/components/documents/DocumentList.tsx
  frontend/src/components/documents/DocumentUpload.tsx
  frontend/src/main.jsx
  frontend/src/pages/DocumentsPage.tsx
  frontend/src/stores/MIGRATION_GUIDE.md
  frontend/src/stores/README.md
  frontend/src/stores/documentsStore.ts
  frontend/src/stores/uiStore.ts
  pytest.ini
  tests/integration/test_correct_endpoints.py
Owners: @ui-team, @qa-team

test: fix CyberWizard test expectations to match refactored components
  frontend/src/__tests__/components/CyberWizard.test.tsx
  frontend/src/__tests__/components/wizard/CyberWizard.test.tsx
Owners: none

test: apply uncommitted test fixes from other editor
  frontend/src/__tests__/components/wizard/CyberWizard.test.tsx
Owners: none

Policy: require MINIMUM_MODELS_REQUIRED=3; prepare three-model gates
  app/config.py
Owners: none

Enforce three-model minimum: backend gate, streaming gate, UI guard
  app/routes/orchestrator_minimal.py
  app/services/orchestration_service.py
  app/services/streaming_orchestration_service.py
  frontend/src/components/wizard/CyberWizard.tsx
Owners: @ui-team

Enforce provider trio (OpenAI/Anthropic/Google): config + route + pipeline + streaming + tests
  app/config.py
  app/routes/orchestrator_minimal.py
  app/services/orchestration_service.py
  app/services/streaming_orchestration_service.py
  tests/unit/test_three_model_policy.py
Owners: @qa-team

CODEOWNERS:

# UltraAI CODEOWNERS File
# This file defines code ownership and review requirements for the project
# Format: path/to/file/or/dir @username_or_team

# Documentation requires review by documentation team
/documentation/ @documentation-team

# Core patterns implementation requires careful review
/src/patterns/ @core-team

# Frontend components require UI team review
/frontend/src/components/ @ui-team

# Analysis logic requires AI team review
/src/analysis/ @ai-team

# API services require backend team review
/frontend/src/services/ @backend-team

# Hooks require careful review
/frontend/src/hooks/ @ui-team @core-team

# Test files
/tests/ @qa-team

# Configuration files require DevOps review
*.json @devops-team
*.yml @devops-team
*.config.js @devops-team

# Critical files that require multiple approvals
/src/patterns/ultra_analysis_patterns.py @core-team @ai-team
/documentation/instructions/PATTERNS.md @documentation-team @core-team
/frontend/src/components/UltraWithDocuments.tsx @ui-team @core-team
/frontend/src/services/api.ts @backend-team @core-team

# The CODEOWNERS file itself requires admin approval
/CODEOWNERS @admin-team
