Repository fieldjoshua/UltrAI-Core, changes with the owners that CODEOWNERS names for each.
All owners: @documentation-team, @core-team, @ui-team, @ai-team, @backend-team, @qa-team, @devops-team, @admin-team

CODEOWNERS:

# UltraAI CODEOWNERS File
# This file defines code ownership and review requirements for the project
# Format: path/to/file/or/dir @username_or_team

# Documentation requires review by documentation team
/documentation/ @documentation-team

# Core patterns implementation requires careful review
/src/patterns/ @core-team

# Frontend components require UI team review
/frontend/src/components/ @ui-team

# Analysis logic requires AI team review
/src/analysis/ @ai-team

# API services require backend team review
/frontend/src/services/ @backend-team

# Hooks require careful review
/frontend/src/hooks/ @ui-team @core-team

# Test files
/tests/ @qa-team

# Configuration files require DevOps review
*.json @devops-team
*.yml @devops-team
*.config.js @devops-team

# Critical files that require multiple approvals
/src/patterns/ultra_analysis_patterns.py @core-team @ai-team
/documentation/instructions/PATTERNS.md @documentation-team @core-team
/frontend/src/components/UltraWithDocuments.tsx @ui-team @core-team
/frontend/src/services/api.ts @backend-team @core-team

# The CODEOWNERS file itself requires admin approval
/CODEOWNERS @admin-team

Deploy to production
  .aicheck/actions/fix-orchestrator-real-models/fix-orchestrator-real-models-plan.md
  .aicheck/actions/fix-orchestrator-real-models/status.txt
  .aicheck/actions/implement-ultra-synthesis-proper/implement-ultra-synthesis-proper-plan.md
  .aicheck/actions/implement-ultra-synthesis-proper/progress.md
  .aicheck/actions/implement-ultra-synthesis-proper/status.txt
  .aicheck/actions_index.md
  .aicheck/current_action
  CLAUDE.md
  app/services/llm_adapters.py
  app/services/orchestration_service.py
Owners: none

Fix HuggingFace free tier integration for orchestrator
  app/services/orchestration_service.py
Owners: none

Fix HuggingFace free tier integration for orchestrator
  app/services/orchestration_service.py
Owners: none

Fix HuggingFace model detection for all org/model patterns [implement-ultra-synthesis-proper]
  app/services/orchestration_service.py
Owners: none

Fix HuggingFace model detection for all org/model patterns [implement-ultra-synthesis-proper]
  app/services/orchestration_service.py
Owners: none

Remove demo responses, require real API keys for all models [implement-ultra-synthesis-proper]
  app/services/orchestration_service.py
Owners: none

Remove demo responses, require real API keys for all models [implement-ultra-synthesis-proper]
  app/services/orchestration_service.py
Owners: none

Add comprehensive test suite for Ultra Synthesis orchestrator [create-comprehensive-orchestrator-tests]
  .aicheck/actions/create-comprehensive-orchestrator-tests/create-comprehensive-orchestrator-tests-plan.md
  .aicheck/actions/create-comprehensive-orchestrator-tests/progress.md
  .aicheck/actions/create-comprehensive-orchestrator-tests/status.txt
  .aicheck/actions/implement-ultra-synthesis-proper/supporting_docs/deployment-verification.md
  .aicheck/actions_index.md
  .aicheck/current_action
  app/services/orchestration_service.py
  tests/test_llm_adapters_comprehensive.py
  tests/test_orchestration_synthesis.py
Owners: @qa-team

Add comprehensive test suite for Ultra Synthesis orchestrator [create-comprehensive-orchestrator-tests]
  .aicheck/actions/create-comprehensive-orchestrator-tests/create-comprehensive-orchestrator-tests-plan.md
  .aicheck/actions/create-comprehensive-orchestrator-tests/progress.md
  .aicheck/actions/create-comprehensive-orchestrator-tests/status.txt
  .aicheck/actions/implement-ultra-synthesis-proper/supporting_docs/deployment-verification.md
  .aicheck/actions_index.md
  .aicheck/current_action
  app/services/orchestration_service.py
  tests/test_llm_adapters_comprehensive.py
  tests/test_orchestration_synthesis.py
Owners: @qa-team

Fix orchestrator to use premium models in production
  app/services/orchestration_service.py
Owners: none

Fix orchestrator to use premium models in production
  app/services/orchestration_service.py
Owners: none

Fix ultra-synthesis to handle failed meta-analysis gracefully
  app/services/orchestration_service.py
Owners: none

Fix ultra-synthesis to handle failed meta-analysis gracefully
  app/services/orchestration_service.py
Owners: none

Fix ultra-synthesis data structure validation and error reporting
  app/services/orchestration_service.py
Owners: none

Fix ultra-synthesis data structure validation and error reporting
  app/services/orchestration_service.py
Owners: none

Claude PR Assistant workflow
  .github/workflows/claude.yml
Owners: @devops-team

Claude PR Assistant workflow
  .github/workflows/claude.yml
Owners: @devops-team

Claude Code Review workflow
  .github/workflows/claude-code-review.yml
Owners: @devops-team

Claude Code Review workflow
  .github/workflows/claude-code-review.yml
Owners: @devops-team

Fix CORS middleware configuration for frontend-backend communication
  app/app.py
Owners: none

Fix CORS middleware configuration for frontend-backend communication
  app/app.py
Owners: none

Fix PostgreSQL connection to use Render managed database
  app/database/connection.py
Owners: none

Fix PostgreSQL connection to use Render managed database
  app/database/connection.py
Owners: none

Fix frontend timeout for Ultra Synthesis™ analysis requests
  frontend/dist/assets/index-CRHz0HtY.js
  frontend/dist/index.html
  frontend/src/services/api.ts
Owners: @backend-team, @core-team

Fix frontend timeout for Ultra Synthesis™ analysis requests
  frontend/dist/assets/index-CRHz0HtY.js
  frontend/dist/index.html
  frontend/src/services/api.ts
Owners: @backend-team, @core-team

Fix orchestrator to execute multiple models concurrently
  app/services/orchestration_service.py
Owners: none

Fix orchestrator to execute multiple models concurrently
  app/services/orchestration_service.py
Owners: none

Add database connection debugging to troubleshoot localhost issue
  app/database/connection.py
Owners: none

Add database connection debugging to troubleshoot localhost issue
  app/database/connection.py
Owners: none

Fix multi-provider model issues: database env vars and Google AI dependency
  .aicheck/actions/create-comprehensive-orchestrator-tests/create-comprehensive-orchestrator-tests-plan.md
  .aicheck/actions/multi-provider-model-troubleshooting/multi-provider-model-troubleshooting-plan.md
  .aicheck/actions/multi-provider-model-troubleshooting/progress.md
  .aicheck/actions/multi-provider-model-troubleshooting/status.txt
  .aicheck/actions/ultrai-production-readiness/progress.md
  .aicheck/actions/ultrai-production-readiness/status.txt
  .aicheck/actions/ultrai-production-readiness/supporting_docs/cors-fix-deployment.md
  .aicheck/actions/ultrai-production-readiness/supporting_docs/database-fix-deployment.md
  .aicheck/actions/ultrai-production-readiness/supporting_docs/deployment-verification.md
  .aicheck/actions/ultrai-production-readiness/supporting_docs/frontend-integration-test.md
  .aicheck/actions/ultrai-production-readiness/supporting_docs/frontend-timeout-fix.md
  .aicheck/actions/ultrai-production-readiness/supporting_docs/multi-model-orchestration-analysis.md
  .aicheck/actions/ultrai-production-readiness/ultrai-production-readiness-plan.md
  .aicheck/actions_index.md
  .aicheck/current_action
  .claude/summaries/2025-01-07_174530_premium_models_update.txt
  CLAUDE.md
  app/database/connection.py
  create_working_version.py
  requests.py
  tests/README_TESTING.md
  tests/test_llm_adapters_comprehensive.py
  tests/test_orchestration_synthesis.py
Owners: @qa-team

Fix multi-provider model issues: database env vars and Google AI dependency
  .aicheck/actions/create-comprehensive-orchestrator-tests/create-comprehensive-orchestrator-tests-plan.md
  .aicheck/actions/multi-provider-model-troubleshooting/multi-provider-model-troubleshooting-plan.md
  .aicheck/actions/multi-provider-model-troubleshooting/progress.md
  .aicheck/actions/multi-provider-model-troubleshooting/status.txt
  .aicheck/actions/ultrai-production-readiness/progress.md
  .aicheck/actions/ultrai-production-readiness/status.txt
  .aicheck/actions/ultrai-production-readiness/supporting_docs/cors-fix-deployment.md
  .aicheck/actions/ultrai-production-readiness/supporting_docs/database-fix-deployment.md
  .aicheck/actions/ultrai-production-readiness/supporting_docs/deployment-verification.md
  .aicheck/actions/ultrai-production-readiness/supporting_docs/frontend-integration-test.md
  .aicheck/actions/ultrai-production-readiness/supporting_docs/frontend-timeout-fix.md
  .aicheck/actions/ultrai-production-readiness/supporting_docs/multi-model-orchestration-analysis.md
  .aicheck/actions/ultrai-production-readiness/ultrai-production-readiness-plan.md
  .aicheck/actions_index.md
  .aicheck/current_action
  .claude/summaries/2025-01-07_174530_premium_models_update.txt
  CLAUDE.md
  app/database/connection.py
  create_working_version.py
  requests.py
  tests/README_TESTING.md
  tests/test_llm_adapters_comprehensive.py
  tests/test_orchestration_synthesis.py
Owners: @qa-team

Add debug environment variables endpoint for Render troubleshooting
  app/app.py
  app/routes/debug_env_routes.py
Owners: none

Add debug environment variables endpoint for Render troubleshooting
  app/app.py
  app/routes/debug_env_routes.py
Owners: none

Fix database connection timing - read DATABASE_URL at runtime not import
  app/database/connection.py
Owners: none

Fix database connection timing - read DATABASE_URL at runtime not import
  app/database/connection.py
Owners: none

Implement correct Ultra Synthesis™ peer review architecture
  app/services/orchestration_service.py
Owners: none

Implement correct Ultra Synthesis™ peer review architecture
  app/services/orchestration_service.py
Owners: none

Deploy peer review architecture implementation
  test_direct_apis.py
Owners: none

Deploy peer review architecture implementation
  test_direct_apis.py
Owners: none

Fix LLM model name mappings for Claude and Gemini
  app/services/orchestration_service.py
  documentation/SAMPLEUltraAI.html
Owners: @documentation-team
