Repository fieldjoshua/UltrAI-Core, changes with the owners that CODEOWNERS names for each.
All owners: @documentation-team, @core-team, @ui-team, @ai-team, @backend-team, @qa-team, @devops-team, @admin-team

CODEOWNERS:

# UltraAI CODEOWNERS File
# This file defines code ownership and review requirements for the project
# Format: path/to/file/or/dir @username_or_team

# Documentation requires review by documentation team
/documentation/ @documentation-team

# Core patterns implementation requires careful review
/src/patterns/ @core-team

# Frontend components require UI team review
/frontend/src/components/ @ui-team

# Analysis logic requires AI team review
/src/analysis/ @ai-team

# API services require backend team review
/frontend/src/services/ @backend-team

# Hooks require careful review
/frontend/src/hooks/ @ui-team @core-team

# Test files
/tests/ @qa-team

# Configuration files require DevOps review
*.json @devops-team
*.yml @devops-team
*.config.js @devops-team

# Critical files that require multiple approvals
/src/patterns/ultra_analysis_patterns.py @core-team @ai-team
/documentation/instructions/PATTERNS.md @documentation-team @core-team
/frontend/src/components/UltraWithDocuments.tsx @ui-team @core-team
/frontend/src/services/api.ts @backend-team @core-team

# The CODEOWNERS file itself requires admin approval
/CODEOWNERS @admin-team

feat: complete security hardening and reliability improvements
  app/database/connection.py
  frontend/src/App.tsx
Owners: none

docs: add comprehensive session summary and security documentation
  SESSION_SUMMARY.md
  supporting_docs/security-final-summary.md
Owners: none

fix: resolve TypeScript and Python linting errors
  frontend/src/api/orchestrator.d.ts
  frontend/src/components/CyberWizard.tsx
  pyrightconfig.json
Owners: @ui-team, @devops-team

fix: security vulnerabilities and HuggingFace configuration
  app/config.py
  documentation/deployment/huggingface-setup.md
  frontend/.eslintrc.json
  frontend/package-lock.json
  frontend/package.json
  scripts/verify_huggingface.py
Owners: @documentation-team, @devops-team

UX UI polish: Step 0 neon flair + buzzing CTA; models auto/manual boxes; dual-column lists; analysis coming-soon faded; larger main panel; add uuid dep; rebuild
  frontend/dist/assets/index-B2Ur4WIq.css
  frontend/dist/assets/index-CcOw7-JJ.css
  frontend/dist/assets/index-Cyj5lvQO.js
  frontend/dist/assets/index-Sc5zuXma.js
  frontend/dist/index.html
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/CyberWizard.tsx
  frontend/src/styles/globals.css
Owners: @devops-team, @ui-team

fix(api): add require_auth dependency and AuthUser model for orchestrator routes
  app/middleware/auth_middleware.py
Owners: none

Fix(config): add retry settings to app.config.Config for orchestration handler
  app/config/config.py
Owners: none

Fix(config): add timeout settings to app.config.Config to match service usage
  app/config/config.py
Owners: none

Fix(auth): allow anonymous access in require_auth when ENABLE_AUTH=false
  app/middleware/auth_middleware.py
Owners: none

UX: enforce 2-column lists, sticky action footer, taller wizard panel; fix manual model list grid
  frontend/src/components/CyberWizard.tsx
Owners: @ui-team

UX: force 2-column grid for analysis step list
  frontend/src/components/CyberWizard.tsx
Owners: @ui-team

UX: audit fixes — enforce 2-col everywhere, fade coming-soon cards, sticky footer
  frontend/src/components/CyberWizard.tsx
Owners: @ui-team

Update frontend build and add security documentation
  documentation/security/security-updates-2025-01.md
  frontend/dist/assets/index-B2Ur4WIq.css
  frontend/dist/assets/index-BhcierMb.css
  frontend/dist/assets/index-D7VNOtfi.js
  frontend/dist/assets/index-Sc5zuXma.js
  frontend/dist/index.html
Owners: @documentation-team

feat: add 'Allow UltrAI to optimize my search' button
  frontend/dist/assets/index-D7VNOtfi.js
  frontend/dist/assets/index-kDy3uWEx.js
  frontend/dist/index.html
  frontend/src/components/CyberWizard.tsx
Owners: @ui-team

Enhance UX: improve optimization feedback and goal-aware prompts
  documentation/ui-ux-improvement-plan-2025-01.md
  frontend/dist/assets/index-BhcierMb.css
  frontend/dist/assets/index-DxJRYXyj.css
  frontend/dist/assets/index-kDy3uWEx.js
  frontend/dist/assets/index-sUfu2NbJ.js
  frontend/dist/index.html
  frontend/src/components/CyberWizard.tsx
Owners: @documentation-team, @ui-team

Polish UI: professional optimization flow with better visual feedback
  frontend/dist/assets/index-DxJRYXyj.css
  frontend/dist/assets/index-sUfu2NbJ.js
  frontend/dist/assets/index-tW1pCsPH.js
  frontend/dist/assets/index-yfuHXyqw.css
  frontend/dist/index.html
  frontend/src/components/CyberWizard.tsx
Owners: @ui-team

Add model status indicators and improve final step layout
  frontend/dist/assets/index-CvHWf5PN.js
  frontend/dist/assets/index-D1bmYCKy.css
  frontend/dist/assets/index-tW1pCsPH.js
  frontend/dist/assets/index-yfuHXyqw.css
  frontend/dist/index.html
  frontend/src/components/CyberWizard.tsx
Owners: @ui-team

Create stunning intro screen with professional branding
  frontend/dist/assets/index-CcYgoPWD.css
  frontend/dist/assets/index-CvHWf5PN.js
  frontend/dist/assets/index-D1bmYCKy.css
  frontend/dist/assets/index-MiXzcVTD.js
  frontend/dist/index.html
  frontend/src/components/CyberWizard.tsx
Owners: @ui-team

feat: add animated billboard and improve UX flow
  frontend/dist/assets/index-CcYgoPWD.css
  frontend/dist/assets/index-KZSwwhsN.css
  frontend/dist/assets/index-MiXzcVTD.js
  frontend/dist/assets/index-cdqBhqbm.js
  frontend/dist/index.html
  frontend/src/components/AnimatedBillboard.tsx
  frontend/src/components/CyberWizard.tsx
  frontend/src/styles/animations.css
  frontend/src/styles/index.css
Owners: @ui-team

Update billboard with building lines SVG overlay
  frontend/dist/assets/index-CTF156z4.js
  frontend/dist/assets/index-cdqBhqbm.js
  frontend/dist/index.html
  frontend/dist/overlays/billboard_lines.svg
  frontend/public/overlays/billboard_lines.svg
  frontend/src/components/AnimatedBillboard.tsx
Owners: @ui-team

Add bridge animation with vertical cable lighting effects
  frontend/dist/assets/index-CTF156z4.js
  frontend/dist/assets/index-KZSwwhsN.css
  frontend/dist/assets/index-Kz3Lfbsj.css
  frontend/dist/assets/index-LJuZ_4uA.js
  frontend/dist/index.html
  frontend/dist/overlays/bridge_lines.svg
  frontend/public/overlays/bridge_lines.svg
  frontend/src/components/BridgeAnimation.tsx
  frontend/src/components/CyberWizard.tsx
Owners: @ui-team

Remove header bar and animate billboard outline lines
  frontend/dist/assets/index-40oPVqJE.css
  frontend/dist/assets/index-9qB_R4wU.js
  frontend/dist/assets/index-Kz3Lfbsj.css
  frontend/dist/assets/index-LJuZ_4uA.js
  frontend/dist/index.html
  frontend/src/components/CyberWizard.tsx
  frontend/src/styles/animations.css
Owners: @ui-team

Fix SVG corner alignment for billboard and bridge
  frontend/dist/assets/index-40oPVqJE.css
  frontend/dist/assets/index-DlGJiOqb.js
  frontend/dist/assets/index-QnTX4U4u.css
  frontend/dist/index.html
  frontend/src/components/BridgeAnimation.tsx
  frontend/src/components/CyberWizard.tsx
Owners: @ui-team

Move wizard boxes down by quarter page
  frontend/dist/assets/index--8r8Dtnz.js
  frontend/dist/index.html
  frontend/src/components/CyberWizard.tsx
Owners: @ui-team

Implement professional cyberpunk UI with exact SVG template positioning
  frontend/dist/assets/index--8r8Dtnz.js
  frontend/dist/assets/index-CVYRDRNU.css
  frontend/dist/assets/index-QnTX4U4u.css
  frontend/dist/assets/index-bcVVGo4C.js
  frontend/dist/index.html
  frontend/dist/overlays/boxes_template.svg
  frontend/public/overlays/boxes_template.svg
  frontend/src/components/CyberWizard.tsx
  frontend/src/components/CyberWizardPro.tsx
  frontend/src/pages/wizard.tsx
  frontend/src/styles/cyberpunk-vars.css
  frontend/src/styles/index.css
Owners: @ui-team

Clean up UI for presentation - simplified layout with fixed panels
  frontend/dist/assets/index-CVYRDRNU.css
  frontend/dist/assets/index-VRlq8jTG.css
  frontend/dist/assets/index-X0QqLAVR.js
  frontend/dist/assets/index-bcVVGo4C.js
  frontend/dist/index.html
  frontend/src/components/CyberWizard.tsx
  frontend/src/components/CyberWizardPro.tsx
  frontend/src/pages/wizard.tsx
Owners: @ui-team

Fix black box overlay issue - remove fixed positioning
  frontend/dist/assets/index-BbvZAhFP.css
  frontend/dist/assets/index-CHzjOgsT.js
  frontend/dist/assets/index-VRlq8jTG.css
  frontend/dist/index.html
  frontend/src/components/CyberWizard.tsx
Owners: @ui-team

UX: professional pass — disable animations, static overlays, frosted panels, cap goals to 12
  frontend/src/components/CyberWizard.tsx
  frontend/src/styles/globals.css
Owners: @ui-team

UX: remove animation layers, fix background (fixed), group receipt by step titles
  frontend/src/components/CyberWizard.tsx
Owners: @ui-team

UX: exclude intro from progress, cap goals=12 with right-side checkboxes, remove optimize on query, make analysis selectable
  frontend/src/components/CyberWizard.tsx
Owners: @ui-team

UX: progress excludes intro; goals trimmed to 12 in JSON; hide goal icons; ensure goals list renders 12; spacing/checkbox alignment
  frontend/public/wizard_steps.json
  frontend/src/components/CyberWizard.tsx
Owners: @devops-team, @ui-team

UX: receipt transforms to status panel after approval; removed separate status section
  frontend/src/components/CyberWizard.tsx
Owners: @ui-team

UX: lower panels by 25vh; per-step colored frosted/3D; Step1 left checkboxes; remove auto in model step; unify Submit placement
  frontend/src/components/CyberWizard.tsx
Owners: @ui-team

fix(ui): resolve TS types for summary items; remove unused vars; finalize spec-aligned layout
  frontend/src/components/CyberWizard.tsx
Owners: @ui-team

frontend: enhance UI with frosted glass effect and optimize search button
  CLAUDE.md
  frontend/dist/assets/index-BbvZAhFP.css
  frontend/dist/assets/index-CHzjOgsT.js
  frontend/dist/assets/index-Cz_GxY91.js
  frontend/dist/assets/index-_HHxVTH9.css
  frontend/dist/index.html
  frontend/dist/wizard_steps.json
  frontend/src/components/CyberWizard.tsx
Owners: @devops-team, @ui-team

Update UI: lower panels, unique step colors, dynamic intro
  frontend/dist/assets/index-CQ-SD4Cq.js
  frontend/dist/assets/index-Cz_GxY91.js
  frontend/dist/assets/index-D-P0qILW.css
  frontend/dist/assets/index-_HHxVTH9.css
  frontend/dist/index.html
  frontend/src/components/CyberWizard.tsx
  frontend/src/styles/globals.css
Owners: @ui-team

Enhance UI: full screen bg, more transparency, UltrAI config options
  frontend/dist/assets/index-BmCJ8ahr.css
  frontend/dist/assets/index-CQ-SD4Cq.js
  frontend/dist/assets/index-D-P0qILW.css
  frontend/dist/assets/index-D97DwdtJ.js
  frontend/dist/index.html
  frontend/src/components/CyberWizard.tsx
Owners: @ui-team

Update UI: colored borders, professional Step 0, query optimization
  frontend/dist/assets/index-BmCJ8ahr.css
  frontend/dist/assets/index-D97DwdtJ.js
  frontend/dist/assets/index-DhghwVWq.css
  frontend/dist/assets/index-NttR5yLj.js
  frontend/dist/index.html
  frontend/src/components/CyberWizard.tsx
Owners: @ui-team

UI improvements: consolidated spacing, professional Step 1, increased transparency, repositioned model status box
  frontend/dist/assets/index-B26aW3AE.css
  frontend/dist/assets/index-Bq83iPRW.js
  frontend/dist/assets/index-DhghwVWq.css
  frontend/dist/assets/index-NttR5yLj.js
  frontend/dist/index.html
  frontend/dist/wizard_steps.json
  frontend/public/wizard_steps.json
  frontend/src/components/CyberWizard.tsx
Owners: @devops-team, @ui-team

Improve UI: smaller Step 1 boxes, flip animation for models, new Step 5 flow
  frontend/dist/assets/index-B26aW3AE.css
  frontend/dist/assets/index-Bq83iPRW.js
  frontend/dist/assets/index-Bvk-EiAq.js
  frontend/dist/assets/index-Cgqh_z73.css
  frontend/dist/index.html
  frontend/src/components/CyberWizard.tsx
  frontend/src/styles/globals.css
Owners: @ui-team
