Repository fieldjoshua/UltrAI-Core, changes with the owners that CODEOWNERS names for each.
All owners: @documentation-team, @core-team, @ui-team, @ai-team, @backend-team, @qa-team, @devops-team, @admin-team

feat: gate document routes with RAG_ENABLED; return 501 when disabled
  app/config.py
  app/routes/document_routes.py
Owners: none

style: satisfy flake8 E252 in document_routes with explicit noqa and consistent param spacing
  app/routes/document_routes.py
Owners: none

feat: implement analysis session storage and real authentication
  app/routes/orchestrator_minimal.py
  app/routes/user_routes_simple.py
  app/services/analysis_storage_service.py
Owners: none

ci(netlify): add Netlify config for frontend preview build
  netlify.toml
Owners: none

feat: Document Render service remediation actions and audit
  RENDER_REMEDIATION_ACTIONS.md
  RENDER_SERVICES_AUDIT_REPORT.md
Owners: none

fix(orchestrator): cancel on timeout, unify timeouts, cap concurrency
  app/services/orchestration_service.py
  tests/unit/orchestrator/test_orchestration_service.py
Owners: @qa-team

ci(netlify): fix base/publish, add SPA redirects, point previews to staging API
  netlify.toml
Owners: none

ci(netlify): fix Netlify config for PR previews (base/publish, SPA redirect, staging API)
  netlify.toml
Owners: none

ci: add deploy-guard workflow; docs: add cross-platform deployment checklist
  .github/workflows/deploy-guard.yml
  DEPLOYMENT.md
Owners: @devops-team

feat: Add required environment variables to Render services
  PR_42_CHANGES.md
  RENDER_SERVICE_SETTINGS_DOCUMENTATION.md
  render-production.yaml
  render-staging.yaml
Owners: none

feat: Standardize test categories and CI matrix
  .github/workflows/test-matrix.yml
  tests/TEST_CONFIGURATION.md
Owners: @devops-team, @qa-team

docs: Add task completion summary
  TASK_COMPLETION_SUMMARY.md
Owners: none

chore: remove duplicate UltrAI-Core directory and update references
  .aicheck/install.sh
  .github/workflows/cursor-rules.yml
  .gitignore
  ACTIVE_TASKS.md
  CLAUDE.md
  CLEANUP_ULTRAI_CORE.md
  PRODUCTION_READINESS_ANALYSIS.md
  RENDER_TASKS_FOR_OTHER_AI.md
  analyze_codebase_status.py
  codebase_analysis_report.json
  scripts/deploy-frontend-render.sh
  scripts/runtime/server-setup.sh
Owners: @devops-team

Checkpoint before follow-up message
  app/utils/sentry_integration.py
  render-production.yaml
  render-staging.yaml
Owners: none

Feat: Disable RAG in all environments
  render-frontend-demo.yaml
  render-frontend-production.yaml
  render-frontend-staging.yaml
Owners: none

feat: Add COMMUNAL_TODO.md for multi-agent coordination
  .claude/COMMUNAL_TODO.md
Owners: none

fix: Add orchestrator routes, logging guard, Makefile venv paths
  .claude/AI_EDITOR_INSTRUCTIONS.md
  .claude/COMMUNAL_TODO.md
  .claude/MASTER_PLAN.md
  Makefile
  app/utils/logging.py
  app_development.py
Owners: none

fix: Remove invalid Sentry tags option, add communal TODO
  COMMUNAL_TODO.md
  app/utils/sentry_integration.py
Owners: none

chore: Add coordination files and update CLAUDE.md
  CLAUDE.md
  COMMUNAL_TODO.md.backup
  scripts/generate_communal_todo.py
Owners: none

fix: Multi-agent recovery sprint - orchestrator, logging, config fixes (#47)
  .aicheck/install.sh
  .claude/AI_EDITOR_INSTRUCTIONS.md
  .claude/MASTER_PLAN.md
  .github/workflows/cursor-rules.yml
  .gitignore
  ACTIVE_TASKS.md
  CLAUDE.md
  CLEANUP_ULTRAI_CORE.md
  COMMUNAL_TODO.md
  COMMUNAL_TODO.md.backup
  Makefile
  PRODUCTION_READINESS_ANALYSIS.md
  RENDER_TASKS_FOR_OTHER_AI.md
  analyze_codebase_status.py
  app/utils/logging.py
  app_development.py
  codebase_analysis_report.json
  scripts/deploy-frontend-render.sh
  scripts/generate_communal_todo.py
  scripts/runtime/server-setup.sh
Owners: @devops-team

docs: Add deployment verification report for PR #47
  .claude/DEPLOYMENT_VERIFICATION.md
Owners: none

fix(health): implement real LLMConfigService to resolve degraded status
  .claude/AGENT_ASSIGNMENTS.md
  .claude/CLAUDE_D1_INVESTIGATION.md
  .claude/COMMUNAL_TODO.md
  .claude/POST_DEPLOYMENT_TODOS.md
  .claude/npm_deps.txt
  .claude/python_deps.txt
  .claude/ruff_report.json
  app/services/health_service.py
  app/services/llm_config_service.py
  model_performance_metrics.json
Owners: @devops-team

fix(health): implement real LLMConfigService to resolve degraded status (#48)
  .claude/AGENT_ASSIGNMENTS.md
  .claude/CLAUDE_D1_INVESTIGATION.md
  .claude/COMMUNAL_TODO.md
  .claude/DEPLOYMENT_VERIFICATION.md
  .claude/POST_DEPLOYMENT_TODOS.md
  .claude/npm_deps.txt
  .claude/python_deps.txt
  .claude/ruff_report.json
  app/services/health_service.py
  app/services/llm_config_service.py
  model_performance_metrics.json
Owners: @devops-team

chore: temporarily enable auto-deploy for production
  render-production.yaml
Owners: none

chore: trigger Render deployment for LLM health fix
  .trigger-deploy
Owners: none

chore: add git workflow simplification plan and deploy scripts
  .claude/CURSOR_AGENT_INSTRUCTIONS.md
  .claude/GEMINI_TASKS.md
  .claude/GIT_WORKFLOW_SIMPLIFICATION.md
  .claude/GPT5_TASKS.md
  scripts/deploy.sh
  scripts/render-check-deploys.sh
Owners: none

fix: correct service IDs in deploy status script
  scripts/render-check-deploys.sh
Owners: none

chore: consolidate to single main branch, update deployment docs
  CLAUDE.md
  render-production.yaml
Owners: none

chore: remove duplicate services from monitoring
  scripts/render-check-deploys.sh
Owners: none

8
  model_performance_metrics.json
Owners: @devops-team

fix: simplify test_orchestrate_basic_no_models_defaults to use explicit models
  model_performance_metrics.json
  tests/unit/orchestrator/test_basic_orchestrator.py
Owners: @devops-team, @qa-team

fix: resolve production startup blocking issues
  app/main.py
Owners: none

fix: add separate build scripts for staging and demo frontends
  frontend/package.json
  render-frontend-demo.yaml
  render-frontend-staging.yaml
Owners: @devops-team

fix: correct API URL in frontend index.html + add production E2E tests
  .claude/human_approval_gates.md
  .claude/progress_tracking.md
  .claude/work_log_template.md
  frontend/dist/index.html
  frontend/index.html
  model_performance_metrics.json
  tests/e2e/test_production_frontend.py
Owners: @devops-team, @qa-team

fix: update production test to handle API response format
  tests/e2e/test_production_frontend.py
Owners: @qa-team

feat: Add orchestration analysis response schema and docs
  docs/analysis_response.schema.json
  docs/output-content-style.md
  docs/output-error-states.md
  docs/report-artifacts.md
  docs/reporting-ux-plan.md
  docs/sse_events.md
  frontend/src/__fixtures__/orchestration/detailed.json
  frontend/src/__fixtures__/orchestration/error.json
  frontend/src/__fixtures__/orchestration/simple.json
  frontend/src/__tests__/fixtures.test.ts
  frontend/src/components/__tests__/ResultsDisplay.test.tsx
  frontend/src/components/panels/__tests__/SSEPanel.test.tsx
  tests/__snapshots__/output_formatter_full_document.txt
  tests/contracts/test_analysis_response_contract.py
  tests/integration/test_sse_events.py
  tests/unit/test_output_formatter.py
Owners: @devops-team, @ui-team, @qa-team

feat(frontend): add 2k/4k background assets and image-set util; fix Jest style mock to ESM; add docs for background analysis
  BACKGROUND_IMAGE_ANALYSIS.md
  IMPLEMENTATION_SUMMARY.md
  frontend/public/bg-afternoon-2k.jpg
  frontend/public/bg-afternoon-4k.jpg
  frontend/public/bg-morning-2k.jpg
  frontend/public/bg-morning-4k.jpg
  frontend/public/bg-night-2k.jpg
  frontend/public/bg-night-4k.jpg
  frontend/public/bg-sunset-2k.jpg
  frontend/public/bg-sunset-4k.jpg
  frontend/src/utils/optimizedBackgrounds.ts
Owners: none

fix: address GitHub security alerts
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/OrchestratorInterface.jsx
  tests/integration/test_cache_redis_integration.py
Owners: @devops-team, @ui-team, @qa-team

feat: add /api/orchestrator/demo endpoint (no auth required)
  frontend/dist/assets/AnalysisPatternSelector-B4Ou8C1A.js
  frontend/dist/assets/AnalysisPatternSelector-B4Ou8C1A.js.map
  frontend/dist/assets/AnalysisProgress-DZLVDUID.js
  frontend/dist/assets/AnalysisProgress-DZLVDUID.js.map
  frontend/dist/assets/Dashboard-BfutrwgZ.js
  frontend/dist/assets/Dashboard-BfutrwgZ.js.map
  frontend/dist/assets/DocumentsPage-DUO8uL8x.js
  frontend/dist/assets/DocumentsPage-DUO8uL8x.js.map
  frontend/dist/assets/LoginPage-AvJU3UFD.js
  frontend/dist/assets/LoginPage-AvJU3UFD.js.map
  frontend/dist/assets/ModelMonitor-C9kYHm15.js
  frontend/dist/assets/ModelMonitor-C9kYHm15.js.map
  frontend/dist/assets/ModelRunnerDemo-CKfTRJap.js
  frontend/dist/assets/ModelRunnerDemo-CKfTRJap.js.map
  frontend/dist/assets/OrchestratorPage-DJMNJmQN.js
  frontend/dist/assets/OrchestratorPage-DJMNJmQN.js.map
  frontend/dist/assets/RegisterPage-D9hd2T3M.js
  frontend/dist/assets/RegisterPage-D9hd2T3M.js.map
  frontend/dist/assets/SimpleAnalysis-Dvldh-tJ.js
  frontend/dist/assets/SimpleAnalysis-Dvldh-tJ.js.map
  frontend/dist/assets/UIPrototype-7wcxbm17.js
  frontend/dist/assets/UIPrototype-7wcxbm17.js.map
  frontend/dist/assets/UniversalUI-D9OTKYe8.js
  frontend/dist/assets/UniversalUI-D9OTKYe8.js.map
  frontend/dist/assets/alert-eatoFGVS.js
  frontend/dist/assets/alert-eatoFGVS.js.map
  frontend/dist/assets/circle-alert-DhJeOTgL.js
  frontend/dist/assets/circle-alert-DhJeOTgL.js.map
  frontend/dist/assets/circle-check-big-dWiPbV95.js
  frontend/dist/assets/circle-check-big-dWiPbV95.js.map
  frontend/dist/assets/index-Ct0A3zwB.css
  frontend/dist/assets/index-fLFq7jtH.js
  frontend/dist/assets/index-fLFq7jtH.js.map
  frontend/dist/assets/label-JJr-5r6I.js
  frontend/dist/assets/label-JJr-5r6I.js.map
  frontend/dist/assets/utils-vendor-Ci_t0cun.js
  frontend/dist/assets/utils-vendor-Ci_t0cun.js.map
  frontend/src/api/orchestrator.ts
Owners: none

fix: remove hardcoded Anthropic API key from test file
  app/tests/claude_test_new.py
Owners: none

CODEOWNERS:

# UltraAI CODEOWNERS File
# This file defines code ownership and review requirements for the project
# Format: path/to/file/or/dir @username_or_team

# Documentation requires review by documentation team
/documentation/ @documentation-team

# Core patterns implementation requires careful review
/src/patterns/ @core-team

# Frontend components require UI team review
/frontend/src/components/ @ui-team

# Analysis logic requires AI team review
/src/analysis/ @ai-team

# API services require backend team review
/frontend/src/services/ @backend-team

# Hooks require careful review
/frontend/src/hooks/ @ui-team @core-team

# Test files
/tests/ @qa-team

# Configuration files require DevOps review
*.json @devops-team
*.yml @devops-team
*.config.js @devops-team

# Critical files that require multiple approvals
/src/patterns/ultra_analysis_patterns.py @core-team @ai-team
/documentation/instructions/PATTERNS.md @documentation-team @core-team
/frontend/src/components/UltraWithDocuments.tsx @ui-team @core-team
/frontend/src/services/api.ts @backend-team @core-team

# The CODEOWNERS file itself requires admin approval
/CODEOWNERS @admin-team
