Repository fieldjoshua/UltrAI-Core, changes with the owners that CODEOWNERS names for each.
All owners: @documentation-team, @core-team, @ui-team, @ai-team, @backend-team, @qa-team, @devops-team, @admin-team

Fix: Bypass faulty orchestrator facade to fix startup crash
  backend/models/enhanced_orchestrator.py
  backend/services/prompt_service.py
Owners: none

Fix: Correct final import path in LLMConfigService to resolve startup crash
  backend/services/llm_config_service.py
Owners: none

Fix: Correct final import path in LLMConfigService to resolve startup crash
  backend/services/llm_config_service.py
Owners: none

Refactor: Centralize path correction at entry point to fix all imports
  app_production.py
  backend/services/llm_config_service.py
  backend/services/prompt_service.py
Owners: none

Refactor: Centralize path correction at entry point to fix all imports
  app_production.py
  backend/services/llm_config_service.py
  backend/services/prompt_service.py
Owners: none

Fix: Unpin dependencies to resolve build conflicts
  requirements.txt
Owners: none

Fix: Unpin dependencies to resolve build conflicts
  requirements.txt
Owners: none

Build: Finalize and verify Render deployment configuration
  render.yaml
  requirements-production.txt
Owners: none

Build: Finalize and verify Render deployment configuration
  render.yaml
  requirements-production.txt
Owners: none

Final attempt to fix build
  render.yaml
  requirements-production.txt
Owners: none

Final attempt to fix build
  render.yaml
  requirements-production.txt
Owners: none

Build: Migrate to Poetry for dependency management
  app_production.py
  poetry.lock
  pyproject.toml
  render.yaml
Owners: none

Build: Migrate to Poetry for dependency management
  app_production.py
  poetry.lock
  pyproject.toml
  render.yaml
Owners: none

chore(security): update dependencies and remove unused packages to resolve vulnerabilities [system-wide-cleanup-and-audit]
  poetry.lock
  pyproject.toml
Owners: none

chore(security): update dependencies and remove unused packages to resolve vulnerabilities [system-wide-cleanup-and-audit]
  poetry.lock
  pyproject.toml
Owners: none

Refactor app setup, fix router dependency injection, resolve linter errors across app, main, and prompt_service
  .aicheck/actions/system-wide-cleanup-and-audit/todo.md
  ARCHIVE_20250606/src/models/llm_adapter.py
  app/app.py
  app/main.py
  app/routes/analyze_routes.py
  app/routes/document_routes.py
  app/services/model_registry.py
  app/services/orchestration_service.py
  app/services/prompt_service.py
  app/services/quality_evaluation.py
  app/services/rate_limiter.py
  app/utils/cache_decorator.py
Owners: none

Refactor app setup, fix router dependency injection, resolve linter errors across app, main, and prompt_service
  .aicheck/actions/system-wide-cleanup-and-audit/todo.md
  ARCHIVE_20250606/src/models/llm_adapter.py
  app/app.py
  app/main.py
  app/routes/analyze_routes.py
  app/routes/document_routes.py
  app/services/model_registry.py
  app/services/orchestration_service.py
  app/services/prompt_service.py
  app/services/quality_evaluation.py
  app/services/rate_limiter.py
  app/utils/cache_decorator.py
Owners: none

refactor: implement create_router pattern and dependency injection across route files
  .aicheck/actions/system-wide-cleanup-and-audit/progress.md
  .aicheck/actions/system-wide-cleanup-and-audit/supporting_docs/claude-interactions/README.md
  .aicheck/actions/system-wide-cleanup-and-audit/system-wide-cleanup-and-audit-plan.md
  .aicheck/actions_index.md
  .aicheck/context-summary-20250605.md
  .aicheck/pattern-cache-20250605.md
  app/config.py
  app/core/error_handling.py
  app/middleware/error_handler.py
  app/routes/analyze_routes.py
  app/routes/auth_routes.py
  app/routes/available_models_routes.py
  app/routes/debug_routes.py
  app/routes/docker_modelrunner_routes.py
  app/routes/document_analysis_routes.py
  app/routes/document_routes.py
  app/routes/health_routes.py
  app/routes/llm_routes.py
  app/routes/metrics.py
  app/routes/oauth_routes.py
  app/routes/orchestrator_minimal.py
  app/routes/pricing_routes.py
  app/routes/recovery_routes.py
  app/routes/user_routes.py
  documentation/api/actions-completed.md
  documentation/api/document_routes.md
  scripts/add_warning_comments.py
  scripts/batch_fix_routes.py
Owners: @documentation-team

refactor: implement create_router pattern and dependency injection across route files
  .aicheck/actions/system-wide-cleanup-and-audit/progress.md
  .aicheck/actions/system-wide-cleanup-and-audit/supporting_docs/claude-interactions/README.md
  .aicheck/actions/system-wide-cleanup-and-audit/system-wide-cleanup-and-audit-plan.md
  .aicheck/actions_index.md
  .aicheck/context-summary-20250605.md
  .aicheck/pattern-cache-20250605.md
  app/config.py
  app/core/error_handling.py
  app/middleware/error_handler.py
  app/routes/analyze_routes.py
  app/routes/auth_routes.py
  app/routes/available_models_routes.py
  app/routes/debug_routes.py
  app/routes/docker_modelrunner_routes.py
  app/routes/document_analysis_routes.py
  app/routes/document_routes.py
  app/routes/health_routes.py
  app/routes/llm_routes.py
  app/routes/metrics.py
  app/routes/oauth_routes.py
  app/routes/orchestrator_minimal.py
  app/routes/pricing_routes.py
  app/routes/recovery_routes.py
  app/routes/user_routes.py
  documentation/api/actions-completed.md
  documentation/api/document_routes.md
  scripts/add_warning_comments.py
  scripts/batch_fix_routes.py
Owners: @documentation-team

refactor: automate create_router pattern and dependency injection for all route files
  .aicheck/actions/system-wide-cleanup-and-audit/progress.md
  app/routes/available_models_routes.py
  app/routes/debug_routes.py
  app/routes/docker_modelrunner_routes.py
  app/routes/document_analysis_routes.py
  app/routes/llm_routes.py
  app/routes/metrics.py
  app/routes/oauth_routes.py
  app/routes/pricing_routes.py
  app/routes/user_routes.py
  scripts/refactor_routes.py
Owners: none

refactor: automate create_router pattern and dependency injection for all route files
  .aicheck/actions/system-wide-cleanup-and-audit/progress.md
  app/routes/available_models_routes.py
  app/routes/debug_routes.py
  app/routes/docker_modelrunner_routes.py
  app/routes/document_analysis_routes.py
  app/routes/llm_routes.py
  app/routes/metrics.py
  app/routes/oauth_routes.py
  app/routes/pricing_routes.py
  app/routes/user_routes.py
  scripts/refactor_routes.py
Owners: none

feat: add financial endpoints, authentication scaffolding, and update aicheck docs for financial API
  .aicheck/actions/system-wide-cleanup-and-audit/progress.md
  .aicheck/actions/system-wide-cleanup-and-audit/supporting_docs/pytest-output-latest.txt
  .aicheck/actions/system-wide-cleanup-and-audit/supporting_docs/pytest-output-prompt_service.txt
  .aicheck/actions/system-wide-cleanup-and-audit/supporting_docs/pytest-output-prompt_service_integration.txt
  .aicheck/actions/system-wide-cleanup-and-audit/todo.md
  .aicheck/context-summary-20250606.md
  .aicheck/pattern-cache-20250606.md
  app/__init__.py
  app/main.py
  app/routes/analyze_routes.py
  app/routes/auth_routes.py
  app/routes/available_models_routes.py
  app/routes/debug_routes.py
  app/routes/docker_modelrunner_routes.py
  app/routes/document_analysis_routes.py
  app/routes/document_routes.py
  app/routes/health_routes.py
  app/routes/llm_routes.py
  app/routes/metrics.py
  app/routes/oauth_routes.py
  app/routes/orchestrator_minimal.py
  app/routes/pricing_routes.py
  app/routes/recovery_routes.py
  app/routes/user_routes.py
  app/services/orchestration_service.py
  app/services/prompt_service.py
  app/services/token_management_service.py
  app/services/transaction_service.py
  app/tests/integration_tests/api/test_prompt_service_integration.py
  app/tests/integration_tests/pytest.ini
  app/tests/unit/test_prompt_service.py
  app/tests/unit/test_token_management_service.py
  app/tests/unit/test_transaction_service.py
  scripts/refactor_routes.py
Owners: none

feat: add financial endpoints, authentication scaffolding, and update aicheck docs for financial API
  .aicheck/actions/system-wide-cleanup-and-audit/progress.md
  .aicheck/actions/system-wide-cleanup-and-audit/supporting_docs/pytest-output-latest.txt
  .aicheck/actions/system-wide-cleanup-and-audit/supporting_docs/pytest-output-prompt_service.txt
  .aicheck/actions/system-wide-cleanup-and-audit/supporting_docs/pytest-output-prompt_service_integration.txt
  .aicheck/actions/system-wide-cleanup-and-audit/todo.md
  .aicheck/context-summary-20250606.md
  .aicheck/pattern-cache-20250606.md
  app/__init__.py
  app/main.py
  app/routes/analyze_routes.py
  app/routes/auth_routes.py
  app/routes/available_models_routes.py
  app/routes/debug_routes.py
  app/routes/docker_modelrunner_routes.py
  app/routes/document_analysis_routes.py
  app/routes/document_routes.py
  app/routes/health_routes.py
  app/routes/llm_routes.py
  app/routes/metrics.py
  app/routes/oauth_routes.py
  app/routes/orchestrator_minimal.py
  app/routes/pricing_routes.py
  app/routes/recovery_routes.py
  app/routes/user_routes.py
  app/services/orchestration_service.py
  app/services/prompt_service.py
  app/services/token_management_service.py
  app/services/transaction_service.py
  app/tests/integration_tests/api/test_prompt_service_integration.py
  app/tests/integration_tests/pytest.ini
  app/tests/unit/test_prompt_service.py
  app/tests/unit/test_token_management_service.py
  app/tests/unit/test_transaction_service.py
  scripts/refactor_routes.py
Owners: none

chore: trigger render deploy [system-wide-cleanup-and-audit]
  .aicheck/actions/system-wide-cleanup-and-audit/deploy-trigger.txt
Owners: none

chore: trigger render deploy [system-wide-cleanup-and-audit]
  .aicheck/actions/system-wide-cleanup-and-audit/deploy-trigger.txt
Owners: none

fix: add app_production.py for render deployment
  app_production.py
Owners: none

fix: add app_production.py for render deployment
  app_production.py
Owners: none

chore: update action progress for PromptService refactor and testing [system-wide-cleanup-and-audit]
  .aicheck/actions/system-wide-cleanup-and-audit/progress.md
  .aicheck/actions/system-wide-cleanup-and-audit/todo.md
Owners: none

chore: update action progress for PromptService refactor and testing [system-wide-cleanup-and-audit]
  .aicheck/actions/system-wide-cleanup-and-audit/progress.md
  .aicheck/actions/system-wide-cleanup-and-audit/todo.md
Owners: none

test: add comprehensive unit tests for ModelRegistry service [system-wide-cleanup-and-audit]
  .aicheck/actions/system-wide-cleanup-and-audit/progress.md
  .aicheck/actions/system-wide-cleanup-and-audit/todo.md
  app/tests/unit/test_model_registry.py
Owners: none

test: add comprehensive unit tests for ModelRegistry service [system-wide-cleanup-and-audit]
  .aicheck/actions/system-wide-cleanup-and-audit/progress.md
  .aicheck/actions/system-wide-cleanup-and-audit/todo.md
  app/tests/unit/test_model_registry.py
Owners: none

feat: implement health check endpoints with detailed service status
  app/routes/health_routes.py
Owners: none

feat: implement health check endpoints with detailed service status
  app/routes/health_routes.py
Owners: none

Add comprehensive unit tests for core services and dynamic smoke tests
  .aicheck/actions/system-wide-cleanup-and-audit/todo.md
  .cursor/rules/rules.mdc
  .flake8
  pyproject.toml
  scripts/generate_test_stubs.sh
  test_minimal_env/bin/f2py
  test_minimal_env/bin/fastapi
  test_minimal_env/bin/fonttools
  test_minimal_env/bin/httpx
  test_minimal_env/bin/markdown_py
  test_minimal_env/bin/numpy-config
  test_minimal_env/bin/py.test
  test_minimal_env/bin/pyftmerge
  test_minimal_env/bin/pyftsubset
  test_minimal_env/bin/pygmentize
  test_minimal_env/bin/pytest
  test_minimal_env/bin/ttx
  test_minimal_env/share/man/man1/ttx.1
  tests/conftest.py
  tests/test_analysis_pipeline.py
  tests/test_analysis_service.py
  tests/test_api_failure_handler.py
  tests/test_basic_orchestrator.py
  tests/test_model_registry.py
  tests/test_orchestration_service.py
  tests/test_pricing_simulator.py
  tests/test_prompt_service.py
  tests/test_prompt_templates.py
  tests/test_quality_evaluation.py
  tests/test_rate_limit_service.py
  tests/test_rate_limit_service_logic.py
  tests/test_rate_limiter.py
  tests/test_service_instantiation.py
  tests/test_token_management_service.py
  tests/test_transaction_service.py
Owners: @qa-team

Add comprehensive unit tests for core services and dynamic smoke tests
  .aicheck/actions/system-wide-cleanup-and-audit/todo.md
  .cursor/rules/rules.mdc
  .flake8
  pyproject.toml
  scripts/generate_test_stubs.sh
  test_minimal_env/bin/f2py
  test_minimal_env/bin/fastapi
  test_minimal_env/bin/fonttools
  test_minimal_env/bin/httpx
  test_minimal_env/bin/markdown_py
  test_minimal_env/bin/numpy-config
  test_minimal_env/bin/py.test
  test_minimal_env/bin/pyftmerge
  test_minimal_env/bin/pyftsubset
  test_minimal_env/bin/pygmentize
  test_minimal_env/bin/pytest
  test_minimal_env/bin/ttx
  test_minimal_env/share/man/man1/ttx.1
  tests/conftest.py
  tests/test_analysis_pipeline.py
  tests/test_analysis_service.py
  tests/test_api_failure_handler.py
  tests/test_basic_orchestrator.py
  tests/test_model_registry.py
  tests/test_orchestration_service.py
  tests/test_pricing_simulator.py
  tests/test_prompt_service.py
  tests/test_prompt_templates.py
  tests/test_quality_evaluation.py
  tests/test_rate_limit_service.py
  tests/test_rate_limit_service_logic.py
  tests/test_rate_limiter.py
  tests/test_service_instantiation.py
  tests/test_token_management_service.py
  tests/test_transaction_service.py
Owners: @qa-team

Pin pydantic and adjust requirements for production dependencies
  requirements-production.txt
  requirements.txt
Owners: none

Pin pydantic and adjust requirements for production dependencies
  requirements-production.txt
  requirements.txt
Owners: none

Add email-validator to production requirements
  requirements-production.txt
Owners: none

Add email-validator to production requirements
  requirements-production.txt
Owners: none

Fix psutil stub with missing attributes for production
  app/utils/stubs/psutil.py
Owners: none

CODEOWNERS:

# UltraAI CODEOWNERS File
# This file defines code ownership and review requirements for the project
# Format: path/to/file/or/dir @username_or_team

# Documentation requires review by documentation team
/documentation/ @documentation-team

# Core patterns implementation requires careful review
/src/patterns/ @core-team

# Frontend components require UI team review
/frontend/src/components/ @ui-team

# Analysis logic requires AI team review
/src/analysis/ @ai-team

# API services require backend team review
/frontend/src/services/ @backend-team

# Hooks require careful review
/frontend/src/hooks/ @ui-team @core-team

# Test files
/tests/ @qa-team

# Configuration files require DevOps review
*.json @devops-team
*.yml @devops-team
*.config.js @devops-team

# Critical files that require multiple approvals
/src/patterns/ultra_analysis_patterns.py @core-team @ai-team
/documentation/instructions/PATTERNS.md @documentation-team @core-team
/frontend/src/components/UltraWithDocuments.tsx @ui-team @core-team
/frontend/src/services/api.ts @backend-team @core-team

# The CODEOWNERS file itself requires admin approval
/CODEOWNERS @admin-team
