Repository fieldjoshua/UltrAI-Core, changes with the owners that CODEOWNERS names for each.
All owners: @documentation-team, @core-team, @ui-team, @ai-team, @backend-team, @qa-team, @devops-team, @admin-team

Fix pydantic dependency conflict in production requirements
  requirements-production.txt
Owners: none

Fix Redis dependency conflict with fastapi-limiter
  requirements-production.txt
Owners: none

Fix Redis dependency conflict with fastapi-limiter
  requirements-production.txt
Owners: none

Add missing psutil dependency for production deployment
  requirements-production.txt
Owners: none

Add missing psutil dependency for production deployment
  requirements-production.txt
Owners: none

Add comprehensive missing dependencies for production
  requirements-production.txt
Owners: none

Add comprehensive missing dependencies for production
  requirements-production.txt
Owners: none

Complete production requirements with all missing dependencies
  requirements-production.txt
Owners: none

Complete production requirements with all missing dependencies
  requirements-production.txt
Owners: none

Enhance AICheck installation script v4.1 with repository consolidation
  .aicheck/install.sh
  .aicheck/test-install.sh
Owners: none

Enhance AICheck installation script v4.1 with repository consolidation
  .aicheck/install.sh
  .aicheck/test-install.sh
Owners: none

Add comprehensive AICheck changelog documenting v4.0 and v4.1 enhancements
  .aicheck/CHANGELOG.md
Owners: none

Add comprehensive AICheck changelog documenting v4.0 and v4.1 enhancements
  .aicheck/CHANGELOG.md
Owners: none

Fix health route error handling and add deployment verification tools
  .aicheck/actions/orchestration-integration-fix/supporting_docs/deployment_verification.py
  .aicheck/actions/orchestration-integration-fix/supporting_docs/deployment_verification_20250528_103842.json
  .aicheck/test-install.sh
  backend/routes/health_routes.py
  monitor_test_endpoint.py
  test_deployment_progress.py
Owners: @devops-team

Fix health route error handling and add deployment verification tools
  .aicheck/actions/orchestration-integration-fix/supporting_docs/deployment_verification.py
  .aicheck/actions/orchestration-integration-fix/supporting_docs/deployment_verification_20250528_103842.json
  .aicheck/test-install.sh
  backend/routes/health_routes.py
  monitor_test_endpoint.py
  test_deployment_progress.py
Owners: @devops-team

Fix production port configuration and add debug endpoints
  backend/app.py
  backend/config.py
  backend/routes/debug_routes.py
Owners: none

Fix production port configuration and add debug endpoints
  backend/app.py
  backend/config.py
  backend/routes/debug_routes.py
Owners: none

Add fallback health endpoint and simple ping endpoint
  backend/routes/health_routes.py
Owners: none

Add fallback health endpoint and simple ping endpoint
  backend/routes/health_routes.py
Owners: none

Add ping and debug routes to public paths
  backend/app.py
Owners: none

Add ping and debug routes to public paths
  backend/app.py
Owners: none

Fix CSRF middleware to handle streaming responses
  backend/middleware/csrf_middleware.py
Owners: none

Fix CSRF middleware to handle streaming responses
  backend/middleware/csrf_middleware.py
Owners: none

Add debug and ping endpoints to public paths
  backend/config.py
Owners: none

Add debug and ping endpoints to public paths
  backend/config.py
Owners: none

Complete Render CLI integration with deployment verification
  .aicheck/actions/render-cli-integration/progress.md
  .aicheck/actions/render-cli-integration/render-cli-integration-plan.md
  .aicheck/actions/render-cli-integration/status.txt
  .aicheck/actions/render-cli-integration/supporting_docs/cli-installation-notes.md
  .aicheck/actions/render-cli-integration/supporting_docs/completion-summary.md
  .aicheck/actions/render-cli-integration/supporting_docs/deployment-guide.md
  .aicheck/current_action
  CLAUDE.md
  scripts/deploy-render.sh
  scripts/verify-production.sh
Owners: none

Complete Render CLI integration with deployment verification
  .aicheck/actions/render-cli-integration/progress.md
  .aicheck/actions/render-cli-integration/render-cli-integration-plan.md
  .aicheck/actions/render-cli-integration/status.txt
  .aicheck/actions/render-cli-integration/supporting_docs/cli-installation-notes.md
  .aicheck/actions/render-cli-integration/supporting_docs/completion-summary.md
  .aicheck/actions/render-cli-integration/supporting_docs/deployment-guide.md
  .aicheck/current_action
  CLAUDE.md
  scripts/deploy-render.sh
  scripts/verify-production.sh
Owners: none

Add RULES.md compliance improvements for render-cli-integration
  .aicheck/actions/render-cli-integration/supporting_docs/deployment-verification.md
  .aicheck/actions/render-cli-integration/supporting_docs/process-tests/test_cli_integration.py
  .aicheck/actions/render-cli-integration/supporting_docs/process-tests/test_deploy_render.py
  .aicheck/actions/render-cli-integration/supporting_docs/process-tests/test_verify_production.py
  documentation/deployment/render-deployment-guide.md
Owners: @documentation-team

Add RULES.md compliance improvements for render-cli-integration
  .aicheck/actions/render-cli-integration/supporting_docs/deployment-verification.md
  .aicheck/actions/render-cli-integration/supporting_docs/process-tests/test_cli_integration.py
  .aicheck/actions/render-cli-integration/supporting_docs/process-tests/test_deploy_render.py
  .aicheck/actions/render-cli-integration/supporting_docs/process-tests/test_verify_production.py
  documentation/deployment/render-deployment-guide.md
Owners: @documentation-team

Fix critical middleware bugs preventing production deployment
  backend/services/health_service.py
  backend/utils/cookie_security_middleware.py
Owners: none

Fix critical middleware bugs preventing production deployment
  backend/services/health_service.py
  backend/utils/cookie_security_middleware.py
Owners: none

Enable demo access to sophisticated orchestrator
  backend/app.py
Owners: none

Enable demo access to sophisticated orchestrator
  backend/app.py
Owners: none

Enable demo access to sophisticated orchestrator
  backend/app.py
Owners: none

Enable demo access to sophisticated orchestrator
  backend/app.py
Owners: none

Fix orchestrator route paths to eliminate duplicate prefix
  backend/routes/orchestrator_routes.py
Owners: none

Fix orchestrator route paths to eliminate duplicate prefix
  backend/routes/orchestrator_routes.py
Owners: none

Build and deploy React frontend with sophisticated orchestrator UI
  .aicheck/actions/orchestrator-authentication-setup/orchestrator-authentication-setup-plan.md
  .aicheck/actions/orchestrator-authentication-setup/progress.md
  .aicheck/actions/orchestrator-authentication-setup/status.txt
  .aicheck/current_action
  frontend/dist/assets/index-BgAJBrof.css
  frontend/dist/assets/index-C9YNA9wk.js
  frontend/dist/index.html
  frontend/dist/test.html
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/ui/radio-group.tsx
  static/assets/index-BgAJBrof.css
  static/assets/index-C9YNA9wk.js
  static/test.html
Owners: @devops-team, @ui-team

Build and deploy React frontend with sophisticated orchestrator UI
  .aicheck/actions/orchestrator-authentication-setup/orchestrator-authentication-setup-plan.md
  .aicheck/actions/orchestrator-authentication-setup/progress.md
  .aicheck/actions/orchestrator-authentication-setup/status.txt
  .aicheck/current_action
  frontend/dist/assets/index-BgAJBrof.css
  frontend/dist/assets/index-C9YNA9wk.js
  frontend/dist/index.html
  frontend/dist/test.html
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/ui/radio-group.tsx
  static/assets/index-BgAJBrof.css
  static/assets/index-C9YNA9wk.js
  static/test.html
Owners: @devops-team, @ui-team

Fix React Router SPA routing for frontend
  backend/app.py
Owners: none

CODEOWNERS:

# UltraAI CODEOWNERS File
# This file defines code ownership and review requirements for the project
# Format: path/to/file/or/dir @username_or_team

# Documentation requires review by documentation team
/documentation/ @documentation-team

# Core patterns implementation requires careful review
/src/patterns/ @core-team

# Frontend components require UI team review
/frontend/src/components/ @ui-team

# Analysis logic requires AI team review
/src/analysis/ @ai-team

# API services require backend team review
/frontend/src/services/ @backend-team

# Hooks require careful review
/frontend/src/hooks/ @ui-team @core-team

# Test files
/tests/ @qa-team

# Configuration files require DevOps review
*.json @devops-team
*.yml @devops-team
*.config.js @devops-team

# Critical files that require multiple approvals
/src/patterns/ultra_analysis_patterns.py @core-team @ai-team
/documentation/instructions/PATTERNS.md @documentation-team @core-team
/frontend/src/components/UltraWithDocuments.tsx @ui-team @core-team
/frontend/src/services/api.ts @backend-team @core-team

# The CODEOWNERS file itself requires admin approval
/CODEOWNERS @admin-team
