Repository fieldjoshua/UltrAI-Core, changes with the owners that CODEOWNERS names for each.
All owners: @documentation-team, @core-team, @ui-team, @ai-team, @backend-team, @qa-team, @devops-team, @admin-team

Fix LLM model name mappings for Claude and Gemini
  app/services/orchestration_service.py
  documentation/SAMPLEUltraAI.html
Owners: @documentation-team

Update to modern AI models and fix Ultra Synthesis display
  app/routes/available_models_routes.py
  app/services/orchestration_service.py
Owners: none

Update to modern AI models and fix Ultra Synthesis display
  app/routes/available_models_routes.py
  app/services/orchestration_service.py
Owners: none

Increase timeouts for Ultra Synthesis pipeline with modern models
  app/services/llm_adapters.py
  app/services/orchestration_service.py
  frontend/dist/assets/index-pkokCu72.js
  frontend/dist/index.html
  frontend/src/services/api.ts
Owners: @backend-team, @core-team

Increase timeouts for Ultra Synthesis pipeline with modern models
  app/services/llm_adapters.py
  app/services/orchestration_service.py
  frontend/dist/assets/index-pkokCu72.js
  frontend/dist/index.html
  frontend/src/services/api.ts
Owners: @backend-team, @core-team

Fix Ultra Synthesis pipeline data flow and prompts
  app/services/orchestration_service.py
Owners: none

Fix Ultra Synthesis pipeline data flow and prompts
  app/services/orchestration_service.py
Owners: none

Add pipeline output saving feature
  app/routes/orchestrator_minimal.py
  app/services/orchestration_service.py
  pipeline_outputs/README.md
Owners: none

Add pipeline output saving feature
  app/routes/orchestrator_minimal.py
  app/services/orchestration_service.py
  pipeline_outputs/README.md
Owners: none

Fix single model pipeline failures and add model name mapping
  app/routes/available_models_routes.py
  app/services/orchestration_service.py
Owners: none

Fix single model pipeline failures and add model name mapping
  app/routes/available_models_routes.py
  app/services/orchestration_service.py
Owners: none

Fix meta-analysis model selection bug
  app/services/orchestration_service.py
Owners: none

Fix meta-analysis model selection bug
  app/services/orchestration_service.py
Owners: none

Fix prompts and enforce minimum 2 models requirement
  app/services/orchestration_service.py
Owners: none

Fix prompts and enforce minimum 2 models requirement
  app/services/orchestration_service.py
Owners: none

fix(orchestration): restore pipeline order, skip peer review when meta fails, add test fallbacks and mocks (#fix-orchestration-pipeline)
  .aicheck/actions/fix-orchestration-pipeline/PLAN.md
  app/services/cache_service.py
  app/services/llm_adapters.py
  app/services/orchestration_service.py
  poetry.lock
  pyproject.toml
  requirements-dev.txt
  tests/conftest.py
Owners: @qa-team

fix(orchestration): restore pipeline order, skip peer review when meta fails, add test fallbacks and mocks (#fix-orchestration-pipeline)
  .aicheck/actions/fix-orchestration-pipeline/PLAN.md
  app/services/cache_service.py
  app/services/llm_adapters.py
  app/services/orchestration_service.py
  poetry.lock
  pyproject.toml
  requirements-dev.txt
  tests/conftest.py
Owners: @qa-team

docs(actions): close fix-orchestration-pipeline and add dependency-hygiene plan
  .aicheck/actions/dependency-hygiene/PLAN.md
  .aicheck/actions/fix-orchestration-pipeline/DONE.md
Owners: none

docs(actions): close fix-orchestration-pipeline and add dependency-hygiene plan
  .aicheck/actions/dependency-hygiene/PLAN.md
  .aicheck/actions/fix-orchestration-pipeline/DONE.md
Owners: none

feat(orchestration): add retry fallbacks for meta_analysis & ultra_synthesis to handle rate-limited models (#multi-provider-model-troubleshooting)
  app/services/orchestration_service.py
Owners: none

feat(orchestration): add retry fallbacks for meta_analysis & ultra_synthesis to handle rate-limited models (#multi-provider-model-troubleshooting)
  app/services/orchestration_service.py
Owners: none

feat(ui/tests): add data-testid attributes to prompt input and run button and update Playwright e2e test selectors (#multi-provider-model-troubleshooting)
  frontend/src/components/PromptInput.tsx
  tests/e2e/test_web_orchestrator_ui.py
Owners: @ui-team, @qa-team

feat(ui/tests): add data-testid attributes to prompt input and run button and update Playwright e2e test selectors (#multi-provider-model-troubleshooting)
  frontend/src/components/PromptInput.tsx
  tests/e2e/test_web_orchestrator_ui.py
Owners: @ui-team, @qa-team

docs(action-plan): extend multi-provider-model-troubleshooting with Playwright E2E automation and clarify final deliverables (#multi-provider-model-troubleshooting)
  .aicheck/actions/multi-provider-model-troubleshooting/multi-provider-model-troubleshooting-plan.md
Owners: none

docs(action-plan): extend multi-provider-model-troubleshooting with Playwright E2E automation and clarify final deliverables (#multi-provider-model-troubleshooting)
  .aicheck/actions/multi-provider-model-troubleshooting/multi-provider-model-troubleshooting-plan.md
Owners: none

fix(orchestration): handle nested meta-analysis under input key with early return
  app/services/orchestration_service.py
Owners: none

fix(orchestration): handle nested meta-analysis under input key with early return
  app/services/orchestration_service.py
Owners: none

fix(ui-api): flatten ultra_synthesis in API response and add stubbed responses in TESTING mode
  app/routes/orchestrator_minimal.py
  app/services/orchestration_service.py
Owners: none

fix(ui-api): flatten ultra_synthesis in API response and add stubbed responses in TESTING mode
  app/routes/orchestrator_minimal.py
  app/services/orchestration_service.py
Owners: none

refactor(orchestrator_api): expose legacy 'output' alias in flattened ultra_synthesis
  app/routes/orchestrator_minimal.py
Owners: none

refactor(orchestrator_api): expose legacy 'output' alias in flattened ultra_synthesis
  app/routes/orchestrator_minimal.py
Owners: none

test(stub): ensure stubbed responses returned on adapter exceptions in TESTING mode
  app/services/orchestration_service.py
Owners: none

test(stub): ensure stubbed responses returned on adapter exceptions in TESTING mode
  app/services/orchestration_service.py
Owners: none

fix(testing): always use stubbed fallback instead of rate-limit placeholder in TESTING mode
  app/services/orchestration_service.py
Owners: none

fix(testing): always use stubbed fallback instead of rate-limit placeholder in TESTING mode
  app/services/orchestration_service.py
Owners: none

fix(testing): replace rate-limit placeholder text with stubbed response to allow meta-analysis
  app/services/orchestration_service.py
Owners: none

fix(testing): replace rate-limit placeholder text with stubbed response to allow meta-analysis
  app/services/orchestration_service.py
Owners: none

test(stub): shortcut llm_adapters generate to return STUB_RESPONSE when TESTING=true
  app/services/llm_adapters.py
Owners: none

test(stub): shortcut llm_adapters generate to return STUB_RESPONSE when TESTING=true
  app/services/llm_adapters.py
Owners: none

test(stub): include Paris in AnthropicAdapter stub when capital prompt detected
  app/services/llm_adapters.py
Owners: none

CODEOWNERS:

# UltraAI CODEOWNERS File
# This file defines code ownership and review requirements for the project
# Format: path/to/file/or/dir @username_or_team

# Documentation requires review by documentation team
/documentation/ @documentation-team

# Core patterns implementation requires careful review
/src/patterns/ @core-team

# Frontend components require UI team review
/frontend/src/components/ @ui-team

# Analysis logic requires AI team review
/src/analysis/ @ai-team

# API services require backend team review
/frontend/src/services/ @backend-team

# Hooks require careful review
/frontend/src/hooks/ @ui-team @core-team

# Test files
/tests/ @qa-team

# Configuration files require DevOps review
*.json @devops-team
*.yml @devops-team
*.config.js @devops-team

# Critical files that require multiple approvals
/src/patterns/ultra_analysis_patterns.py @core-team @ai-team
/documentation/instructions/PATTERNS.md @documentation-team @core-team
/frontend/src/components/UltraWithDocuments.tsx @ui-team @core-team
/frontend/src/services/api.ts @backend-team @core-team

# The CODEOWNERS file itself requires admin approval
/CODEOWNERS @admin-team
