Repository fieldjoshua/UltrAI-Core, changes with the owners that CODEOWNERS names for each.
All owners: @documentation-team, @core-team, @ui-team, @ai-team, @backend-team, @qa-team, @devops-team, @admin-team

Fix aicheck script errors - integer expression and missing function
  aicheck
  aicheck_fix.patch
Owners: none

Fix aicheck script errors - integer expression and missing function
  .aicheck/actions/directory-cleanup-organization/supporting_docs/aicheck-issue-report.md
Owners: none

Fix aicheck script errors - integer expression and missing function
  .aicheck/actions/directory-cleanup-organization/supporting_docs/aicheck-issue-report.md
Owners: none

Refactor orchestrator: add concurrency guard, global timeout, neutral ultra model selection, token-budget management, external prompt templates, and enhanced telemetry.
  app/services/minimal_orchestrator.py
  app/services/prompt_templates/meta_prompt.md
  app/services/prompt_templates/ultra_prompt.md
Owners: none

Refactor orchestrator: add concurrency guard, global timeout, neutral ultra model selection, token-budget management, external prompt templates, and enhanced telemetry.
  app/services/minimal_orchestrator.py
  app/services/prompt_templates/meta_prompt.md
  app/services/prompt_templates/ultra_prompt.md
Owners: none

docs(cursor): integrate .aicheck rules into Cursor always-applied rule file [directory-cleanup-organization]
  .cursor/rules/rules.mdc
Owners: none

docs(cursor): integrate .aicheck rules into Cursor always-applied rule file [directory-cleanup-organization]
  .cursor/rules/rules.mdc
Owners: none

feat(orchestrator): add env-driven config module, cost estimator utility, initial output formatter skeleton [orchestrator-hardening-tests]
  app/config/orchestrator_config.py
  app/services/cost_estimator.py
  app/services/output_formatter.py
Owners: none

feat(orchestrator): add env-driven config module, cost estimator utility, initial output formatter skeleton [orchestrator-hardening-tests]
  app/config/orchestrator_config.py
  app/services/cost_estimator.py
  app/services/output_formatter.py
Owners: none

fix(config): add __init__ to app.config to expose Config and ORCH_CONFIG packages
  app/config/__init__.py
Owners: none

fix(config): add __init__ to app.config to expose Config and ORCH_CONFIG packages
  app/config/__init__.py
Owners: none

test(orchestrator): add unit tests for cost estimate, formatting, encryption, redaction features [orchestrator-hardening-tests]
  tests/unit/orchestrator/test_orchestrator_features.py
Owners: @qa-team

test(orchestrator): add unit tests for cost estimate, formatting, encryption, redaction features [orchestrator-hardening-tests]
  tests/unit/orchestrator/test_orchestrator_features.py
Owners: @qa-team

feat(ui): add ultrai-ui Vite React TS preview with Tailwind v3 and mock HUD/bg
  ultrai-ui/.gitignore
  ultrai-ui/README.md
  ultrai-ui/eslint.config.js
  ultrai-ui/index.html
  ultrai-ui/package-lock.json
  ultrai-ui/package.json
  ultrai-ui/postcss.config.cjs
  ultrai-ui/public/ultrai-placeholder.svg
  ultrai-ui/public/vite.svg
  ultrai-ui/src/App.css
  ultrai-ui/src/App.tsx
  ultrai-ui/src/assets/react.svg
  ultrai-ui/src/components/HUD.tsx
  ultrai-ui/src/components/UltrAIInteractiveBackground.tsx
  ultrai-ui/src/index.css
  ultrai-ui/src/main.tsx
  ultrai-ui/src/vite-env.d.ts
  ultrai-ui/tailwind.config.js
  ultrai-ui/tsconfig.app.json
  ultrai-ui/tsconfig.json
  ultrai-ui/tsconfig.node.json
  ultrai-ui/vite.config.ts
Owners: @devops-team

feat(ui): add ultrai-ui Vite React TS preview with Tailwind v3 and mock HUD/bg
  ultrai-ui/.gitignore
  ultrai-ui/README.md
  ultrai-ui/eslint.config.js
  ultrai-ui/index.html
  ultrai-ui/package-lock.json
  ultrai-ui/package.json
  ultrai-ui/postcss.config.cjs
  ultrai-ui/public/ultrai-placeholder.svg
  ultrai-ui/public/vite.svg
  ultrai-ui/src/App.css
  ultrai-ui/src/App.tsx
  ultrai-ui/src/assets/react.svg
  ultrai-ui/src/components/HUD.tsx
  ultrai-ui/src/components/UltrAIInteractiveBackground.tsx
  ultrai-ui/src/index.css
  ultrai-ui/src/main.tsx
  ultrai-ui/src/vite-env.d.ts
  ultrai-ui/tailwind.config.js
  ultrai-ui/tsconfig.app.json
  ultrai-ui/tsconfig.json
  ultrai-ui/tsconfig.node.json
  ultrai-ui/vite.config.ts
Owners: @devops-team

fix(backend): guard models param in quick-check; robust .strip() handling in OutputFormatter; lint clean
  .aicheck/actions/orchestrator-hardening-tests/PLAN.md
  app/routes/model_availability_routes.py
  app/services/minimal_orchestrator.py
  app/services/output_formatter.py
  documentation/ui-ux/Images/SVG/PNG/signAsset 1tyyy.png
  documentation/ui-ux/Images/SVG/SVG/signAsset 1.svg
  documentation/ui-ux/Images/SVG/fullArtboard 1.png
  documentation/ui-ux/Images/SVG/ulAsset 1.svg
  ultrai-ui/src/App.tsx
  ultrai-ui/src/components/HUD.tsx
  ultrai-ui/vite.config.ts
Owners: @documentation-team

fix(backend): guard models param in quick-check; robust .strip() handling in OutputFormatter; lint clean
  .aicheck/actions/orchestrator-hardening-tests/PLAN.md
  app/routes/model_availability_routes.py
  app/services/minimal_orchestrator.py
  app/services/output_formatter.py
  documentation/ui-ux/Images/SVG/PNG/signAsset 1tyyy.png
  documentation/ui-ux/Images/SVG/SVG/signAsset 1.svg
  documentation/ui-ux/Images/SVG/fullArtboard 1.png
  documentation/ui-ux/Images/SVG/ulAsset 1.svg
  ultrai-ui/src/App.tsx
  ultrai-ui/src/components/HUD.tsx
  ultrai-ui/vite.config.ts
Owners: @documentation-team

Fix: mount model availability routes without extra /api; guard models param
  app/routes/model_availability_routes.py
Owners: none

Fix: mount model availability routes without extra /api; guard models param
  app/routes/model_availability_routes.py
Owners: none

feat(ui): set global background image (use /public/ultrai-bg.jpg); cover+fixed
  frontend/styles/index.css
Owners: none

feat(ui): set global background image (use /public/ultrai-bg.jpg); cover+fixed
  frontend/styles/index.css
Owners: none

Add UltraAI background image
  frontend/public/ultrai-bg.jpg
Owners: none

Add UltraAI background image
  frontend/public/ultrai-bg.jpg
Owners: none

feat(ui): add GuidedChat + ProgressStepper + ReceiptPanel; integrate into UniversalUI two-box layout
  documentation/ui-ux/design-system/steps.txt
  frontend/src/components/steps/GuidedChat.tsx
  frontend/src/components/steps/ProgressStepper.tsx
  frontend/src/components/steps/ReceiptPanel.tsx
  frontend/src/pages/UniversalUI.tsx
Owners: @documentation-team, @ui-team

feat(ui): add GuidedChat + ProgressStepper + ReceiptPanel; integrate into UniversalUI two-box layout
  documentation/ui-ux/design-system/steps.txt
  frontend/src/components/steps/GuidedChat.tsx
  frontend/src/components/steps/ProgressStepper.tsx
  frontend/src/components/steps/ReceiptPanel.tsx
  frontend/src/pages/UniversalUI.tsx
Owners: @documentation-team, @ui-team

docs: SSE/Request-ID spec and P0/P1 tracking with owners; for coordination with Claude Code
  documentation/deliverables/P0_P1_TRACKING.md
  documentation/deliverables/SSE_AND_REQUEST_ID_SPEC.md
Owners: @documentation-team

docs: SSE/Request-ID spec and P0/P1 tracking with owners; for coordination with Claude Code
  documentation/deliverables/P0_P1_TRACKING.md
  documentation/deliverables/SSE_AND_REQUEST_ID_SPEC.md
Owners: @documentation-team

feat(core): P0 hardening + P1 smart selection
  .github/workflows/secret-scanning.yml
  .github/workflows/smoke.yml
  .gitleaks.toml
  .pre-commit-config.yaml
  .vscode/settings.json
  CLAUDE.md
  PR_AUTH_RATE_LIMITING.md
  PR_CIRCUIT_BREAKERS_RESILIENCE.md
  PR_SECRET_ROTATION_SCANNING.md
  app/app.py
  app/config_cors.py
  app/middleware/__init__.py
  app/middleware/auth_middleware.py
  app/middleware/combined_auth_middleware.py
  app/middleware/rate_limit_middleware.py
  app/middleware/security_headers_middleware.py
  app/middleware/telemetry_middleware.py
  app/routes/analyze_routes.py
  app/routes/health_routes.py
  app/routes/orchestrator_minimal.py
  app/services/llm_adapters.py
  app/services/model_selection_service.py
  app/services/orchestration_service.py
  app/services/resilient_llm_adapter.py
  app/services/telemetry_llm_wrapper.py
  app/services/telemetry_service.py
  app/tests/test_model_selection_service.py
  app/tests/test_orchestrator_auto_selection.py
  docs/TELEMETRY_IMPLEMENTATION.md
  documentation/auth_rate_limiting.md
  documentation/deliverables/IMPROVEMENTS.csv
  documentation/deliverables/P0_P1_TRACKING.md
  documentation/deliverables/SSE_AND_REQUEST_ID_SPEC.md
  documentation/resilience_patterns.md
  documentation/secret_management.md
  scripts/rotate_secrets.py
  tests/test_auth_rate_limit.py
  tests/test_resilient_llm_adapter.py
  tests/unit/test_telemetry.py
Owners: @devops-team, @documentation-team, @qa-team

feat(core): P0 hardening + P1 smart selection
  .github/workflows/secret-scanning.yml
  .github/workflows/smoke.yml
  .gitleaks.toml
  .pre-commit-config.yaml
  .vscode/settings.json
  CLAUDE.md
  PR_AUTH_RATE_LIMITING.md
  PR_CIRCUIT_BREAKERS_RESILIENCE.md
  PR_SECRET_ROTATION_SCANNING.md
  app/app.py
  app/config_cors.py
  app/middleware/__init__.py
  app/middleware/auth_middleware.py
  app/middleware/combined_auth_middleware.py
  app/middleware/rate_limit_middleware.py
  app/middleware/security_headers_middleware.py
  app/middleware/telemetry_middleware.py
  app/routes/analyze_routes.py
  app/routes/health_routes.py
  app/routes/orchestrator_minimal.py
  app/services/llm_adapters.py
  app/services/model_selection_service.py
  app/services/orchestration_service.py
  app/services/resilient_llm_adapter.py
  app/services/telemetry_llm_wrapper.py
  app/services/telemetry_service.py
  app/tests/test_model_selection_service.py
  app/tests/test_orchestrator_auto_selection.py
  docs/TELEMETRY_IMPLEMENTATION.md
  documentation/auth_rate_limiting.md
  documentation/deliverables/IMPROVEMENTS.csv
  documentation/deliverables/P0_P1_TRACKING.md
  documentation/deliverables/SSE_AND_REQUEST_ID_SPEC.md
  documentation/resilience_patterns.md
  documentation/secret_management.md
  scripts/rotate_secrets.py
  tests/test_auth_rate_limit.py
  tests/test_resilient_llm_adapter.py
  tests/unit/test_telemetry.py
Owners: @devops-team, @documentation-team, @qa-team

chore(ci): trigger smoke workflow via PR
  .ci-smoke-trigger
Owners: none

Enable P1 features via render.yaml
  ACTIVATE_P1_NOW.md
  docs/P1_PRODUCTION_VERIFICATION.md
  docs/P1_TEST_RESULTS.md
  render.yaml
  render_env_update.yaml
  scripts/activate_p1_features.sh
  scripts/deploy_with_p1.sh
  scripts/verify-production.sh
  test_activation.sh
  test_p1_enhancements.sh
  tests/integration/test_p1_enhancements.py
Owners: @qa-team

chore(ci): update smoke script to respect PRODUCTION_URL env; add monitor_p1_activation helper
  monitor_p1_activation.sh
Owners: none

Add tiktoken to production requirements
  requirements-production.txt
Owners: none

fix(adapters): add class-level CLIENT and use per-class client for httpx
  app/services/llm_adapters.py
Owners: none

sec: lock CORS to Vercel/Render in prod; add strict CSP connect-src (https/wss); remove wildcard in prod
  app/app.py
Owners: none

feat: add Request-ID middleware and enable correlation IDs
  app/app.py
  app/middleware/request_id_middleware.py
Owners: none

docs(ui-ux): remove 35 HTML mockups per Cursor Task 1
  documentation/ui-ux/Images/Placeholder/daynight.html
  documentation/ui-ux/Images/Placeholder/index.html
  documentation/ui-ux/index.html
  documentation/ui-ux/mock2-accurate-perspective.html
  documentation/ui-ux/mock2-accurate-trace.html
  documentation/ui-ux/mock2-billboard-overlay.html
  documentation/ui-ux/mock2-exact-svg.html
  documentation/ui-ux/mock2-exact-trace.html
  documentation/ui-ux/mock2-interactive.html
  documentation/ui-ux/mock2-svg-based.html
  documentation/ui-ux/mock2-svg-traced.html
  documentation/ui-ux/mockups-gallery.html
  documentation/ui-ux/original-working-preview.html
  documentation/ui-ux/path22221-exact.html
  documentation/ui-ux/svg-viewer.html
  documentation/ui-ux/ultrai-building-traced-fullscreen.html
  documentation/ui-ux/ultrai-real-traced-background.html
  documentation/ui-ux/ultrai-webpage-traced-lines.html
  documentation/ui-ux/ultrai-webpage-with-svg.html
  documentation/ui-ux/versions/v10_simplified_interface/index.html
  documentation/ui-ux/versions/v11_tailwind_analysis_form/index.html
  documentation/ui-ux/versions/v12_modern_analysis_interface/index.html
  documentation/ui-ux/versions/v13_enhanced_ui_experience/index.html
  documentation/ui-ux/versions/v14_cyberpunk_city_builder/index.html
  documentation/ui-ux/versions/v1_no_graphic_advanced/index.html
  documentation/ui-ux/versions/v2_no_graphic_succinct_logic_pro/index.html
  documentation/ui-ux/versions/v3_clean_succinct_logic_professional/index.html
  documentation/ui-ux/versions/v4_clean_succinct_logic_professional/index.html
  documentation/ui-ux/versions/v5_billboard_animation/index.html
  documentation/ui-ux/versions/v6_enhanced_ux_experience_based/index.html
  documentation/ui-ux/versions/v7_blue_accent_theme_toggle/index.html
  documentation/ui-ux/versions/v8_modern_clean_fab/index.html
  documentation/ui-ux/versions/v9_cloud_interface/index.html
  documentation/ui-ux/visual-assets-gallery.html
  documentation/ui-ux/wireframe-exact-copy.html
Owners: @documentation-team

refactor(pricing): consolidate to app/services/pricing_service.py and update imports
  app/services/interactive_pricing.py
  app/services/model_selection_service.py
  app/services/pricing_service.py
Owners: none

chore(deps): consolidate requirements into requirements.txt and requirements-production.txt; remove redundant files
  AuditEngine/requirements-optional.txt
  AuditEngine/requirements.txt
  AuditEngine/test_simple/requirements.txt
  app/tests/integration_tests/requirements.txt
  app/tests/requirements.txt
  requirements-dev.txt
  requirements.txt
Owners: none

fix(frontend): correct Tailwind config and restore valid globals.css to resolve PostCSS error
  frontend/styles/globals.css
  frontend/tailwind.config.js
Owners: @devops-team

CODEOWNERS:

# UltraAI CODEOWNERS File
# This file defines code ownership and review requirements for the project
# Format: path/to/file/or/dir @username_or_team

# Documentation requires review by documentation team
/documentation/ @documentation-team

# Core patterns implementation requires careful review
/src/patterns/ @core-team

# Frontend components require UI team review
/frontend/src/components/ @ui-team

# Analysis logic requires AI team review
/src/analysis/ @ai-team

# API services require backend team review
/frontend/src/services/ @backend-team

# Hooks require careful review
/frontend/src/hooks/ @ui-team @core-team

# Test files
/tests/ @qa-team

# Configuration files require DevOps review
*.json @devops-team
*.yml @devops-team
*.config.js @devops-team

# Critical files that require multiple approvals
/src/patterns/ultra_analysis_patterns.py @core-team @ai-team
/documentation/instructions/PATTERNS.md @documentation-team @core-team
/frontend/src/components/UltraWithDocuments.tsx @ui-team @core-team
/frontend/src/services/api.ts @backend-team @core-team

# The CODEOWNERS file itself requires admin approval
/CODEOWNERS @admin-team
