Repository fieldjoshua/UltrAI-Core, changes with the owners that CODEOWNERS names for each.
All owners: @documentation-team, @core-team, @ui-team, @ai-team, @backend-team, @qa-team, @devops-team, @admin-team

CODEOWNERS:

# UltraAI CODEOWNERS File
# This file defines code ownership and review requirements for the project
# Format: path/to/file/or/dir @username_or_team

# Documentation requires review by documentation team
/documentation/ @documentation-team

# Core patterns implementation requires careful review
/src/patterns/ @core-team

# Frontend components require UI team review
/frontend/src/components/ @ui-team

# Analysis logic requires AI team review
/src/analysis/ @ai-team

# API services require backend team review
/frontend/src/services/ @backend-team

# Hooks require careful review
/frontend/src/hooks/ @ui-team @core-team

# Test files
/tests/ @qa-team

# Configuration files require DevOps review
*.json @devops-team
*.yml @devops-team
*.config.js @devops-team

# Critical files that require multiple approvals
/src/patterns/ultra_analysis_patterns.py @core-team @ai-team
/documentation/instructions/PATTERNS.md @documentation-team @core-team
/frontend/src/components/UltraWithDocuments.tsx @ui-team @core-team
/frontend/src/services/api.ts @backend-team @core-team

# The CODEOWNERS file itself requires admin approval
/CODEOWNERS @admin-team

Update: set document title on Wizard mount and add aria-current on active step [a11y]
  frontend/src/components/CyberWizard.tsx
Owners: @ui-team

Configure Render deployment to use demo mode
  render.yaml
Owners: none

Enhance demo mode with longer processing times and detailed output
  frontend/src/api/mockOrchestrator.js
Owners: none

Demo: auto-load dataset and auto-run synthesis; swap logo for minimalist/business skins
  frontend/public/demo/ultrai_demo.json
  frontend/src/api/mockOrchestrator.js
  frontend/src/components/CyberWizard.tsx
Owners: @devops-team, @ui-team

Demo: remove badge, autoload curated JSON, 10x slow timings; ensure text readable on light skins
  frontend/src/api/mockOrchestrator.js
  frontend/src/components/CyberWizard.tsx
  frontend/src/services/api.ts
Owners: @ui-team, @backend-team, @core-team

Demo: ensure public demo JSON exists; fix white-on-white in business/minimalist; force readable base text; auto-run demo JSON
  frontend/public/demo/ultrai_demo.json
  frontend/src/components/CyberWizard.tsx
Owners: @devops-team, @ui-team

Wizard: stop auto-run in demo; prefill prompt and show Step 1
  frontend/src/components/CyberWizard.tsx
  render.yaml
Owners: @ui-team

Status: replace card/runner with sequential LaunchStatus timeline; remove spinner banner
  frontend/src/components/CyberWizard.tsx
  frontend/src/components/LaunchStatus.tsx
Owners: @ui-team

BG: use correct .png assets; remove scale; disable fixed attachment; add image-set for sharper render
  frontend/src/components/CyberWizard.tsx
Owners: @ui-team

Results: wire View Full Results to inline results panel with copy/download
  frontend/src/components/CyberWizard.tsx
Owners: @ui-team

Wizard Step 2: enlarge Textarea; add demo ghost-typing of prompt
  frontend/src/components/CyberWizard.tsx
Owners: @ui-team

Chore: add path aliases; move Wizard components into @components/wizard; update imports; no functional changes
  frontend/DEMO_COMPLETION_SUMMARY.md
  frontend/jest.config.js
  frontend/src/api/ERROR_SIMULATION_GUIDE.md
  frontend/src/api/mockOrchestrator.js
  frontend/src/api/mockOrchestrator.test.js
  frontend/src/components/CyberWizardPro.tsx
  frontend/src/components/LoadingSkeleton.tsx
  frontend/src/components/wizard/CyberWizard.tsx
  frontend/src/components/wizard/LaunchStatus.tsx
  frontend/src/components/wizard/StatusUpdater.tsx
  frontend/tsconfig.json
  frontend/vite.config.ts
Owners: @devops-team, @ui-team

Refactor: organize components into wizard/ and feedback/; update aliases; no functional changes
  IMAGE_OPTIMIZATION_NEEDED.md
  frontend/src/components/feedback/LoadingSkeleton.tsx
  frontend/src/components/feedback/LoadingSpinner.tsx
  frontend/src/utils/imageOptimization.js
Owners: @ui-team

fix: add image optimization utilities and blur-up loading effect
  CHECK_IMAGES.md
  frontend/src/styles/animations.css
Owners: none

Enable demo mode for production build
  frontend/DEMO_SCRIPT.md
  frontend/test-demo.html
Owners: none

UI: Hide wizard panel during processing/results; add iteration navigation; constrain results card; fix lints
  frontend/src/components/wizard/CyberWizard.tsx
Owners: @ui-team

Tune processing timings; reduce scrolling in steps; center processing higher
  frontend/src/components/wizard/CyberWizard.tsx
  frontend/src/components/wizard/LaunchStatus.tsx
Owners: @ui-team

Show ultra_synthesis inline; add downloads for initial/meta iterations (.txt)
  frontend/src/components/wizard/CyberWizard.tsx
Owners: @ui-team

Add Print/Save as PDF button for results views
  frontend/src/components/wizard/CyberWizard.tsx
Owners: @ui-team

Switch night theme background to new bg-nightf image
  frontend/src/components/wizard/CyberWizard.tsx
Owners: @ui-team

Add 2x retina image-set for night background using @2x file
  frontend/src/components/wizard/CyberWizard.tsx
Owners: @ui-team

Animate billboard outline sweep using public overlays
  frontend/src/components/wizard/CyberWizard.tsx
Owners: @ui-team

Use user's lines bill assets for static overlay and animated mask
  frontend/src/components/wizard/CyberWizard.tsx
Owners: @ui-team

Normalize asset filenames; update references to space-free paths; fix 404s
  frontend/public/bg-nightf-1x.jpg
  frontend/public/bg-nightf-2x.jpg
  frontend/public/lines-bill-anim.svg
  frontend/public/lines-bill-static.png
Owners: none

Config: enforce min-model policy and add prod/demo UI CORS origins
  app/config.py
  app/config_cors.py
Owners: none

Fix: typing and awaitability in OrchestrationService; safe token usage handling; typed service_unavailable return
  app/services/orchestration_service.py
Owners: none

UI: Step 4 manual selection uses full-card view with back button (no scrolling)
  frontend/src/components/wizard/CyberWizard.tsx
Owners: @ui-team

Build: use VITE_API_URL env (remove hardcoded API URL)
  frontend/vite.config.ts
Owners: none

fix(adapters): standardize rate limit errors and correct key masking
  app/services/cache_service.py
  app/services/llm_adapters.py
Owners: none

fix(tests): correct api key masking and cache test mocks
  app/app.py
  app/routes/cache_routes.py
  app/services/llm_adapters.py
  data/financial_transactions.json
  model_performance_metrics.json
  tests/integration/test_cache_redis_integration.py
  tests/unit/test_llm_adapters_comprehensive.py
Owners: @devops-team, @qa-team

refactor: isolate transaction service tests
  app/config.py
  app/routes/cache_routes.py
  app/services/auth_service.py
  data/financial_transactions.json
  model_performance_metrics.json
  tests/integration/test_cache_redis_integration.py
  tests/test_transaction_service.py
Owners: @devops-team, @qa-team

refactor: isolate transaction service tests
  app/services/llm_adapters.py
  model_performance_metrics.json
  tests/test_basic_orchestrator.py
  tests/unit/test_auth_orchestrator_protection.py
Owners: @devops-team, @qa-team

fix: resolve multiple test failures
  app/utils/jwt_utils.py
  model_performance_metrics.json
  tests/test_auth_rate_limit.py
  tests/test_llm_adapters_comprehensive.py
  tests/unit/test_llm_adapters_comprehensive.py
Owners: @devops-team, @qa-team

fix: resolve test failures by setting JWT_SECRET_KEY before imports
  app/config.py
  model_performance_metrics.json
  tests/e2e/test_cache_in_orchestration.py
  tests/test_auth_rate_limit.py
  tests/test_resilient_llm_adapter.py
  tests/unit/test_auth_orchestrator_protection.py
  tests/unit/test_jwt_secret_alias.py
  tests/unit/test_single_model_fallback.py
Owners: @devops-team, @qa-team

fix: resolve test configuration and import errors
  Makefile
  TEST_CONFIGURATION.md
  app/app.py
  app/database/session.py
  model_performance_metrics.json
  pytest.ini
  scripts/run_tests_integration.sh
  scripts/run_tests_live.sh
  scripts/run_tests_mock.sh
  scripts/run_tests_offline.sh
  scripts/run_tests_production.sh
  scripts/setup_test_env.sh
  tests/MIGRATION_GUIDE.md
  tests/README.md
  tests/TEST_CONFIGURATION.md
  tests/conftest.py
  tests/e2e/test_cache_in_orchestration.py
  tests/mock_config.py
  tests/pytest_plugins.py
  tests/test_api_failure_handler.py
  tests/test_config.py
  tests/test_config_example.py
  tests/test_configuration_system.py
  tests/test_example_modes.py
  tests/test_llm_adapters_comprehensive.py
  tests/test_orchestration_synthesis.py
  tests/unit/test_cache_service_comprehensive.py
  tests/unit/test_llm_adapters_comprehensive.py
  tests/unit/test_standardized_llm_errors.py
  tests/unit/test_streaming_orchestration.py
Owners: @devops-team, @qa-team

docs: add comprehensive worktree documentation and status tracking
  WORKTREES.md
  scripts/check-worktree-status.sh
Owners: none

feat: enhance config, auth, and service architecture
  .github/workflows/tests.yml
  .vscode/settings.json
  CLAUDE.md
  Makefile
  PRICING_INTEGRATION.md
  app/config.py
  app/database/db_types.py
  app/database/models/analysis.py
  app/database/models/document.py
  app/services/interfaces/__init__.py
  app/services/interfaces/billing_service_interface.py
  app/services/interfaces/budget_service_interface.py
  app/services/interfaces/pricing_service_interface.py
  app/services/recovery_service.py
  app/services/transaction_service_db.py
  app/utils/errors.py
  app/utils/recovery_strategies.py
  docs/TestMatrix.md
  frontend/src/components/OrchestratorInterface.jsx
  model_performance_metrics.json
  scripts/parse_junit_to_cursor.py
  scripts/restore-production.sh
  scripts/run_all_with_cursor_tracking.sh
  scripts/run_tests_all.sh
  scripts/setup-local-test.sh
  scripts/test-e2e.sh
  tests/README.md
  tests/integration/test_database_integration.py
  tests/integration/test_database_integration_mock.py
  tests/live/test_demo_endpoints.py
  tests/test_llm_adapters_comprehensive.py
  tests/unit/test_billing_service.py
  tests/unit/test_budget_service.py
  tests/unit/test_middleware.py
  tests/unit/test_model_selection_service.py
  tests/unit/test_pricing_service.py
  tests/unit/test_recovery_service.py
  tests/unit/test_recovery_service_simple.py
  tests/unit/test_single_model_fallback.py
  tests/unit/test_streaming_orchestration.py
Owners: @devops-team, @ui-team, @qa-team

feat: add multi-AI coordination system
  .cursorrc
  AI_COORDINATION_README.md
  scripts/STATUS_TEMPLATE.md
  scripts/coordinate-ais.sh
  scripts/update-status.sh
Owners: none

chore: ignore test reports and cursor tracking files
  .gitignore
Owners: none

docs: improve CLAUDE.md with streamlined commands and worktree focus
  CLAUDE.md
Owners: none
