Repository fieldjoshua/UltrAI-Core, changes with the owners that CODEOWNERS names for each.
All owners: @documentation-team, @core-team, @ui-team, @ai-team, @backend-team, @qa-team, @devops-team, @admin-team

Fix React Router SPA routing for frontend
  backend/app.py
Owners: none

Add missing HTTPException import for React Router fix
  backend/app.py
Owners: none

Add missing HTTPException import for React Router fix
  backend/app.py
Owners: none

Fix frontend asset loading and CSP for Google Fonts
  backend/app.py
  backend/config_security.py
Owners: none

Fix frontend asset loading and CSP for Google Fonts
  backend/app.py
  backend/config_security.py
Owners: none

Fix frontend CSP and API URL configuration for production
  backend/config_security.py
  frontend/dist/assets/index-C9YNA9wk.js
  frontend/dist/assets/index-Dwk-X7Xu.js
  frontend/dist/index.html
  static/assets/index-C9YNA9wk.js
  static/assets/index-Dwk-X7Xu.js
  static/index.html
Owners: none

Fix frontend CSP and API URL configuration for production
  backend/config_security.py
  frontend/dist/assets/index-C9YNA9wk.js
  frontend/dist/assets/index-Dwk-X7Xu.js
  frontend/dist/index.html
  static/assets/index-C9YNA9wk.js
  static/assets/index-Dwk-X7Xu.js
  static/index.html
Owners: none

Fix frontend API URL and force CSP to include required domains
  backend/middleware/security_headers_middleware.py
  frontend/dist/assets/index-DSHckRXz.js
  frontend/dist/index.html
  frontend/src/api/orchestrator.js
  static/assets/index-DSHckRXz.js
  static/index.html
Owners: none

Fix frontend API URL and force CSP to include required domains
  backend/middleware/security_headers_middleware.py
  frontend/dist/assets/index-DSHckRXz.js
  frontend/dist/index.html
  frontend/src/api/orchestrator.js
  static/assets/index-DSHckRXz.js
  static/index.html
Owners: none

Fix frontend API URL to point to correct Render backend
  frontend/vercel.json
Owners: @devops-team

Fix frontend API URL to point to correct Render backend
  frontend/vercel.json
Owners: @devops-team

Add render.yaml for consistent production deployments
  render.yaml
Owners: none

Add render.yaml for consistent production deployments
  render.yaml
Owners: none

Fix CSP and rebuild frontend with correct API URL
  backend/config_security.py
  frontend/dist/assets/index-YSHTBFrV.js
  frontend/dist/index.html
  static/assets/index-YSHTBFrV.js
  static/index.html
Owners: none

Fix CSP and rebuild frontend with correct API URL
  backend/config_security.py
  frontend/dist/assets/index-YSHTBFrV.js
  frontend/dist/index.html
  static/assets/index-YSHTBFrV.js
  static/index.html
Owners: none

Fix UI visibility and deploy current frontend
  .aicheck/RULES.md
  .aicheck/actions/critical-path-execution/critical-path-execution-plan.md
  .aicheck/actions/critical-path-execution/progress.md
  .aicheck/actions/critical-path-execution/status.txt
  .aicheck/actions/operational-system-audit/operational-system-audit-plan.md
  .aicheck/actions/operational-system-audit/progress.md
  .aicheck/actions/operational-system-audit/status.txt
  .aicheck/actions/operational-system-audit/supporting_docs/OPERATIONAL_AUDIT_FINDINGS.md
  .aicheck/actions/operational-system-audit/supporting_docs/OPERATIONAL_FIX_ACTION_PLAN.md
  .aicheck/actions/operational-system-audit/supporting_docs/claude-interactions/audit-session-20250528.md
  .aicheck/actions/orchestrator-authentication-setup/orchestrator-authentication-setup-plan.md
  .aicheck/actions/orchestrator-authentication-setup/status.txt
  .aicheck/actions_index.md
  .aicheck/current_action
  .aicheck/templates/TODO_TEMPLATE.md
  .mcp/setup.sh
  CLAUDE.md
  DirectorGrid.pdf
  UltrAISheet - Copy of Sheet1.csv
  UltraAI_Component_Activation_Map.csv
  UltraAI_Comprehensive_Analysis.csv
  UltraAI_Essential_Only.csv
  UltraAI_FINAL_AUDITED_PLAN.csv
  UltraAI_Unified_Language.csv
  activate_aicheck_claude.sh
  aicheck
  documentation/dependencies/dependency_index.md
  migrate_action_names.sh
Owners: @documentation-team

Fix UI visibility and deploy current frontend
  .aicheck/RULES.md
  .aicheck/actions/critical-path-execution/critical-path-execution-plan.md
  .aicheck/actions/critical-path-execution/progress.md
  .aicheck/actions/critical-path-execution/status.txt
  .aicheck/actions/operational-system-audit/operational-system-audit-plan.md
  .aicheck/actions/operational-system-audit/progress.md
  .aicheck/actions/operational-system-audit/status.txt
  .aicheck/actions/operational-system-audit/supporting_docs/OPERATIONAL_AUDIT_FINDINGS.md
  .aicheck/actions/operational-system-audit/supporting_docs/OPERATIONAL_FIX_ACTION_PLAN.md
  .aicheck/actions/operational-system-audit/supporting_docs/claude-interactions/audit-session-20250528.md
  .aicheck/actions/orchestrator-authentication-setup/orchestrator-authentication-setup-plan.md
  .aicheck/actions/orchestrator-authentication-setup/status.txt
  .aicheck/actions_index.md
  .aicheck/current_action
  .aicheck/templates/TODO_TEMPLATE.md
  .mcp/setup.sh
  CLAUDE.md
  DirectorGrid.pdf
  UltrAISheet - Copy of Sheet1.csv
  UltraAI_Component_Activation_Map.csv
  UltraAI_Comprehensive_Analysis.csv
  UltraAI_Essential_Only.csv
  UltraAI_FINAL_AUDITED_PLAN.csv
  UltraAI_Unified_Language.csv
  activate_aicheck_claude.sh
  aicheck
  documentation/dependencies/dependency_index.md
  migrate_action_names.sh
Owners: @documentation-team

Fix API endpoint paths and orchestrator integration
  frontend/dist/assets/index-BgaDXIBv.js
  frontend/dist/index.html
  frontend/src/services/api.ts
  static/assets/index-BgaDXIBv.js
  static/index.html
Owners: @backend-team, @core-team

Fix API endpoint paths and orchestrator integration
  frontend/dist/assets/index-BgaDXIBv.js
  frontend/dist/index.html
  frontend/src/services/api.ts
  static/assets/index-BgaDXIBv.js
  static/index.html
Owners: @backend-team, @core-team

Update frontend to use correct backend URL: ultrai-core-4lut.onrender.com
  frontend/vercel.json
  frontend/vite.config.production.ts
Owners: @devops-team

Update frontend to use correct backend URL: ultrai-core-4lut.onrender.com
  frontend/vercel.json
  frontend/vite.config.production.ts
Owners: @devops-team

Add Vercel deployment fix documentation
  VERCEL_DEPLOYMENT_FIX.md
Owners: none

Add Vercel deployment fix documentation
  VERCEL_DEPLOYMENT_FIX.md
Owners: none

Add deployment documentation for immediate fixes
  DEPLOYMENT_STATUS.md
  RENDER_ENV_VARS_NEEDED.md
Owners: none

Add deployment documentation for immediate fixes
  DEPLOYMENT_STATUS.md
  RENDER_ENV_VARS_NEEDED.md
Owners: none

Add urgent fix steps - 5 minutes to working UltraAI
  URGENT_FIX_STEPS.md
Owners: none

Add urgent fix steps - 5 minutes to working UltraAI
  URGENT_FIX_STEPS.md
Owners: none

Fix Vercel build error: Add utils.ts in correct location
  .gitignore
  frontend/src/lib/utils.ts
Owners: none

Fix Vercel build error: Add utils.ts in correct location
  .gitignore
  frontend/src/lib/utils.ts
Owners: none

Add cyberpunk theme graphics and animated logos
  frontend/src/components/AnimatedLogo.css
  frontend/src/components/AnimatedLogo.tsx
  frontend/src/components/AnimatedLogoV2.css
  frontend/src/components/AnimatedLogoV2.tsx
  frontend/src/components/AnimatedLogoV3.css
  frontend/src/components/AnimatedLogoV3.tsx
  frontend/src/components/CyberpunkDemo.tsx
  frontend/src/components/CyberpunkIntegration.tsx
  frontend/src/components/CyberpunkTheme.css
  frontend/src/components/CyberpunkTheme.tsx
Owners: @ui-team

Add cyberpunk theme graphics and animated logos
  frontend/src/components/AnimatedLogo.css
  frontend/src/components/AnimatedLogo.tsx
  frontend/src/components/AnimatedLogoV2.css
  frontend/src/components/AnimatedLogoV2.tsx
  frontend/src/components/AnimatedLogoV3.css
  frontend/src/components/AnimatedLogoV3.tsx
  frontend/src/components/CyberpunkDemo.tsx
  frontend/src/components/CyberpunkIntegration.tsx
  frontend/src/components/CyberpunkTheme.css
  frontend/src/components/CyberpunkTheme.tsx
Owners: @ui-team

Set cyberpunk theme as default landing page
  frontend/src/App.tsx
Owners: none

Set cyberpunk theme as default landing page
  frontend/src/App.tsx
Owners: none

Fix build error in CyberpunkIntegration component
  frontend/src/components/CyberpunkIntegration.tsx
Owners: @ui-team

Fix build error in CyberpunkIntegration component
  frontend/src/components/CyberpunkIntegration.tsx
Owners: @ui-team

Add cyberpunk debug route to diagnose missing graphics
  .aicheck/README.md
  .aicheck/templates/action/PLAN.md
  .aicheck/templates/action/todo.md
  frontend/src/App.tsx
  frontend/src/components/CyberpunkDebug.tsx
  frontend/test-cyberpunk.html
  render.yaml.backup
  test-cors.html
Owners: @ui-team

Add cyberpunk debug route to diagnose missing graphics
  .aicheck/README.md
  .aicheck/templates/action/PLAN.md
  .aicheck/templates/action/todo.md
  frontend/src/App.tsx
  frontend/src/components/CyberpunkDebug.tsx
  frontend/test-cyberpunk.html
  render.yaml.backup
  test-cors.html
Owners: @ui-team

Vercel build check - timestamp 1748542383
  VERCEL_CHECK.md
Owners: none

Vercel build check - timestamp 1748542383
  VERCEL_CHECK.md
Owners: none

Fix frontend API URL in vercel.json
  frontend/vercel.json
Owners: @devops-team

CODEOWNERS:

# UltraAI CODEOWNERS File
# This file defines code ownership and review requirements for the project
# Format: path/to/file/or/dir @username_or_team

# Documentation requires review by documentation team
/documentation/ @documentation-team

# Core patterns implementation requires careful review
/src/patterns/ @core-team

# Frontend components require UI team review
/frontend/src/components/ @ui-team

# Analysis logic requires AI team review
/src/analysis/ @ai-team

# API services require backend team review
/frontend/src/services/ @backend-team

# Hooks require careful review
/frontend/src/hooks/ @ui-team @core-team

# Test files
/tests/ @qa-team

# Configuration files require DevOps review
*.json @devops-team
*.yml @devops-team
*.config.js @devops-team

# Critical files that require multiple approvals
/src/patterns/ultra_analysis_patterns.py @core-team @ai-team
/documentation/instructions/PATTERNS.md @documentation-team @core-team
/frontend/src/components/UltraWithDocuments.tsx @ui-team @core-team
/frontend/src/services/api.ts @backend-team @core-team

# The CODEOWNERS file itself requires admin approval
/CODEOWNERS @admin-team
