Repository fieldjoshua/UltrAI-Core, changes with the owners that CODEOWNERS names for each.
All owners: @documentation-team, @core-team, @ui-team, @ai-team, @backend-team, @qa-team, @devops-team, @admin-team

CODEOWNERS:

# UltraAI CODEOWNERS File
# This file defines code ownership and review requirements for the project
# Format: path/to/file/or/dir @username_or_team

# Documentation requires review by documentation team
/documentation/ @documentation-team

# Core patterns implementation requires careful review
/src/patterns/ @core-team

# Frontend components require UI team review
/frontend/src/components/ @ui-team

# Analysis logic requires AI team review
/src/analysis/ @ai-team

# API services require backend team review
/frontend/src/services/ @backend-team

# Hooks require careful review
/frontend/src/hooks/ @ui-team @core-team

# Test files
/tests/ @qa-team

# Configuration files require DevOps review
*.json @devops-team
*.yml @devops-team
*.config.js @devops-team

# Critical files that require multiple approvals
/src/patterns/ultra_analysis_patterns.py @core-team @ai-team
/documentation/instructions/PATTERNS.md @documentation-team @core-team
/frontend/src/components/UltraWithDocuments.tsx @ui-team @core-team
/frontend/src/services/api.ts @backend-team @core-team

# The CODEOWNERS file itself requires admin approval
/CODEOWNERS @admin-team

Fix frontend API URL in vercel.json
  frontend/vercel.json
Owners: @devops-team

Add deployment test script showing orchestrator is accessible
  test_deployment.py
Owners: none

Add deployment test script showing orchestrator is accessible
  test_deployment.py
Owners: none

Fix critical frontend-backend connection issues
  frontend/dist/assets/index-BgAJBrof.css
  frontend/dist/assets/index-BgaDXIBv.js
  frontend/dist/assets/index-C3ajyr6n.css
  frontend/dist/assets/index-ZQ1BpHOW.js
  frontend/dist/index.html
  frontend/vite.config.production.ts
Owners: none

Fix critical frontend-backend connection issues
  frontend/dist/assets/index-BgAJBrof.css
  frontend/dist/assets/index-BgaDXIBv.js
  frontend/dist/assets/index-C3ajyr6n.css
  frontend/dist/assets/index-ZQ1BpHOW.js
  frontend/dist/index.html
  frontend/vite.config.production.ts
Owners: none

Fix build command to use production vite config
  frontend/package.json
Owners: @devops-team

Fix build command to use production vite config
  frontend/package.json
Owners: @devops-team

Fix missing store import in frontend
  frontend/src/store.js
Owners: none

Fix missing store import in frontend
  frontend/src/store.js
Owners: none

Fix React duplicate import issue in production build
  .aicheck/actions/ultra-aideployment-fix/progress.md
  .aicheck/actions/ultra-aideployment-fix/status.txt
  .aicheck/actions/ultra-aideployment-fix/ultra-aideployment-fix-plan.md
  .aicheck/actions_index.md
  .aicheck/current_action
  CRITICAL_API_KEYS_REQUIREMENT.md
  frontend/.gitignore
  frontend/vite.config.production.ts
Owners: none

Fix React duplicate import issue in production build
  .aicheck/actions/ultra-aideployment-fix/progress.md
  .aicheck/actions/ultra-aideployment-fix/status.txt
  .aicheck/actions/ultra-aideployment-fix/ultra-aideployment-fix-plan.md
  .aicheck/actions_index.md
  .aicheck/current_action
  CRITICAL_API_KEYS_REQUIREMENT.md
  frontend/.gitignore
  frontend/vite.config.production.ts
Owners: none

Simplify build config and fix React duplication
  frontend/package.json
  frontend/test-local.html
  frontend/vite.config.ts
Owners: @devops-team

Simplify build config and fix React duplication
  frontend/package.json
  frontend/test-local.html
  frontend/vite.config.ts
Owners: @devops-team

FINAL FIX: Resolve ThemeProvider conflict causing React mounting failure
  frontend/dist/assets/index-C-sQ1gEY.js
  frontend/dist/assets/index-ZQ1BpHOW.js
  frontend/dist/index.html
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/main.jsx
  frontend/src/theme/ThemePanel.tsx
Owners: @devops-team

FINAL FIX: Resolve ThemeProvider conflict causing React mounting failure
  frontend/dist/assets/index-C-sQ1gEY.js
  frontend/dist/assets/index-ZQ1BpHOW.js
  frontend/dist/index.html
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/main.jsx
  frontend/src/theme/ThemePanel.tsx
Owners: @devops-team

Remove environment toggle - hardcode production API URL
  frontend/vite.config.ts
Owners: none

Remove environment toggle - hardcode production API URL
  frontend/vite.config.ts
Owners: none

Fix API URL - remove /api suffix to match working deployment
  frontend/vite.config.ts
Owners: none

Fix API URL - remove /api suffix to match working deployment
  frontend/vite.config.ts
Owners: none

Fix API key configuration in render.yaml - remove circular reference
  render.yaml
Owners: none

Fix API key configuration in render.yaml - remove circular reference
  render.yaml
Owners: none

Fix LLM health check error: iterate over dictionary values not keys
  .aicheck/.DS_Store
  .aicheck/.aicheck_backup_20250524_095556/.DS_Store
  .aicheck/.aicheck_backup_20250524_095556/actions/.DS_Store
  .aicheck/.aicheck_backup_20250524_095556/actions/frontend-deployment-fix/.DS_Store
  .aicheck/ACTION_TIMELINE.md
  .aicheck/actions/.DS_Store
  .aicheck/actions/completed/frontend-deployment-fix/.DS_Store
  .aicheck/actions/critical-path-execution/critical-path-execution-plan.md
  .aicheck/actions/critical-path-execution/progress.md
  .aicheck/actions_index.md
  UltraAI_Component_Activation_Map.csv
  aicheck
  backend/app.py
  backend/config_security.py
  backend/services/health_service.py
  documentation/ui-ux/Images/mock 2.png
Owners: @documentation-team

Fix LLM health check error: iterate over dictionary values not keys
  .aicheck/.DS_Store
  .aicheck/.aicheck_backup_20250524_095556/.DS_Store
  .aicheck/.aicheck_backup_20250524_095556/actions/.DS_Store
  .aicheck/.aicheck_backup_20250524_095556/actions/frontend-deployment-fix/.DS_Store
  .aicheck/ACTION_TIMELINE.md
  .aicheck/actions/.DS_Store
  .aicheck/actions/completed/frontend-deployment-fix/.DS_Store
  .aicheck/actions/critical-path-execution/critical-path-execution-plan.md
  .aicheck/actions/critical-path-execution/progress.md
  .aicheck/actions_index.md
  UltraAI_Component_Activation_Map.csv
  aicheck
  backend/app.py
  backend/config_security.py
  backend/services/health_service.py
  documentation/ui-ux/Images/mock 2.png
Owners: @documentation-team

Fix LLM health check to accept 'ok' status from providers
  backend/services/health_service.py
Owners: none

Fix LLM health check to accept 'ok' status from providers
  backend/services/health_service.py
Owners: none

Fix orchestration timeout issue - model name mapping and timeout handling
  backend/integrations/pattern_orchestrator_integration_fixed.py
  backend/routes/orchestrator_routes.py
Owners: none

Fix orchestration timeout issue - model name mapping and timeout handling
  backend/integrations/pattern_orchestrator_integration_fixed.py
  backend/routes/orchestrator_routes.py
Owners: none

Fix integration import path for production deployment
  backend/backend/integrations/pattern_orchestrator_integration_fixed.py
  backend/routes/orchestrator_routes.py
Owners: none

Fix integration import path for production deployment
  backend/backend/integrations/pattern_orchestrator_integration_fixed.py
  backend/routes/orchestrator_routes.py
Owners: none

Implement simplified working orchestrator to fix timeout issue
  .aicheck/actions/orchestration-deep-audit/orchestration-deep-audit-plan.md
  .aicheck/actions/orchestration-deep-audit/production_test.py
  .aicheck/actions/orchestration-deep-audit/status.txt
  backend/app.py
  backend/routes/orchestrator_routes_fixed.py
Owners: none

Implement simplified working orchestrator to fix timeout issue
  .aicheck/actions/orchestration-deep-audit/orchestration-deep-audit-plan.md
  .aicheck/actions/orchestration-deep-audit/production_test.py
  .aicheck/actions/orchestration-deep-audit/status.txt
  backend/app.py
  backend/routes/orchestrator_routes_fixed.py
Owners: none

Fix Google client initialization bug in orchestrator
  backend/routes/orchestrator_routes_fixed.py
Owners: none

Fix Google client initialization bug in orchestrator
  backend/routes/orchestrator_routes_fixed.py
Owners: none

Implement minimal orchestrator with Ultra Synthesis
  .aicheck/actions/clean-rebuild-orchestration/clean-rebuild-orchestration-plan.md
  .aicheck/actions/clean-rebuild-orchestration/cleanup_audit.md
  .aicheck/actions/clean-rebuild-orchestration/cleanup_script.sh
  .aicheck/actions/clean-rebuild-orchestration/minimal_orchestrator_design.md
  .aicheck/actions/clean-rebuild-orchestration/orchestrator_integration_audit.md
  .aicheck/actions/clean-rebuild-orchestration/progress.md
  .aicheck/actions/clean-rebuild-orchestration/removed_files_backup/pattern_orchestrator.py
  .aicheck/actions/clean-rebuild-orchestration/removed_files_backup/pattern_orchestrator_integration_fixed.py
  .aicheck/actions/clean-rebuild-orchestration/removed_files_backup/patterns_backup/README.md
  .aicheck/actions/clean-rebuild-orchestration/removed_files_backup/patterns_backup/collaborative_feather.py
  .aicheck/actions/clean-rebuild-orchestration/removed_files_backup/patterns_backup/educational_feather.py
  .aicheck/actions/clean-rebuild-orchestration/removed_files_backup/patterns_backup/feedback_feather.py
  .aicheck/actions/clean-rebuild-orchestration/removed_files_backup/patterns_backup/pattern_registry.py
  .aicheck/actions/clean-rebuild-orchestration/removed_files_backup/patterns_backup/synthesis_feather.py
  .aicheck/actions/clean-rebuild-orchestration/removed_files_backup/patterns_backup/ultra_pattern_orchestrator.py
  .aicheck/actions/clean-rebuild-orchestration/removed_files_backup/resilient_client.py
  .aicheck/actions/clean-rebuild-orchestration/removed_files_backup/test_claude.py
  .aicheck/actions/clean-rebuild-orchestration/removed_files_backup/test_claude_debug.py
  .aicheck/actions/clean-rebuild-orchestration/removed_files_backup/test_deployment.py
  .aicheck/actions/clean-rebuild-orchestration/removed_files_backup/test_deployment_progress.py
  .aicheck/actions/clean-rebuild-orchestration/removed_files_backup/test_document_upload.py
  .aicheck/actions/clean-rebuild-orchestration/removed_files_backup/test_orchestration_minimal.py
  .aicheck/actions/clean-rebuild-orchestration/removed_files_backup/test_resilient_api.py
  .aicheck/actions/clean-rebuild-orchestration/removed_files_backup/ultra_analysis_patterns.py
  .aicheck/actions/clean-rebuild-orchestration/status.txt
  .aicheck/actions/clean-rebuild-orchestration/supporting_docs/process-tests/test_minimal_orchestrator.py
  .aicheck/actions/clean-rebuild-orchestration/supporting_docs/process-tests/test_orchestrator_routes.py
  .aicheck/actions/clean-rebuild-orchestration/supporting_docs/process-tests/test_ultra_synthesis.py
  .aicheck/actions/clean-rebuild-orchestration/supporting_docs/vision-summary.md
  .aicheck/actions/clean-rebuild-orchestration/test_local_orchestrator.py
  .aicheck/actions/clean-rebuild-orchestration/ultra_synthesis_design.md
  backend/app.py
  backend/routes/orchestrator_minimal.py
  backend/services/minimal_orchestrator.py
Owners: none

Implement minimal orchestrator with Ultra Synthesis
  .aicheck/actions/clean-rebuild-orchestration/clean-rebuild-orchestration-plan.md
  .aicheck/actions/clean-rebuild-orchestration/cleanup_audit.md
  .aicheck/actions/clean-rebuild-orchestration/cleanup_script.sh
  .aicheck/actions/clean-rebuild-orchestration/minimal_orchestrator_design.md
  .aicheck/actions/clean-rebuild-orchestration/orchestrator_integration_audit.md
  .aicheck/actions/clean-rebuild-orchestration/progress.md
  .aicheck/actions/clean-rebuild-orchestration/removed_files_backup/pattern_orchestrator.py
  .aicheck/actions/clean-rebuild-orchestration/removed_files_backup/pattern_orchestrator_integration_fixed.py
  .aicheck/actions/clean-rebuild-orchestration/removed_files_backup/patterns_backup/README.md
  .aicheck/actions/clean-rebuild-orchestration/removed_files_backup/patterns_backup/collaborative_feather.py
  .aicheck/actions/clean-rebuild-orchestration/removed_files_backup/patterns_backup/educational_feather.py
  .aicheck/actions/clean-rebuild-orchestration/removed_files_backup/patterns_backup/feedback_feather.py
  .aicheck/actions/clean-rebuild-orchestration/removed_files_backup/patterns_backup/pattern_registry.py
  .aicheck/actions/clean-rebuild-orchestration/removed_files_backup/patterns_backup/synthesis_feather.py
  .aicheck/actions/clean-rebuild-orchestration/removed_files_backup/patterns_backup/ultra_pattern_orchestrator.py
  .aicheck/actions/clean-rebuild-orchestration/removed_files_backup/resilient_client.py
  .aicheck/actions/clean-rebuild-orchestration/removed_files_backup/test_claude.py
  .aicheck/actions/clean-rebuild-orchestration/removed_files_backup/test_claude_debug.py
  .aicheck/actions/clean-rebuild-orchestration/removed_files_backup/test_deployment.py
  .aicheck/actions/clean-rebuild-orchestration/removed_files_backup/test_deployment_progress.py
  .aicheck/actions/clean-rebuild-orchestration/removed_files_backup/test_document_upload.py
  .aicheck/actions/clean-rebuild-orchestration/removed_files_backup/test_orchestration_minimal.py
  .aicheck/actions/clean-rebuild-orchestration/removed_files_backup/test_resilient_api.py
  .aicheck/actions/clean-rebuild-orchestration/removed_files_backup/ultra_analysis_patterns.py
  .aicheck/actions/clean-rebuild-orchestration/status.txt
  .aicheck/actions/clean-rebuild-orchestration/supporting_docs/process-tests/test_minimal_orchestrator.py
  .aicheck/actions/clean-rebuild-orchestration/supporting_docs/process-tests/test_orchestrator_routes.py
  .aicheck/actions/clean-rebuild-orchestration/supporting_docs/process-tests/test_ultra_synthesis.py
  .aicheck/actions/clean-rebuild-orchestration/supporting_docs/vision-summary.md
  .aicheck/actions/clean-rebuild-orchestration/test_local_orchestrator.py
  .aicheck/actions/clean-rebuild-orchestration/ultra_synthesis_design.md
  backend/app.py
  backend/routes/orchestrator_minimal.py
  backend/services/minimal_orchestrator.py
Owners: none

Add basic orchestrator for iterative development
  .aicheck/actions/clean-rebuild-orchestration/clean-rebuild-orchestration-plan.md
  .aicheck/actions/clean-rebuild-orchestration/supporting_docs/process-tests/test_basic_orchestrator.py
  .aicheck/actions/clean-rebuild-orchestration/supporting_docs/test_basic_local.py
  backend/app.py
  backend/routes/orchestrator_minimal.py
  backend/services/basic_orchestrator.py
Owners: none

Add basic orchestrator for iterative development
  .aicheck/actions/clean-rebuild-orchestration/clean-rebuild-orchestration-plan.md
  .aicheck/actions/clean-rebuild-orchestration/supporting_docs/process-tests/test_basic_orchestrator.py
  .aicheck/actions/clean-rebuild-orchestration/supporting_docs/test_basic_local.py
  backend/app.py
  backend/routes/orchestrator_minimal.py
  backend/services/basic_orchestrator.py
Owners: none

Refactor: Replace stub LLM adapters with unified httpx-based implementation
  .aicheck/actions/clean-rebuild-orchestration/supporting_docs/deployment-verification.md
  backend/models/llm_adapter.py
  backend/services/llm_adapters.py
  backend/services/minimal_orchestrator.py
Owners: none

Refactor: Replace stub LLM adapters with unified httpx-based implementation
  .aicheck/actions/clean-rebuild-orchestration/supporting_docs/deployment-verification.md
  backend/models/llm_adapter.py
  backend/services/llm_adapters.py
  backend/services/minimal_orchestrator.py
Owners: none

Fix: Bypass faulty orchestrator facade to fix startup crash
  backend/models/enhanced_orchestrator.py
  backend/services/prompt_service.py
Owners: none
