Repository fieldjoshua/UltrAI-Core, changes with the owners that CODEOWNERS names for each.
All owners: @documentation-team, @core-team, @ui-team, @ai-team, @backend-team, @qa-team, @devops-team, @admin-team

CODEOWNERS:

# UltraAI CODEOWNERS File
# This file defines code ownership and review requirements for the project
# Format: path/to/file/or/dir @username_or_team

# Documentation requires review by documentation team
/documentation/ @documentation-team

# Core patterns implementation requires careful review
/src/patterns/ @core-team

# Frontend components require UI team review
/frontend/src/components/ @ui-team

# Analysis logic requires AI team review
/src/analysis/ @ai-team

# API services require backend team review
/frontend/src/services/ @backend-team

# Hooks require careful review
/frontend/src/hooks/ @ui-team @core-team

# Test files
/tests/ @qa-team

# Configuration files require DevOps review
*.json @devops-team
*.yml @devops-team
*.config.js @devops-team

# Critical files that require multiple approvals
/src/patterns/ultra_analysis_patterns.py @core-team @ai-team
/documentation/instructions/PATTERNS.md @documentation-team @core-team
/frontend/src/components/UltraWithDocuments.tsx @ui-team @core-team
/frontend/src/services/api.ts @backend-team @core-team

# The CODEOWNERS file itself requires admin approval
/CODEOWNERS @admin-team

Implement MVP functionality for comparing multiple LLM responses
  .aicheck/actions/MVPCompletion/MVPCompletion-PLAN.md
  .aicheck/actions/MVPCompletion/status.md
  .aicheck/actions/MVPCompletion/supporting_docs/implementation_summary.md
  CLAUDE.md
  backend/routes/analyze_routes.py
  backend/services/prompt_service.py
  frontend/src/pages/SimpleAnalysis.tsx
  frontend/src/services/api.ts
  test_api.py
  test_docker_modelrunner.py
Owners: @backend-team, @core-team

docs: add comprehensive orchestrator data flow summary
  ORCHESTRATOR_DATA_FLOW.md
Owners: none

feat: add auto-updating actions index
  .aicheck/actions/ActionIndexAutomation/ActionIndexAutomation-COMPLETED.md
  .aicheck/actions/ActionIndexAutomation/ActionIndexAutomation-PLAN.md
  .aicheck/actions/ActionIndexAutomation/supporting_docs/implementation_summary.md
  .aicheck/actions/ActionIndexAutomation/supporting_docs/usage_guide.md
  .aicheck/actions/README.md
  .aicheck/actions/index.html
  .aicheck/actions/setup_git_hook.sh
  .aicheck/actions/update_index.py
  .aicheck/actions/watch_and_update.sh
  .aicheck/current_action
  .aicheck/docs/actions_index.md
Owners: none

feat(tests): Add JWT utility tests and implementation plan for remaining test tasks
  .aicheck/actions/MVPTestCoverage/supporting_docs/implementation_plan_for_remaining_tasks.md
  .aicheck/actions/index.html
  .aicheck/current_action
  backend/tests/test_jwt_utils.py
Owners: none

feat(tests): Add authentication edge case tests and update implementation progress
  .aicheck/actions/MVPTestCoverage/implementation_progress.md
  .aicheck/actions/index.html
  backend/tests/test_auth_edge_cases.py
Owners: none

fix(tests): Fix JWT utility tests and add implementation note
  .aicheck/actions/MVPTestCoverage/supporting_docs/jwt_tests_implementation_note.md
  .aicheck/actions/index.html
  backend/tests/test_jwt_utils.py
Owners: none

feat: add comprehensive rate limiting tests
  .aicheck/actions/MVPTestCoverage/implementation_progress.md
  .aicheck/actions/MVPTestCoverage/supporting_docs/rate_limit_tests_implementation.md
  .aicheck/actions/index.html
  backend/tests/test_rate_limit_middleware.py
  backend/tests/test_rate_limit_service.py
Owners: none

Complete MVPTestCoverage action with documentation
  .aicheck/actions/MVPTestCoverage/supporting_docs/action_completion_summary.md
  .aicheck/actions/MVPTestCoverage/supporting_docs/ci_pipeline_implementation.md
  .aicheck/actions/MVPTestCoverage/supporting_docs/e2e_analysis_tests_implementation.md
  .aicheck/actions/MVPTestCoverage/supporting_docs/implementation_progress.md
  .aicheck/actions/MVPTestCoverageCompleted/MVPTestCoverageCompleted-PLAN.md
  .aicheck/actions/index.html
  .aicheck/current_action
  .github/workflows/comprehensive-test.yml
  backend/app.py
  backend/models/document_analysis.py
  backend/routes/document_analysis_routes.py
  backend/services/document_analysis_service.py
  backend/tests/test_e2e_analysis_flow.py
  scripts/run_test_suite.sh
  scripts/track_test_progress.py
  tests/TESTING_GUIDE.md
  tests/TEST_INDEX.md
  tests/run_with_progress.sh
  tests/test_progress.py
Owners: @devops-team, @qa-team

feat: implement LLM provider health checks with circuit breakers
  .aicheck/actions/index.html
  README-PRODUCTION.md
  backend/routes/health_routes.py
  backend/services/health_service.py
  backend/utils/health_check.py
  documentation/implementation_plan.md
  documentation/llm_health_checks.md
  documentation/production_readiness_implementation_report.md
  scripts/test_production.sh
Owners: @documentation-team

Add port clearing utility and fix path handling
  README.md
  backend/config.py
  documentation/technical/setup/local_development_guide.md
  fix_imports.py
  scripts/clear_port.sh
  scripts/start-dev.sh
  scripts/start-ultra-with-modelrunner.sh
  scripts/test_production.sh
Owners: @documentation-team

docs: add PortManagementUtility action documentation
  .aicheck/actions/PortManagementUtility/PortManagementUtility-COMPLETED.md
  .aicheck/actions/PortManagementUtility/PortManagementUtility-PLAN.md
  .aicheck/actions/PortManagementUtility/supporting_docs/implementation_summary.md
  .aicheck/docs/actions_index.md
  documentation/technical/setup/port_management.md
Owners: @documentation-team

feat: implement MVP Deployment Pipeline
  .aicheck/actions/MVPDeploymentPipeline/MVPDeploymentPipeline-COMPLETED.md
  .aicheck/actions/index.html
  .aicheck/docs/actions_index.md
  .flake8
  documentation/deployment/release_process.md
  documentation/deployment/troubleshooting.md
  scripts/deploy-mvp.sh
  scripts/rollback-mvp.sh
  scripts/verify-deployment.sh
  tests/deployment/test_deployment.py
Owners: @documentation-team, @qa-team

feat: implement database-backed authentication system
  .aicheck/actions/SimpleAuthenticationSystem/SimpleAuthenticationSystem-COMPLETED.md
  .aicheck/actions/SimpleAuthenticationSystem/SimpleAuthenticationSystem-PLAN.md
  .aicheck/actions/SimpleAuthenticationSystem/supporting_docs/implementation_summary.md
  .aicheck/actions/index.html
  backend/database/models/user.py
  backend/middleware/auth_middleware.py
  backend/routes/auth_routes.py
  backend/services/auth_service.py
  documentation/technical/authentication/authentication_system.md
Owners: @documentation-team

chore: fix linting issues in actions index
  .aicheck/actions/index.html
Owners: none

docs: update action index with SimpleAuthenticationSystem
  .aicheck/docs/actions_index.md
Owners: none

Implement comprehensive error handling system (Phases 1 & 2)
  .aicheck/actions/ErrorHandlingImplementation/ErrorHandlingImplementation-PLAN.md
  .aicheck/actions/ErrorHandlingImplementation/supporting_docs/implementation_status.md
  .aicheck/actions/ErrorHandlingImplementation/supporting_docs/phase2_completion_summary.md
  backend/app.py
  backend/middleware/locale_middleware.py
  backend/tests/test_error_handling.py
  backend/tests/test_user_messages.py
  backend/utils/error_handler.py
  backend/utils/errors.py
  backend/utils/user_messages.py
Owners: none

Add phased git hook compliance [MVPProductionAudit]
  .aicheck/RULES.md
  .aicheck/actions/ErrorHandlingImplementation/ErrorHandlingImplementation-COMPLETED.md
  .aicheck/actions/ErrorHandlingImplementation/ErrorHandlingImplementation-PLAN.md
  .aicheck/actions/ErrorHandlingImplementation/ErrorHandlingImprovement/ErrorHandlingImprovement-PLAN.md
  .aicheck/actions/ErrorHandlingImplementation/ErrorHandlingImprovement/supporting_docs/completion_report.md
  .aicheck/actions/ErrorHandlingImplementation/ErrorHandlingImprovement/supporting_docs/implementation_summary.md
  .aicheck/actions/ErrorHandlingImplementation/supporting_docs/claude-interactions/phase3-api-failure-handling.md
  .aicheck/actions/ErrorHandlingImplementation/supporting_docs/error_catalog.md
  .aicheck/actions/ErrorHandlingImplementation/supporting_docs/implementation_plan.md
  .aicheck/actions/ErrorHandlingImplementation/supporting_docs/implementation_status.md
  .aicheck/actions/ErrorHandlingImplementation/supporting_docs/phase3_completion_summary.md
  .aicheck/actions/ErrorHandlingImplementation/supporting_docs/phase4_completion_summary.md
  .aicheck/actions/ErrorHandlingImplementation/supporting_docs/recovery_procedures.md
  .aicheck/actions/MVPProductionAudit/MVPProductionAudit-PLAN.md
  .aicheck/actions/MVPProductionAudit/MVPProductionAudit-SUMMARY.md
  .aicheck/actions/MVPProductionAudit/supporting_docs/audit_checklist.md
  .aicheck/actions/MVPProductionAudit/supporting_docs/claude-interactions/initial-creation-2025-05-16.md
  .aicheck/actions/MVPProductionAudit/supporting_docs/deployment_validation.md
  .aicheck/actions/MVPProductionAudit/supporting_docs/go_no_go_criteria.md
  .aicheck/actions/MVPProductionAudit/supporting_docs/production_scripts/test_full_functionality.sh
  .aicheck/actions/MVPProductionAudit/supporting_docs/production_scripts/validate_configuration.py
  .aicheck/actions/MVPProductionAudit/supporting_docs/security_audit_template.md
  .aicheck/actions/TaskAgentSystem/TaskAgentSystem-PLAN.md
  .aicheck/actions/TaskAgentSystem/supporting_docs/claude-interactions/agent-refinement-2025-05-16.md
  .aicheck/actions/TaskAgentSystem/supporting_docs/claude-interactions/initial-design-2025-05-16.md
  .aicheck/actions/TaskAgentSystem/supporting_docs/claude-interactions/post-mvp-designation-2025-05-16.md
  .aicheck/actions/TaskAgentSystem/supporting_docs/post-mvp-justification.md
  .aicheck/actions_index.md
  .aicheck/hooks/README.md
  .aicheck/hooks/pre-commit-aicheck
  .pre-commit-config.yaml
  backend/routes/recovery_routes.py
  backend/routes/resilient_orchestrator_routes.py
  backend/services/api_failure_handler.py
  backend/services/recovery_service.py
  check_production_readiness.py
  test_mvp_functionality.py
Owners: none

Fix markdown formatting issues
  .aicheck/RULES.md
  .aicheck/actions/MVPProductionAudit/FINAL_AUDIT_REPORT.md
  .aicheck/actions/index.html
Owners: none

Fix GitHub vulnerabilities by removing bundlesize dependency
  .aicheck/actions/index.html
Owners: none

Fix Tornado vulnerability (CVE-2025-47287) by upgrading to 6.5
  .aicheck/actions/index.html
  requirements.txt
Owners: none

Fix Tornado vulnerability (CVE-2025-47287) by upgrading to 6.5
  .aicheck/actions/index.html
  requirements.txt
Owners: none

Fix multiple security vulnerabilities in Python packages
  requirements.txt
Owners: none

Fix multiple security vulnerabilities in Python packages
  requirements.txt
Owners: none

Fix starlette version compatibility with FastAPI
  requirements.txt
Owners: none

Fix starlette version compatibility with FastAPI
  requirements.txt
Owners: none

Update formatting in .aicheck files
  .aicheck/RULES.md
  .aicheck/actions/index.html
Owners: none

Update formatting in .aicheck files
  .aicheck/RULES.md
  .aicheck/actions/index.html
Owners: none

chore: remove contextual-help-demo directory
  contextual-help-demo/.gitignore
  contextual-help-demo/README.md
  contextual-help-demo/package-lock.json
  contextual-help-demo/package.json
  contextual-help-demo/public/Recording 5_1_2025 at 9_07_50 PM.json
  contextual-help-demo/public/favicon.ico
  contextual-help-demo/public/index.html
  contextual-help-demo/public/logo192.png
  contextual-help-demo/public/logo512.png
  contextual-help-demo/public/manifest.json
  contextual-help-demo/public/robots.txt
  contextual-help-demo/src/App.css
  contextual-help-demo/src/App.js
  contextual-help-demo/src/App.test.js
  contextual-help-demo/src/index.css
  contextual-help-demo/src/index.js
  contextual-help-demo/src/logo.svg
  contextual-help-demo/src/reportWebVitals.js
  contextual-help-demo/src/setupTests.js
Owners: @devops-team

chore: remove contextual-help-demo directory
  contextual-help-demo/.gitignore
  contextual-help-demo/README.md
  contextual-help-demo/package-lock.json
  contextual-help-demo/package.json
  contextual-help-demo/public/Recording 5_1_2025 at 9_07_50 PM.json
  contextual-help-demo/public/favicon.ico
  contextual-help-demo/public/index.html
  contextual-help-demo/public/logo192.png
  contextual-help-demo/public/logo512.png
  contextual-help-demo/public/manifest.json
  contextual-help-demo/public/robots.txt
  contextual-help-demo/src/App.css
  contextual-help-demo/src/App.js
  contextual-help-demo/src/App.test.js
  contextual-help-demo/src/index.css
  contextual-help-demo/src/index.js
  contextual-help-demo/src/logo.svg
  contextual-help-demo/src/reportWebVitals.js
  contextual-help-demo/src/setupTests.js
Owners: @devops-team

chore: update RULES.md formatting
  .aicheck/RULES.md
Owners: none

chore: update RULES.md formatting
  .aicheck/RULES.md
Owners: none

feat: add production deployment configuration
  .env.production.example
  docker-compose.production.yml
  frontend/Dockerfile
  frontend/nginx.conf
  jwt_secret.txt
  nginx/prod.conf
Owners: @devops-team

feat: add production deployment configuration
  .env.production.example
  docker-compose.production.yml
  frontend/Dockerfile
  frontend/nginx.conf
  jwt_secret.txt
  nginx/prod.conf
Owners: @devops-team

feat: add deployment script
  deploy.sh
Owners: none

feat: add deployment script
  deploy.sh
Owners: none

feat: add server setup script
  server-setup.sh
Owners: none

feat: add server setup script
  server-setup.sh
Owners: none

fix: add Railway-compatible deployment files
  .env.production
  .gitignore
  Dockerfile.railway
  Procfile
  api/index.py
  railway.json
  railway.toml
  render.yaml
  requirements-vercel.txt
  vercel_backend.json
Owners: @devops-team

fix: add Railway-compatible deployment files
  .env.production
  .gitignore
  Dockerfile.railway
  Procfile
  api/index.py
  railway.json
  railway.toml
  render.yaml
  requirements-vercel.txt
  vercel_backend.json
Owners: @devops-team

feat: add Replit deployment support
  .replit
  replit.nix
Owners: none
