Repository fieldjoshua/UltrAI-Core, changes with the owners that CODEOWNERS names for each.
All owners: @documentation-team, @core-team, @ui-team, @ai-team, @backend-team, @qa-team, @devops-team, @admin-team

chore(frontend): remove unused React default imports in TSX files
  frontend/src/App.tsx
  frontend/src/components/CyberWizard.tsx
  frontend/src/pages/wizard.tsx
Owners: @ui-team

fix: Update tests to use orchestration_service instead of removed orchestrators
  .env.test
  frontend/dist/assets/index-Bs4EwVgO.css
  frontend/dist/assets/index-CTmagUvY.js
  frontend/dist/assets/index-Cb1Hhu-t.js
  frontend/dist/assets/index-DLiT54nR.css
  frontend/dist/index.html
  frontend/dist/wizard_steps.json
  frontend/src/components/AnalysisModes.tsx
  frontend/src/components/CyberWizard.tsx
  supporting_docs/integration-and-test-fixes.md
  tests/__init__.py
  tests/test_basic_orchestrator.py
  tests/unit/orchestrator/test_orchestrator_features.py
Owners: @devops-team, @ui-team, @qa-team

feat: Add comprehensive monitoring and deployment configuration
  .github/workflows/ci-cd.yml
  documentation/deployment-guide.md
  frontend/dist/assets/index-CTmagUvY.js
  frontend/dist/assets/index-D4k8Yjue.js
  frontend/dist/assets/index-DLiT54nR.css
  frontend/dist/assets/index-DzfQLuDF.css
  frontend/dist/index.html
  frontend/dist/status_steps.json
  frontend/public/status_steps.json
  frontend/src/components/AnalysisModes.tsx
  frontend/src/components/CyberWizard.tsx
  frontend/src/components/OptionCards.tsx
  frontend/src/components/StatusUpdater.tsx
  monitoring/README.md
  monitoring/docker-compose.yml
  monitoring/grafana/dashboards/ultrai-core-dashboard.json
  monitoring/grafana/provisioning/dashboards/dashboard.yml
  monitoring/grafana/provisioning/datasources/prometheus.yml
  monitoring/logging-config.yaml
  monitoring/prometheus/alert-rules.yml
  monitoring/prometheus/prometheus.yml
  render.yaml
  supporting_docs/monitoring-deployment-setup.md
Owners: @devops-team, @documentation-team, @ui-team

feat: Implement database schema, authentication, and financial tracking
  alembic.ini
  alembic/README
  alembic/env.py
  alembic/script.py.mako
  alembic/versions/193d7cef96f8_initial_database_schema_with_users_.py
  app/database/models/__init__.py
  app/database/models/transaction.py
  app/database/session.py
  app/middleware/auth_dependencies.py
  app/routes/auth_routes.py
  app/services/auth_service_new.py
  app/services/transaction_service_db.py
  frontend/dist/assets/index-CVIzdddq.css
  frontend/dist/assets/index-D4k8Yjue.js
  frontend/dist/assets/index-DOkRn7Sh.js
  frontend/dist/assets/index-DzfQLuDF.css
  frontend/dist/index.html
  frontend/dist/wizard_steps.json
  frontend/public/wizard_steps.json
  frontend/src/components/CyberWizard.tsx
  scripts/init_database.py
  supporting_docs/database-auth-implementation.md
  ultrai_dev.db
Owners: @devops-team, @ui-team

fix: resolve CSP violations; serve wizard_steps.json; remove inline onload for fonts
  app/app.py
  app/middleware/security_headers_middleware.py
  frontend/index.html
Owners: none

fix(csp): allow inline styles explicitly in app setup
  app/app.py
Owners: none

fix(csp): remove duplicate middleware call to ensure header uses inline styles
  app/app.py
Owners: none

fix: add cache_service singleton and is_redis_available for health checks
  app/services/cache_service.py
Owners: none

fix: add UserResponse model for auth routes
  app/models/auth.py
Owners: none

fix: add bcrypt to production requirements
  requirements-production.txt
Owners: none

fix: add get_current_admin_user alias and deploy again
  app/middleware/auth_dependencies.py
Owners: none

frontend: fix CyberWizard TSX parse error, adjust layout, add background fallback; build clean; update dist assets
  frontend/dist/assets/index-C8FuyEp_.js
  frontend/dist/assets/index-CyAZabxR.css
  frontend/dist/assets/index-DE0o6RwN.js
  frontend/dist/assets/index-DNpL_vCP.css
  frontend/dist/index.html
  frontend/src/components/CyberWizard.tsx
Owners: @ui-team

Fix: restore final CTA/status in wizard; Finish triggers status on last step; rebuild dist
  frontend/dist/assets/index-C8FuyEp_.js
  frontend/dist/assets/index-CSn199Lj.js
  frontend/dist/index.html
  frontend/src/components/CyberWizard.tsx
Owners: @ui-team

Serve built file paths in SPA fallback; make wizard container scrollable (min-h-screen); rebuild
  app/app.py
  frontend/dist/assets/index-C2tfd0oO.js
  frontend/dist/index.html
  frontend/src/components/CyberWizard.tsx
Owners: @ui-team

fix: correct orchestrator API URL in frontend - remove duplicate /api path segment
  CLAUDE.md
  app_development.py
  frontend/src/api/orchestrator.js
Owners: none

Raise wizard panels (10vh margin) and ensure step 4 clickability (z-index/pointer-events); rebuild
  frontend/dist/assets/index-BXIfq2ma.css
  frontend/dist/assets/index-DNpL_vCP.css
  frontend/dist/assets/index-T-9mn6nM.js
  frontend/dist/index.html
  frontend/src/components/CyberWizard.tsx
Owners: @ui-team

fix: update frontend to properly display Ultra Synthesis 3-stage pipeline
  documentation/analysis/ultra-synthesis-flow-analysis.md
  frontend/dist/assets/index-BLjoy0d3.js
  frontend/dist/assets/index-BXIfq2ma.css
  frontend/dist/assets/index-T-9mn6nM.js
  frontend/dist/assets/index-amYr-nvj.css
  frontend/dist/index.html
  frontend/src/api/orchestrator.js
  frontend/src/components/OrchestratorInterface.jsx
  scripts/test_orchestration_flow.py
Owners: @documentation-team, @ui-team

Adjust wizard layout: wider (col-span-6), shorter (38vh), lower offset (14vh); rebuild
  frontend/dist/assets/index-5rr3XBst.js
  frontend/dist/assets/index-amYr-nvj.css
  frontend/dist/assets/index-pscvm9Is.css
  frontend/dist/index.html
  frontend/src/components/CyberWizard.tsx
Owners: @ui-team

Lower wizard grid further (24vh) per positioning request; rebuild
  frontend/dist/assets/index-DFyY4vHz.js
  frontend/dist/index.html
  frontend/src/components/CyberWizard.tsx
Owners: @ui-team

Step 4: gray out non-Ultra Synthesis analysis options (disabled inputs, dim labels); rebuild
  frontend/dist/assets/index-7zlm7VVo.css
  frontend/dist/assets/index-C3YHTr8U.js
  frontend/dist/assets/index-DFyY4vHz.js
  frontend/dist/assets/index-pscvm9Is.css
  frontend/dist/index.html
  frontend/src/components/CyberWizard.tsx
Owners: @ui-team

feat: improve error handling for missing API keys
  app/routes/model_availability_routes.py
  app/services/orchestration_service.py
  documentation/memos/ultra-synthesis-ui-fixes-2025-01-28.md
Owners: @documentation-team

Update peer review prompt to be more critical and fact-checking
  app/services/orchestration_service.py
  debug_ultra_synthesis.py
  documentation/progress/ultra-synthesis-next-steps-2025-01-28.md
  full_pipeline_1756364746.json
  test_full_pipeline.py
  test_ultra_synthesis.py
  ultra_synthesis_response.json
Owners: @documentation-team, @devops-team

feat: enhance model availability with API key checking
  app/routes/available_models_routes.backup
  app/routes/available_models_routes.py
  peer_review_test_1756365002.json
  test_new_peer_review.py
Owners: @devops-team

Wire Commence to Ultra Synthesis (processWithFeatherOrchestration), fade UI during run, show result summary; rebuild
  frontend/dist/assets/index-C3YHTr8U.js
  frontend/dist/assets/index-CXlAJLMs.js
  frontend/dist/index.html
  frontend/src/components/CyberWizard.tsx
Owners: @ui-team

Step 3: load available models from /api/available-models; filter UI list; rebuild
  frontend/dist/assets/index-CXlAJLMs.js
  frontend/dist/assets/index-DXzAEN1r.js
  frontend/dist/index.html
  frontend/src/components/CyberWizard.tsx
Owners: @ui-team

Harden Step 3 models rendering: null-safe options, label fallback, empty states; rebuild
  frontend/dist/assets/index-D3SsDeln.js
  frontend/dist/assets/index-DXzAEN1r.js
  frontend/dist/index.html
  frontend/src/components/CyberWizard.tsx
Owners: @ui-team

Fix React 310: move Ultra Synthesis effect above conditional return to preserve hook order; rebuild
  frontend/dist/assets/index-B_hLD3s7.js
  frontend/dist/index.html
  frontend/src/components/CyberWizard.tsx
Owners: @ui-team

Lower wizard and receipt panels: increase top offset to 40vh; rebuild
  frontend/dist/assets/index-CbwUvrro.js
  frontend/dist/index.html
  frontend/src/components/CyberWizard.tsx
Owners: @ui-team

Deploy: activate HuggingFace models with API key
  debug_huggingface.py
  documentation/deployments/huggingface-activation.md
  documentation/memos/model-availability-improvements-2025-01-28.md
  huggingface_debug.json
  test_hf_direct.py
  test_huggingface.py
  test_render_env.sh
Owners: @documentation-team, @devops-team

Swap steps: Analysis before Models; add Auto (cost/premium/speed) and Manual model selection with receipt total; filter to functional models; rebuild
  frontend/dist/assets/index-7zlm7VVo.css
  frontend/dist/assets/index-CbwUvrro.js
  frontend/dist/assets/index-DcuhKTT6.js
  frontend/dist/assets/index-DkRxN0JC.css
  frontend/dist/index.html
  frontend/dist/wizard_steps.json
  frontend/public/wizard_steps.json
  frontend/src/components/CyberWizard.tsx
Owners: @devops-team, @ui-team

Add Step 0 Intro: welcome copy spanning main and receipt footprints; render intro type; rebuild
  frontend/dist/assets/index-CDrN0YoN.css
  frontend/dist/assets/index-DcuhKTT6.js
  frontend/dist/assets/index-DkRxN0JC.css
  frontend/dist/assets/index-DtlqF9nL.js
  frontend/dist/index.html
  frontend/dist/wizard_steps.json
  frontend/public/wizard_steps.json
  frontend/src/components/CyberWizard.tsx
Owners: @devops-team, @ui-team

Update Step 0 intro narrative with premium/personalized/on-demand copy; rebuild
  frontend/dist/wizard_steps.json
  frontend/public/wizard_steps.json
Owners: @devops-team

Neon cyberpunk CTA: add .btn-neon + apply to Step 0 'Start UltrAI!' button; rebuild
  frontend/dist/assets/index-Cd_9vDpK.js
  frontend/dist/assets/index-DtlqF9nL.js
  frontend/dist/index.html
  frontend/src/components/CyberWizard.tsx
  frontend/src/styles/globals.css
Owners: @ui-team

Step 0 hero-only: remove progress dots & receipt; constrained copy with neon highlights; crazy CTA; rebuild
  frontend/dist/assets/index-1xarFVfG.js
  frontend/dist/assets/index-CDrN0YoN.css
  frontend/dist/assets/index-Cd_9vDpK.js
  frontend/dist/assets/index-CyMwatjq.css
  frontend/dist/index.html
  frontend/src/components/CyberWizard.tsx
Owners: @ui-team

Step 0 copy refined; add neon flicker/hover utilities; apply to hero text; rebuild
  frontend/dist/assets/index-1xarFVfG.js
  frontend/dist/assets/index-J6DaC1kc.js
  frontend/dist/index.html
  frontend/dist/wizard_steps.json
  frontend/public/wizard_steps.json
  frontend/src/components/CyberWizard.tsx
  frontend/src/styles/globals.css
Owners: @devops-team, @ui-team

feat(orchestrator): implement high-priority improvements for reliability
  app/config.py
  app/services/orchestration_retry_handler.py
  app/services/orchestration_service.py
  check_render_hf.py
  supporting_docs/deployment-verification.md
  supporting_docs/orchestrator-improvements.md
  test_hf_direct.py
  test_orchestrator_improvements.py
Owners: none

Step 0 polish: neon tag badges + stronger pulsing glow on CTA; rebuild
  frontend/dist/assets/index-CcOw7-JJ.css
  frontend/dist/assets/index-CyMwatjq.css
  frontend/dist/assets/index-Cyj5lvQO.js
  frontend/dist/index.html
  frontend/src/components/CyberWizard.tsx
  frontend/src/styles/globals.css
Owners: @ui-team

Security: scrub HuggingFace token (use env var); redact key in docs
  supporting_docs/deployment-verification.md
  test_hf_direct.py
Owners: none

CRITICAL: Fix security vulnerabilities - remove API keys and hardcoded secrets
  .env.example
  .env.secure
  SECURITY_ALERT.md
  app/routes/orchestrator_minimal.py
  app/utils/jwt_utils.py
  supporting_docs/security-fixes.md
Owners: none

Security: remove exposed API keys from documentation
  ROTATE_KEYS_NOW.sh
  SECURITY_ALERT.md
Owners: none

CODEOWNERS:

# UltraAI CODEOWNERS File
# This file defines code ownership and review requirements for the project
# Format: path/to/file/or/dir @username_or_team

# Documentation requires review by documentation team
/documentation/ @documentation-team

# Core patterns implementation requires careful review
/src/patterns/ @core-team

# Frontend components require UI team review
/frontend/src/components/ @ui-team

# Analysis logic requires AI team review
/src/analysis/ @ai-team

# API services require backend team review
/frontend/src/services/ @backend-team

# Hooks require careful review
/frontend/src/hooks/ @ui-team @core-team

# Test files
/tests/ @qa-team

# Configuration files require DevOps review
*.json @devops-team
*.yml @devops-team
*.config.js @devops-team

# Critical files that require multiple approvals
/src/patterns/ultra_analysis_patterns.py @core-team @ai-team
/documentation/instructions/PATTERNS.md @documentation-team @core-team
/frontend/src/components/UltraWithDocuments.tsx @ui-team @core-team
/frontend/src/services/api.ts @backend-team @core-team

# The CODEOWNERS file itself requires admin approval
/CODEOWNERS @admin-team
