Repository fieldjoshua/UltrAI-Core, changes with the owners that CODEOWNERS names for each.
All owners: @documentation-team, @core-team, @ui-team, @ai-team, @backend-team, @qa-team, @devops-team, @admin-team

CODEOWNERS:

# UltraAI CODEOWNERS File
# This file defines code ownership and review requirements for the project
# Format: path/to/file/or/dir @username_or_team

# Documentation requires review by documentation team
/documentation/ @documentation-team

# Core patterns implementation requires careful review
/src/patterns/ @core-team

# Frontend components require UI team review
/frontend/src/components/ @ui-team

# Analysis logic requires AI team review
/src/analysis/ @ai-team

# API services require backend team review
/frontend/src/services/ @backend-team

# Hooks require careful review
/frontend/src/hooks/ @ui-team @core-team

# Test files
/tests/ @qa-team

# Configuration files require DevOps review
*.json @devops-team
*.yml @devops-team
*.config.js @devops-team

# Critical files that require multiple approvals
/src/patterns/ultra_analysis_patterns.py @core-team @ai-team
/documentation/instructions/PATTERNS.md @documentation-team @core-team
/frontend/src/components/UltraWithDocuments.tsx @ui-team @core-team
/frontend/src/services/api.ts @backend-team @core-team

# The CODEOWNERS file itself requires admin approval
/CODEOWNERS @admin-team

RULES: first complete draft (auto-extracted)
  documentation/RULES.md
  scripts/extract_rules.py
Owners: @documentation-team

Update: PROTOTYPE_IMPLEMENTATION progress to 50% and update action index
  .aicheck/actions/PROTOTYPE_IMPLEMENTATION/PROTOTYPE_IMPLEMENTATION-PLAN.md
  .aicheck/docs/actions_index.md
Owners: none

Security: Replace PyPDF2 with PyMuPDF for PDF processing
  src/document_processing/ultra_documents_optimized.py
Owners: none

test: Fix error boundary tests in App component - Improved mocking, cleanup, and assertions
  frontend/babel.config.js
  frontend/jest.config.cjs
  frontend/src/App.test.tsx
  frontend/src/__tests__/App.test.tsx
  frontend/src/setupTests.ts
Owners: @devops-team

docs: Update action index and add test improvements plan
  .aicheck/actions/TEST_IMPROVEMENTS/TEST_IMPROVEMENTS-PLAN.md
  .aicheck/docs/actions_index.md
Owners: none

docs: Add security vulnerabilities action and plan
  .aicheck/actions/SECURITY_VULNERABILITIES/SECURITY_VULNERABILITIES-PLAN.md
  .aicheck/docs/actions_index.md
Owners: none

Fix linting issues in enhanced_orchestrator.py: Remove unused imports, fix whitespace in slice operations, add retry_base_delay attribute, and correct CircuitBreakerRegistry usage
  src/models/enhanced_orchestrator.py
Owners: none

Enhance UIPrototypeIntegration plan with program connection, documentation, progress tracking, technical requirements, and testing criteria
  .aicheck/actions/UIPrototypeIntegration/UIPrototypeIntegration-PLAN.md
Owners: none

Complete APIIntegration action: Add LLM routes, prompt service, and API documentation
  backend/models/enhanced_orchestrator.py
  backend/models/llm_models.py
  backend/routes/llm_routes.py
  backend/services/llm_config_service.py
  backend/services/prompt_service.py
  backend/utils/logging_config.py
  backend/utils/performance_middleware.py
  docs/api.md
Owners: none

Complete UIPrototypeIntegration action with comprehensive UI implementation and documentation
  .aicheck/actions/UIPrototypeIntegration/UIPrototypeIntegration-COMPLETION.md
  .aicheck/docs/actions_index.md
Owners: none

Update AICheck: prioritize actions, update action status, create implementation plan for ImprovementsRedux
  .aicheck/actions/APIConsolidation/APIConsolidation-PLAN.md
  .aicheck/actions/APIConsolidation/progress.md
  .aicheck/actions/APIConsolidation/status.md
  .aicheck/actions/API_DEVELOPMENT/API_SPECIFICATION.md
  .aicheck/actions/CODEBASE_REORGANIZATION/DIRECTORY_INVENTORY.md
  .aicheck/actions/CODEBASE_REORGANIZATION/DIRECTORY_STRUCTURE.md
  .aicheck/actions/CODEBASE_REORGANIZATION/MIGRATION_STRATEGY.md
  .aicheck/actions/CODEBASE_REORGANIZATION/PLAN.md
  .aicheck/actions/DOCUMENTATION_REPOPULATION/CONTENT_AUDIT.md
  .aicheck/actions/DOCUMENTATION_REPOPULATION/CONTENT_INVENTORY.md
  .aicheck/actions/DOCUMENTATION_REPOPULATION/DIRECTORY_MAPPING.md
  .aicheck/actions/DOCUMENTATION_REPOPULATION/PLAN.md
  .aicheck/actions/DOCUMENT_PROCESSING/DOCUMENT_PROCESSING_OVERVIEW.md
  .aicheck/actions/DOCUMENT_PROCESSING/PLAN.md
  .aicheck/actions/DeploymentAutomation/status.md
  .aicheck/actions/FRONTEND_DEVELOPMENT/ANALYSIS_WORKFLOW.md
  .aicheck/actions/FeatherPatternExpansion/status.md
  .aicheck/actions/IMPLEMENTATION_ROADMAP/PLAN.md
  .aicheck/actions/INTELLIGENCE_MULTIPLICATION/PATTERNS.md
  .aicheck/actions/ImprovementsRedux/ImprovementsRedux-IMPLEMENTATION.md
  .aicheck/actions/ImprovementsRedux/status.md
  .aicheck/actions/UIConsolidation/UIConsolidation-PLAN.md
  .aicheck/actions/UIConsolidation/progress.md
  .aicheck/actions/UIConsolidation/status.md
  .aicheck/actions/UltraDocumentationUpgrade/status.md
  .aicheck/actions/UltraTestingAndCI/status.md
  .aicheck/actions/api_integration/index.md
  .aicheck/current_action
  .aicheck/docs/actions_index.md
Owners: none

Complete ProductVisionDocument and switch to ImprovementsRedux implementation
  .aicheck/actions/ImprovementsRedux/ImprovementsRedux-IMPLEMENTATION.md
  .aicheck/actions/ImprovementsRedux/ImprovementsRedux-PLAN.md
  .aicheck/actions/ProductVisionDocument/ProductVisionDocument-IMPLEMENTATION.md
  .aicheck/actions/ProductVisionDocument/ProductVisionDocument-PLAN.md
  .aicheck/current_session
  .aicheck/cursor/chat_context_20250428173741.md
  .aicheck/cursor/chat_context_20250428183745.md
  .aicheck/cursor/chat_context_20250428183810.md
  .aicheck/cursor/chat_context_20250428225438.md
  .aicheck/cursor/chat_context_20250428225701.md
  .aicheck/cursor/chat_context_session_20250428125649.md
  .aicheck/cursor/next_chat_context.md
  .aicheck/docs/actions_index.md
  .aicheck/docs/product_vision.md
  .aicheck/sessions/session_20250428225639.session
Owners: none

Fix security vulnerabilities in h11 and torch
  requirements.txt
Owners: none

Implement API security enhancements and error handling improvements for ImprovementsRedux action
  .aicheck/actions/ImprovementsRedux/ImprovementsRedux-IMPLEMENTATION.md
  backend/utils/cookie_security_middleware.py
  backend/utils/global_error_handler.py
  backend/utils/rate_limit_service.py
  backend/utils/security_headers_middleware.py
  backend/utils/validation_service.py
  frontend/components/ui/alert.tsx
  frontend/components/ui/error-boundary.tsx
  frontend/components/ui/error-toast.tsx
  frontend/components/ui/fallback.tsx
  frontend/utils/api-error-handler.ts
  tests/backend/test_cookie_security.py
  tests/backend/test_global_error_handler.py
  tests/backend/test_security_headers.py
  tests/backend/test_validation.py
Owners: @qa-team

Implement orchestrator performance optimization
  .aicheck/cursor/chat_context_20250429004513.md
  .aicheck/cursor/chat_context_20250429042413.md
  Actions/API_DEVELOPMENT/API_SPECIFICATION.md
  Actions/CODEBASE_REORGANIZATION/DIRECTORY_INVENTORY.md
  Actions/CODEBASE_REORGANIZATION/DIRECTORY_STRUCTURE.md
  Actions/CODEBASE_REORGANIZATION/MIGRATION_STRATEGY.md
  Actions/CODEBASE_REORGANIZATION/PLAN.md
  Actions/DOCUMENTATION_REPOPULATION/CONTENT_AUDIT.md
  Actions/DOCUMENTATION_REPOPULATION/CONTENT_INVENTORY.md
  Actions/DOCUMENTATION_REPOPULATION/DIRECTORY_MAPPING.md
  Actions/DOCUMENTATION_REPOPULATION/PLAN.md
  Actions/DOCUMENT_PROCESSING/DOCUMENT_PROCESSING_OVERVIEW.md
  Actions/DOCUMENT_PROCESSING/PLAN.md
  Actions/FRONTEND_DEVELOPMENT/ANALYSIS_WORKFLOW.md
  Actions/IMPLEMENTATION_ROADMAP/PLAN.md
  Actions/INTELLIGENCE_MULTIPLICATION/PATTERNS.md
  Actions/api_integration/index.md
  backend/app.py
  backend/models/base_models.py
  backend/utils/enhanced_validation.py
  backend/utils/error_handler.py
  backend/utils/middleware.py
  backend/utils/rate_limit_middleware.py
  frontend/src/components/ErrorBoundary.tsx
  frontend/src/components/Toast.tsx
  frontend/src/features/errors/errorsSlice.ts
  tests/backend/test_error_handling.py
  tests/backend/test_rate_limit.py
Owners: @ui-team, @qa-team

Fix missing import for AsyncOpenAI
  src/core/ultra_pattern_orchestrator.py
Owners: none

Complete Orchestrator Performance Optimizations and add strategic planning docs
  .aicheck/actions/FinalPolish/FinalPolish-PLAN.md
  .aicheck/actions/GlobalTestingStrategy/GlobalTestingStrategy-PLAN.md
  .aicheck/actions/ImprovementsRedux/ImprovementsRedux-IMPLEMENTATION.md
  .aicheck/docs/actions_index.md
  src/models/cache_factory.py
  src/models/enhanced_orchestrator.py
  src/models/enhanced_response_cache.py
  src/models/llm_adapter.py
  src/models/model_load_balancer.py
  src/models/performance_monitor.py
  src/models/resource_manager.py
  src/models/resource_optimizer.py
  src/models/streaming_handler.py
Owners: none

Complete ImprovementsRedux action and create EnhancedUX action
  .aicheck/actions/EnhancedUX/EnhancedUX-PLAN.md
  .aicheck/actions/ImprovementsRedux/ActionCompletion.md
  .aicheck/actions/ImprovementsRedux/ImprovementsRedux-IMPLEMENTATION.md
  .aicheck/current_action
  .aicheck/docs/actions_index.md
Owners: none

Implement Context Analyzer for EnhancedUX action (10% progress)
  .aicheck/actions/EnhancedUX/.gitignore
  .aicheck/actions/EnhancedUX/EnhancedUX-IMPLEMENTATION.md
  .aicheck/actions/EnhancedUX/context_analyzer_design.md
  .aicheck/actions/EnhancedUX/package.json
  .aicheck/actions/EnhancedUX/src/README.md
  .aicheck/actions/EnhancedUX/src/activity_observer.js
  .aicheck/actions/EnhancedUX/src/index.js
  .aicheck/actions/EnhancedUX/src/user_profile.js
  .aicheck/actions/EnhancedUX/tests/activity_observer.test.js
  .aicheck/docs/actions_index.md
Owners: @devops-team

Move API documentation from docs/api.md to .aicheck/docs/api_documentation.md
  .aicheck/docs/api_documentation.md
Owners: none

Remove /docs directory to avoid confusion with .aicheck/docs
  docs/api.md
Owners: none

Project reorganization: structured aicheck directory with templates and documentation
  .aicheck/RULES.md
  .aicheck/actions/ProjectReorganization/ProjectReorganization-PLAN.md
  .aicheck/actions/ProjectReorganization/RULES-update.md
  .aicheck/actions/ProjectReorganization/aicheck-update.md
  .aicheck/actions/ProjectReorganization/progress.md
  .aicheck/actions/ProjectReorganization/status.md
  .aicheck/actions_index.md
  .aicheck/scripts/ai
  .aicheck/scripts/cleanup_aicheck.sh
  .aicheck/templates/COMPARISON_TEMPLATE.md
  .aicheck/templates/PLAN_TEMPLATE.md
  .aicheck/templates/RFC_TEMPLATE.md
  .aicheck/templates/TEMPLATES_TEMPLATE.md
Owners: none

Organize standalone files: move ai and cleanup_aicheck.sh to .aicheck/scripts/, move cyberpunk-demo.html to frontend/demos/
  .aicheck/scripts/ai
  frontend/demos/cyberpunk-demo.html
Owners: none

Update RULES.md to reflect new project organization structure
  .aicheck/RULES.md
Owners: none

Initial commit
  .aicheck/hooks/code_location_check.sh
  .aicheck/hooks/placeholder
  .aicheck/hooks/pre-commit
  .aicheck/scripts/action.sh
  .aicheck/scripts/ai
  .aicheck/scripts/ai-core
  .aicheck/scripts/aicheck_style.sh
  .aicheck/scripts/code_location_check.sh
  .aicheck/scripts/common.sh
  .aicheck/scripts/doc_detection_hook.sh
  .aicheck/scripts/security_utils.sh
  .aicheck/scripts/session.sh
  .aicheck/scripts/test_all.sh
  .aicheck/scripts/test_code_doc_locations.sh
  .aicheck/scripts/test_pre_commit.sh
  .aicheck/scripts/test_security.sh
  ai
  ai-core
Owners: none

Implement ContextualHelp system with basic and cyberpunk versions
  .aicheck/actions/EnhancedUX/basic-demo.html
  .aicheck/actions/EnhancedUX/src/components/ContextualHelp.README.md
  .aicheck/actions/EnhancedUX/src/components/ContextualHelp.basic.jsx
  .aicheck/actions/EnhancedUX/src/components/ContextualHelp.css
  .aicheck/actions/EnhancedUX/src/components/ContextualHelp.js
  .aicheck/actions/EnhancedUX/src/components/ContextualHelp.jsx
  .aicheck/actions/EnhancedUX/src/demo/FeatureDiscoveryDemo.css
  .aicheck/actions/EnhancedUX/src/demo/FeatureDiscoveryDemo.jsx
  .aicheck/actions/EnhancedUX/src/demo/MinimalDemo.jsx
  .aicheck/actions/EnhancedUX/src/demo/index.js
  .aicheck/actions/EnhancedUX/src/examples/BasicHelpDemo.jsx
  .aicheck/actions/EnhancedUX/src/examples/BasicHelpExample.jsx
  .aicheck/actions/EnhancedUX/src/examples/BasicHelpRunner.jsx
  .aicheck/actions/EnhancedUX/src/examples/ContextualHelpBasic.jsx
  .aicheck/actions/EnhancedUX/src/examples/HelpExample.css
  .aicheck/actions/EnhancedUX/src/examples/HelpExample.jsx
  .aicheck/actions/EnhancedUX/src/examples/TourExample.css
  .aicheck/actions/EnhancedUX/src/examples/TourExample.jsx
  .aicheck/actions/EnhancedUX/src/examples/index.html
  .aicheck/actions_index.md
Owners: none

Implement personalization framework with themes and error handling docs
  .aicheck/actions/EnhancedUX/docs/ERROR_HANDLING.md
  .aicheck/actions/EnhancedUX/src/README.md
  .aicheck/actions/EnhancedUX/src/demo/PersonalizationDemo.jsx
  .aicheck/actions/EnhancedUX/src/demo/index.js
  .aicheck/actions/EnhancedUX/src/personalization/ThemeManager.js
  .aicheck/actions/EnhancedUX/src/personalization/ThemeProvider.jsx
  .aicheck/actions/EnhancedUX/src/personalization/ThemeSwitcher.jsx
  .aicheck/actions/EnhancedUX/src/personalization/index.js
  .aicheck/actions_index.md
Owners: none

Implement workflow optimization components and demo
  .aicheck/actions/EnhancedUX/src/demo/WorkflowDemo.jsx
  .aicheck/actions/EnhancedUX/src/demo/index.js
  .aicheck/actions/EnhancedUX/src/workflow/WorkflowOptimizer.js
  .aicheck/actions/EnhancedUX/src/workflow/WorkflowUI.jsx
  .aicheck/actions/EnhancedUX/src/workflow/index.js
  .aicheck/actions_index.md
Owners: none

Complete DocumentationReorganization action with 100% progress: Update RULES.md with documentation policies, standardize directory structure, implement migration process, create documentation index
  .aicheck/RULES.md
  .aicheck/actions/DocumentationReorganization/DocumentationReorganization-PLAN.md
  .aicheck/actions/DocumentationReorganization/supporting_docs/ACTION_COMPLETION_DOCUMENTATION_PROCESS.md
  .aicheck/actions/DocumentationReorganization/supporting_docs/Audit_Results.md
  .aicheck/actions/DocumentationReorganization/supporting_docs/DOCUMENTATION_TEAM_PROCESS.md
  .aicheck/actions/DocumentationReorganization/supporting_docs/DocumentationReorganization_Testing_Results.md
  .aicheck/actions/DocumentationReorganization/supporting_docs/Documentation_Migration_Checklist.md
  .aicheck/actions/DocumentationReorganization/supporting_docs/Documentation_Organization_Policy.md
  .aicheck/actions/DocumentationReorganization/supporting_docs/Documentation_Template.md
  .aicheck/actions/DocumentationReorganization/supporting_docs/RULES_Update_Proposal.md
  .aicheck/actions/DocumentationReorganization/supporting_docs/scripts/move_docs_to_supporting_docs.sh
  .aicheck/actions_index.md
  .aicheck/current_action
  documentation/documentation_index.md
  documentation/implementation/error_handling/enhanced_ux_error_handling.md
  documentation/technical/documentation_registry.md
  documentation/technical/processes/documentation_migration.md
Owners: @documentation-team

Complete MVPCompletion action with documentation and tests
  .aicheck/actions/MVPCompletion/MVPCompletion-PLAN.md
  .aicheck/actions/MVPCompletion/notes.md
  .aicheck/actions/MVPCompletion/progress.md
  ARCHIVE/backups/UltraWithDocuments_src.tsx
  README.md
  backend/services/mock_llm_service.py
  documentation/api_reference.md
  documentation/setup.md
  documentation/technical/component_designs.md
  documentation/technical/implementation/llm_integration_guide.md
  documentation/technical/implementation/technical_design.md
  env.example
  frontend/public/index.html
  frontend/src/pages/SimpleAnalysis.tsx
  frontend/src/services/api.ts
  src/App.tsx
  src/index.css
  src/main.jsx
  tests/cache_verification.py
  tests/e2e_test.py
Owners: @documentation-team, @backend-team, @core-team, @qa-team

Update MVPCompletion progress to 95% and fix dependabot.yml configuration
  .aicheck/actions_index.md
  .github/dependabot.yml
Owners: @devops-team

Fix security vulnerabilities in dependencies
  .aicheck/current_session
  .aicheck/cursor/chat_context_20250430140036.md
  .aicheck/cursor/chat_context_20250430162253.md
  .aicheck/cursor/chat_context_session_20250430011029.md
  .aicheck/cursor/next_chat_context.md
  .pre-commit-config.yaml
Owners: none

Update requirements.txt with secure package versions
  requirements.txt
Owners: none

Start action FixFinalIntegrationBugs
  .aicheck/actions/FixFinalIntegrationBugs/FixFinalIntegrationBugs-PLAN.md
  .aicheck/docs/actions_index.md
Owners: none

Add placeholder action ImproveTestingAndSecurity
  .aicheck/docs/actions_index.md
Owners: none

Add CLAUDE.md with development setup and guidelines
  CLAUDE.md
Owners: none

Update CLAUDE.md with common workflows and test examples
  CLAUDE.md
Owners: none

Update CLAUDE.md to reference .aicheck/RULES.md
  CLAUDE.md
Owners: none

Implement MVPTestCoverage and complete SecurityHardening action
  .aicheck/actions/DockerComposeSetup/DockerComposeSetup-PLAN.md
  .aicheck/actions/DockerComposeSetup/supporting_docs/service_requirements.md
  .aicheck/actions/ErrorHandlingImprovement/ErrorHandlingImprovement-PLAN.md
  .aicheck/actions/ErrorHandlingImprovement/supporting_docs/dependency_classification.md
  .aicheck/actions/MVPTestCoverage/MVPTestCoverage-PLAN.md
  .aicheck/actions/MVPTestCoverage/implementation_progress.md
  .aicheck/actions/MVPTestCoverage/supporting_docs/critical_flows.md
  .aicheck/actions/MVPTestCoverage/supporting_docs/test_coverage_summary.md
  .aicheck/actions/SecurityHardening/SecurityHardening-PLAN.md
  .aicheck/actions/SecurityHardening/supporting_docs/phase1_summary.md
  .aicheck/actions/SecurityHardening/supporting_docs/security_implementation.md
  .aicheck/actions/SecurityHardening/supporting_docs/security_vulnerabilities.md
  .aicheck/current_action
  .aicheck/docs/actions_index.md
  .gitleaksignore
  backend/tests/conftest.py
  backend/tests/pytest.ini
  backend/tests/run_tests.sh
  backend/tests/test_analyze_endpoint.py
  backend/tests/test_available_models_endpoint.py
  backend/tests/test_health_endpoint.py
  backend/tests/test_llm_request_endpoint.py
  backend/utils/validation.py
Owners: none

Add Docker implementation documentation for DatabaseMigrationHandling
  .aicheck/actions/DatabaseMigrationHandling/supporting_docs/docker_implementation.md
Owners: none
