Repository fieldjoshua/UltrAI-Core, changes with the owners that CODEOWNERS names for each.
All owners: @documentation-team, @core-team, @ui-team, @ai-team, @backend-team, @qa-team, @devops-team, @admin-team

CODEOWNERS:

# UltraAI CODEOWNERS File
# This file defines code ownership and review requirements for the project
# Format: path/to/file/or/dir @username_or_team

# Documentation requires review by documentation team
/documentation/ @documentation-team

# Core patterns implementation requires careful review
/src/patterns/ @core-team

# Frontend components require UI team review
/frontend/src/components/ @ui-team

# Analysis logic requires AI team review
/src/analysis/ @ai-team

# API services require backend team review
/frontend/src/services/ @backend-team

# Hooks require careful review
/frontend/src/hooks/ @ui-team @core-team

# Test files
/tests/ @qa-team

# Configuration files require DevOps review
*.json @devops-team
*.yml @devops-team
*.config.js @devops-team

# Critical files that require multiple approvals
/src/patterns/ultra_analysis_patterns.py @core-team @ai-team
/documentation/instructions/PATTERNS.md @documentation-team @core-team
/frontend/src/components/UltraWithDocuments.tsx @ui-team @core-team
/frontend/src/services/api.ts @backend-team @core-team

# The CODEOWNERS file itself requires admin approval
/CODEOWNERS @admin-team

Fix psutil stub with missing attributes for production
  app/utils/stubs/psutil.py
Owners: none

Add psutil, requests, and prometheus-client to production requirements
  requirements-production.txt
Owners: none

Add psutil, requests, and prometheus-client to production requirements
  requirements-production.txt
Owners: none

chore: update poetry.lock after dependency audit
  poetry.lock
Owners: none

chore: update poetry.lock after dependency audit
  poetry.lock
Owners: none

Refactor CI to use Poetry and update pyproject dev-dependencies
  .github/workflows/basic-ci.yml
Owners: @devops-team

Refactor CI to use Poetry and update pyproject dev-dependencies
  .github/workflows/basic-ci.yml
Owners: @devops-team

Add Phase 6 build migration and compliance tasks [system-wide-cleanup-and-audit]
  .aicheck/actions/system-wide-cleanup-and-audit/supporting_docs/deployment-verification.md
  .aicheck/actions/system-wide-cleanup-and-audit/todo.md
Owners: none

Add Phase 6 build migration and compliance tasks [system-wide-cleanup-and-audit]
  .aicheck/actions/system-wide-cleanup-and-audit/supporting_docs/deployment-verification.md
  .aicheck/actions/system-wide-cleanup-and-audit/todo.md
Owners: none

Add AICheck status CI step and update Render startCommand [system-wide-cleanup-and-audit]
  .github/workflows/basic-ci.yml
  render.yaml
Owners: @devops-team

Add AICheck status CI step and update Render startCommand [system-wide-cleanup-and-audit]
  .github/workflows/basic-ci.yml
  render.yaml
Owners: @devops-team

Fix health_service psutil import fallback stub
  app/services/health_service.py
Owners: none

Fix health_service psutil import fallback stub
  app/services/health_service.py
Owners: none

Document new external dependencies [system-wide-cleanup-and-audit]
  documentation/dependencies/dependency_index.md
Owners: @documentation-team

Document new external dependencies [system-wide-cleanup-and-audit]
  documentation/dependencies/dependency_index.md
Owners: @documentation-team

Draft investigation report skeleton [investigate-git-commit-omissions]
  .aicheck/actions/investigate-git-commit-omissions/supporting_docs/investigation-report.md
Owners: none

Draft investigation report skeleton [investigate-git-commit-omissions]
  .aicheck/actions/investigate-git-commit-omissions/supporting_docs/investigation-report.md
Owners: none

Populate timeline in investigation report [investigate-git-commit-omissions]
  .aicheck/actions/investigate-git-commit-omissions/supporting_docs/investigation-report.md
Owners: none

Populate timeline in investigation report [investigate-git-commit-omissions]
  .aicheck/actions/investigate-git-commit-omissions/supporting_docs/investigation-report.md
Owners: none

Enhance investigation report with CI and working-tree audit [investigate-git-commit-omissions]
  .aicheck/actions/investigate-git-commit-omissions/supporting_docs/investigation-report.md
Owners: none

Enhance investigation report with CI and working-tree audit [investigate-git-commit-omissions]
  .aicheck/actions/investigate-git-commit-omissions/supporting_docs/investigation-report.md
Owners: none

Finalize Impact Assessment and Recommendations [investigate-git-commit-omissions]
  .aicheck/actions/investigate-git-commit-omissions/supporting_docs/investigation-report.md
Owners: none

Finalize Impact Assessment and Recommendations [investigate-git-commit-omissions]
  .aicheck/actions/investigate-git-commit-omissions/supporting_docs/investigation-report.md
Owners: none

Add MCP config
  .cursor/mcp.json
Owners: @devops-team

Add MCP config
  .cursor/mcp.json
Owners: @devops-team

Add MCP CLI install and server-list step to Basic CI
  .github/workflows/basic-ci.yml
Owners: @devops-team

Add MCP CLI install and server-list step to Basic CI
  .github/workflows/basic-ci.yml
Owners: @devops-team

Add PDF generation and artifact upload to CI [investigate-git-commit-omissions]
  .github/workflows/basic-ci.yml
Owners: @devops-team

Add PDF generation and artifact upload to CI [investigate-git-commit-omissions]
  .github/workflows/basic-ci.yml
Owners: @devops-team

chore: complete AICheck investigation action and apply remediation fixes
  .aicheck/actions/investigate-git-commit-omissions/PLAN.md
  .aicheck/actions/investigate-git-commit-omissions/status.txt
  .aicheck/actions/investigate-git-commit-omissions/supporting_docs/investigation-report.md
  .aicheck/actions/investigate-git-commit-omissions/todo.md
  .aicheck/actions/system-wide-cleanup-and-audit/status.txt
  .aicheck/actions_index.md
  .aicheck/current_action
  .github/workflows/basic-ci.yml
  .github/workflows/security-scan.yml
  .gitignore
  app/app.py
  investigation-report.pdf
  test_minimal_env/bin/fastapi
  test_minimal_env/bin/httpx
  test_minimal_env/bin/py.test
  test_minimal_env/bin/pytest
  tests/unit/test_psutil_stub.py
Owners: @devops-team, @qa-team

chore: complete AICheck investigation action and apply remediation fixes
  .aicheck/actions/investigate-git-commit-omissions/PLAN.md
  .aicheck/actions/investigate-git-commit-omissions/status.txt
  .aicheck/actions/investigate-git-commit-omissions/supporting_docs/investigation-report.md
  .aicheck/actions/investigate-git-commit-omissions/todo.md
  .aicheck/actions/system-wide-cleanup-and-audit/status.txt
  .aicheck/actions_index.md
  .aicheck/current_action
  .github/workflows/basic-ci.yml
  .github/workflows/security-scan.yml
  .gitignore
  app/app.py
  investigation-report.pdf
  test_minimal_env/bin/fastapi
  test_minimal_env/bin/httpx
  test_minimal_env/bin/py.test
  test_minimal_env/bin/pytest
  tests/unit/test_psutil_stub.py
Owners: @devops-team, @qa-team

chore: finalize AICheck investigation completion, migrate docs, and update timeline
  .aicheck/ACTION_TIMELINE.md
  .aicheck/actions/completed/investigate-git-commit-omissions/PLAN.md
  .aicheck/actions/completed/investigate-git-commit-omissions/status.txt
  .aicheck/actions/completed/investigate-git-commit-omissions/todo.md
  documentation/api/actions-completed.md
  documentation/api/investigate-git-commit-omissions.md
Owners: @documentation-team

chore: finalize AICheck investigation completion, migrate docs, and update timeline
  .aicheck/ACTION_TIMELINE.md
  .aicheck/actions/completed/investigate-git-commit-omissions/PLAN.md
  .aicheck/actions/completed/investigate-git-commit-omissions/status.txt
  .aicheck/actions/completed/investigate-git-commit-omissions/todo.md
  documentation/api/actions-completed.md
  documentation/api/investigate-git-commit-omissions.md
Owners: @documentation-team

Complete fix-simple-orchestrator-parallel action [fix-simple-orchestrator-parallel]
  .aicheck/actions/completed/fix-simple-orchestrator-parallel/debug_production.py
  .aicheck/actions/completed/fix-simple-orchestrator-parallel/fix-simple-orchestrator-parallel-plan.md
  .aicheck/actions/completed/fix-simple-orchestrator-parallel/progress.md
  .aicheck/actions/completed/fix-simple-orchestrator-parallel/status.txt
  .aicheck/actions/completed/fix-simple-orchestrator-parallel/test_parallel_execution.py
  .aicheck/actions/completed/fix-simple-orchestrator-parallel/test_production_orchestration.py
  .aicheck/actions/fix-simple-orchestrator-parallel/status.txt
Owners: none

Complete fix-simple-orchestrator-parallel action [fix-simple-orchestrator-parallel]
  .aicheck/actions/completed/fix-simple-orchestrator-parallel/debug_production.py
  .aicheck/actions/completed/fix-simple-orchestrator-parallel/fix-simple-orchestrator-parallel-plan.md
  .aicheck/actions/completed/fix-simple-orchestrator-parallel/progress.md
  .aicheck/actions/completed/fix-simple-orchestrator-parallel/status.txt
  .aicheck/actions/completed/fix-simple-orchestrator-parallel/test_parallel_execution.py
  .aicheck/actions/completed/fix-simple-orchestrator-parallel/test_production_orchestration.py
  .aicheck/actions/fix-simple-orchestrator-parallel/status.txt
Owners: none

System-wide cleanup: ensure optional dependencies are stubbed, all routers exported, and tests pass
  .aicheck/actions/investigate-git-commit-omissions/supporting_docs/claude-interactions/README.md
  .aicheck/actions_index.md
  .aicheck/context-summary-20250607.md
  .aicheck/pattern-cache-20250607.md
Owners: none

System-wide cleanup: ensure optional dependencies are stubbed, all routers exported, and tests pass
  .aicheck/actions/investigate-git-commit-omissions/supporting_docs/claude-interactions/README.md
  .aicheck/actions_index.md
  .aicheck/context-summary-20250607.md
  .aicheck/pattern-cache-20250607.md
Owners: none

Update docs, add Postman collection, frontend test template, and CI workflow
  .github/workflows/ci.yml
  DEPLOYMENT_GUIDE.md
  README.md
  api.postman_collection.json
  app/routes/metrics.py
  frontend-api-test-template.md
Owners: @devops-team

Update docs, add Postman collection, frontend test template, and CI workflow
  .github/workflows/ci.yml
  DEPLOYMENT_GUIDE.md
  README.md
  api.postman_collection.json
  app/routes/metrics.py
  frontend-api-test-template.md
Owners: @devops-team

Add markdown to production requirements for prompt_service
  requirements-production.txt
Owners: none
