Repository fieldjoshua/UltrAI-Core, changes with the owners that CODEOWNERS names for each.
All owners: @documentation-team, @core-team, @ui-team, @ai-team, @backend-team, @qa-team, @devops-team, @admin-team

CODEOWNERS:

# UltraAI CODEOWNERS File
# This file defines code ownership and review requirements for the project
# Format: path/to/file/or/dir @username_or_team

# Documentation requires review by documentation team
/documentation/ @documentation-team

# Core patterns implementation requires careful review
/src/patterns/ @core-team

# Frontend components require UI team review
/frontend/src/components/ @ui-team

# Analysis logic requires AI team review
/src/analysis/ @ai-team

# API services require backend team review
/frontend/src/services/ @backend-team

# Hooks require careful review
/frontend/src/hooks/ @ui-team @core-team

# Test files
/tests/ @qa-team

# Configuration files require DevOps review
*.json @devops-team
*.yml @devops-team
*.config.js @devops-team

# Critical files that require multiple approvals
/src/patterns/ultra_analysis_patterns.py @core-team @ai-team
/documentation/instructions/PATTERNS.md @documentation-team @core-team
/frontend/src/components/UltraWithDocuments.tsx @ui-team @core-team
/frontend/src/services/api.ts @backend-team @core-team

# The CODEOWNERS file itself requires admin approval
/CODEOWNERS @admin-team

Add markdown to production requirements for prompt_service
  requirements-production.txt
Owners: none

Add aiohttp, anthropic, and PyJWT to production requirements for script compatibility
  requirements-production.txt
Owners: none

Add aiohttp, anthropic, and PyJWT to production requirements for script compatibility
  requirements-production.txt
Owners: none

Add friendly root (/) route to health router for API welcome message
  app/routes/health_routes.py
Owners: none

Add friendly root (/) route to health router for API welcome message
  app/routes/health_routes.py
Owners: none

Implement core API endpoints for UltraAI functionality
  .aicheck/RULES.md
  .aicheck/actions/fix-core-functionality/fix-core-functionality-plan.md
  .aicheck/actions/fix-core-functionality/progress.md
  .aicheck/actions/fix-core-functionality/status.txt
  .aicheck/actions/investigate-git-commit-omissions/status.txt
  .aicheck/actions_index.md
  .aicheck/current_action
  CLAUDE.md
  aicheck.backup.20250607_151425
  app/routes/analyze_routes.py
  app/routes/available_models_routes.py
  app/routes/orchestrator_minimal.py
Owners: none

Implement core API endpoints for UltraAI functionality
  .aicheck/RULES.md
  .aicheck/actions/fix-core-functionality/fix-core-functionality-plan.md
  .aicheck/actions/fix-core-functionality/progress.md
  .aicheck/actions/fix-core-functionality/status.txt
  .aicheck/actions/investigate-git-commit-omissions/status.txt
  .aicheck/actions_index.md
  .aicheck/current_action
  CLAUDE.md
  aicheck.backup.20250607_151425
  app/routes/analyze_routes.py
  app/routes/available_models_routes.py
  app/routes/orchestrator_minimal.py
Owners: none

Connect real LLM adapters to orchestrator and analysis endpoints
  .aicheck/actions/fix-core-functionality/supporting_docs/deployment-verification.md
  app/routes/analyze_routes.py
  app/services/orchestration_service.py
Owners: none

Connect real LLM adapters to orchestrator and analysis endpoints
  .aicheck/actions/fix-core-functionality/supporting_docs/deployment-verification.md
  app/routes/analyze_routes.py
  app/services/orchestration_service.py
Owners: none

Add multimodal analysis frontend shell
  frontend/dist/assets/index-B2tLyh0H.js
  frontend/dist/assets/index-C-sQ1gEY.js
  frontend/dist/assets/index-C3ajyr6n.css
  frontend/dist/assets/index-CgE0qvZ5.css
  frontend/dist/index.html
  frontend/src/App.tsx
  frontend/src/components/MultimodalAnalysis.tsx
  frontend/src/services/api.ts
Owners: @ui-team, @backend-team, @core-team

Add multimodal analysis frontend shell
  frontend/dist/assets/index-B2tLyh0H.js
  frontend/dist/assets/index-C-sQ1gEY.js
  frontend/dist/assets/index-C3ajyr6n.css
  frontend/dist/assets/index-CgE0qvZ5.css
  frontend/dist/index.html
  frontend/src/App.tsx
  frontend/src/components/MultimodalAnalysis.tsx
  frontend/src/services/api.ts
Owners: @ui-team, @backend-team, @core-team

Add unified frontend/backend deployment with static file serving
  app/app.py
Owners: none

Add unified frontend/backend deployment with static file serving
  app/app.py
Owners: none

Add frontend build step to Render deployment [build-frontend-shell]
  render.yaml
Owners: none

Add frontend build step to Render deployment [build-frontend-shell]
  render.yaml
Owners: none

Add missing production dependencies for LLM APIs and database
  requirements-production.txt
Owners: none

Add missing production dependencies for LLM APIs and database
  requirements-production.txt
Owners: none

Add HuggingFace integration for Llama and open source models [build-frontend-shell]
  app/routes/available_models_routes.py
  app/services/llm_adapters.py
  app/services/orchestration_service.py
  frontend/dist/assets/index-B2tLyh0H.js
  frontend/dist/assets/index-CZHSMDT1.css
  frontend/dist/assets/index-CgE0qvZ5.css
  frontend/dist/assets/index-Dqz4oWBr.js
  frontend/dist/index.html
  frontend/src/components/MultimodalAnalysis.tsx
  requirements-production.txt
Owners: @ui-team

Add HuggingFace integration for Llama and open source models [build-frontend-shell]
  app/routes/available_models_routes.py
  app/services/llm_adapters.py
  app/services/orchestration_service.py
  frontend/dist/assets/index-B2tLyh0H.js
  frontend/dist/assets/index-CZHSMDT1.css
  frontend/dist/assets/index-CgE0qvZ5.css
  frontend/dist/assets/index-Dqz4oWBr.js
  frontend/dist/index.html
  frontend/src/components/MultimodalAnalysis.tsx
  requirements-production.txt
Owners: @ui-team

Fix frontend serving by removing conflicting root route [build-frontend-shell]
  app/routes/health_routes.py
Owners: none

Fix frontend serving by removing conflicting root route [build-frontend-shell]
  app/routes/health_routes.py
Owners: none

Fix static asset serving for React frontend MIME types
  app/app.py
Owners: none

Fix static asset serving for React frontend MIME types
  app/app.py
Owners: none

Fix frontend API URL to use current deployment endpoint
  frontend/dist/assets/index-DSGaG3FZ.js
  frontend/dist/index.html
  frontend/vite.config.ts
Owners: none

Fix frontend API URL to use current deployment endpoint
  frontend/dist/assets/index-DSGaG3FZ.js
  frontend/dist/index.html
  frontend/vite.config.ts
Owners: none

Fix hardcoded localhost URLs in documents API calls
  frontend/dist/assets/index-DSGaG3FZ.js
  frontend/dist/assets/index-Dn_xleTV.js
  frontend/dist/index.html
  frontend/src/features/documents/documentsSlice.ts
Owners: none

Fix hardcoded localhost URLs in documents API calls
  frontend/dist/assets/index-DSGaG3FZ.js
  frontend/dist/assets/index-Dn_xleTV.js
  frontend/dist/index.html
  frontend/src/features/documents/documentsSlice.ts
Owners: none

Fix documents API error handling to prevent frontend crashes
  frontend/dist/assets/index-M3xsfcU3.js
  frontend/dist/index.html
  frontend/src/features/documents/documentsSlice.ts
Owners: none

Fix documents API error handling to prevent frontend crashes
  frontend/dist/assets/index-M3xsfcU3.js
  frontend/dist/index.html
  frontend/src/features/documents/documentsSlice.ts
Owners: none

Fix frontend analysis results display by correcting orchestrator response processing
  frontend/dist/assets/index-CViduJCQ.js
  frontend/dist/assets/index-M3xsfcU3.js
  frontend/dist/index.html
  frontend/src/services/api.ts
Owners: @backend-team, @core-team

Fix frontend analysis results display by correcting orchestrator response processing
  frontend/dist/assets/index-CViduJCQ.js
  frontend/dist/assets/index-M3xsfcU3.js
  frontend/dist/index.html
  frontend/src/services/api.ts
Owners: @backend-team, @core-team

Fix orchestrator to respect frontend model selection
  frontend/dist/assets/index-CGTEWrql.js
  frontend/dist/index.html
  frontend/src/services/api.ts
Owners: @backend-team, @core-team

Fix orchestrator to respect frontend model selection
  frontend/dist/assets/index-CGTEWrql.js
  frontend/dist/index.html
  frontend/src/services/api.ts
Owners: @backend-team, @core-team

Fix rate limiter registration for dynamic model selection
  app/routes/orchestrator_minimal.py
  app/services/orchestration_service.py
Owners: none

Fix rate limiter registration for dynamic model selection
  app/routes/orchestrator_minimal.py
  app/services/orchestration_service.py
Owners: none

[fix-orchestrator-real-models] Autonomous fix: fix_models_endpoint, fix_rate_limiter_registration, fix_real_huggingface_integration, fix_orchestrator_pipeline, remove_all_mocks
  .aicheck/actions/build-frontend-shell/build-frontend-shell-plan.md
  .aicheck/actions/build-frontend-shell/progress.md
  .aicheck/actions/build-frontend-shell/status.txt
  .aicheck/actions/fix-orchestrator-real-models/fix-orchestrator-real-models-plan.md
  .aicheck/actions/fix-orchestrator-real-models/progress.md
  .aicheck/actions/fix-orchestrator-real-models/status.txt
  .aicheck/actions_index.md
  .aicheck/current_action
  app/routes/analyze_routes.py
  app/services/orchestration_service.py
  automate_orchestrator_fix.py
  autonomous_orchestrator_fix.py
  documentation/ui-ux/Images/mock 12.svg
  documentation/ui-ux/Images/mocka 2_Image.svg
  documentation/ui-ux/Images/mockb 2_Image.svg
Owners: @documentation-team

[fix-orchestrator-real-models] Autonomous fix: fix_models_endpoint, fix_rate_limiter_registration, fix_real_huggingface_integration, fix_orchestrator_pipeline, remove_all_mocks
  .aicheck/actions/build-frontend-shell/build-frontend-shell-plan.md
  .aicheck/actions/build-frontend-shell/progress.md
  .aicheck/actions/build-frontend-shell/status.txt
  .aicheck/actions/fix-orchestrator-real-models/fix-orchestrator-real-models-plan.md
  .aicheck/actions/fix-orchestrator-real-models/progress.md
  .aicheck/actions/fix-orchestrator-real-models/status.txt
  .aicheck/actions_index.md
  .aicheck/current_action
  app/routes/analyze_routes.py
  app/services/orchestration_service.py
  automate_orchestrator_fix.py
  autonomous_orchestrator_fix.py
  documentation/ui-ux/Images/mock 12.svg
  documentation/ui-ux/Images/mocka 2_Image.svg
  documentation/ui-ux/Images/mockb 2_Image.svg
Owners: @documentation-team

Implement proper Ultra Synthesis prompts with lead LLM approach
  app/services/orchestration_service.py
Owners: none

Implement proper Ultra Synthesis prompts with lead LLM approach
  app/services/orchestration_service.py
Owners: none

Deploy to production
  .aicheck/actions/fix-orchestrator-real-models/fix-orchestrator-real-models-plan.md
  .aicheck/actions/fix-orchestrator-real-models/status.txt
  .aicheck/actions/implement-ultra-synthesis-proper/implement-ultra-synthesis-proper-plan.md
  .aicheck/actions/implement-ultra-synthesis-proper/progress.md
  .aicheck/actions/implement-ultra-synthesis-proper/status.txt
  .aicheck/actions_index.md
  .aicheck/current_action
  CLAUDE.md
  app/services/llm_adapters.py
  app/services/orchestration_service.py
Owners: none
