Repository fieldjoshua/UltrAI-Core, changes with the owners that CODEOWNERS names for each.
All owners: @documentation-team, @core-team, @ui-team, @ai-team, @backend-team, @qa-team, @devops-team, @admin-team

CODEOWNERS:

# UltraAI CODEOWNERS File
# This file defines code ownership and review requirements for the project
# Format: path/to/file/or/dir @username_or_team

# Documentation requires review by documentation team
/documentation/ @documentation-team

# Core patterns implementation requires careful review
/src/patterns/ @core-team

# Frontend components require UI team review
/frontend/src/components/ @ui-team

# Analysis logic requires AI team review
/src/analysis/ @ai-team

# API services require backend team review
/frontend/src/services/ @backend-team

# Hooks require careful review
/frontend/src/hooks/ @ui-team @core-team

# Test files
/tests/ @qa-team

# Configuration files require DevOps review
*.json @devops-team
*.yml @devops-team
*.config.js @devops-team

# Critical files that require multiple approvals
/src/patterns/ultra_analysis_patterns.py @core-team @ai-team
/documentation/instructions/PATTERNS.md @documentation-team @core-team
/frontend/src/components/UltraWithDocuments.tsx @ui-team @core-team
/frontend/src/services/api.ts @backend-team @core-team

# The CODEOWNERS file itself requires admin approval
/CODEOWNERS @admin-team

Add production deployment with database and Redis support
  .aicheck/actions/index.html
  PRODUCTION_DEPLOYMENT_GUIDE.md
  app_production.py
  render.yaml
  requirements-production.txt
  scripts/verify-production-deployment.sh
Owners: none

Add project-specific memory file
  CLAUDE.local.md
Owners: none

Add project-specific memory file
  CLAUDE.local.md
Owners: none

Add orchestrator endpoint with validation fix
  app_production.py
Owners: none

Add orchestrator endpoint with validation fix
  app_production.py
Owners: none

Fix syntax error in health check endpoint
  app_production.py
Owners: none

Fix syntax error in health check endpoint
  app_production.py
Owners: none

Complete production deployment documentation
  .aicheck/actions/mvp-minimal-deployment/phase4-5-production-COMPLETED.md
Owners: none

Complete production deployment documentation
  .aicheck/actions/mvp-minimal-deployment/phase4-5-production-COMPLETED.md
Owners: none

Add frontend deployment configuration
  .aicheck/actions/index.html
  .aicheck/actions/mvp-minimal-deployment/mvp-minimal-deployment-COMPLETED.md
  .aicheck/actions/mvp-minimal-deployment/mvp-minimal-deployment-plan-updated.md
  .aicheck/actions/mvp-minimal-deployment/phase4-5-production-ready.md
  .aicheck/actions/mvp-minimal-deployment/phase4-database-configuration.md
  .aicheck/actions/mvp-minimal-deployment/phase4_performance_validation.md
  DEPLOY_FRONTEND_INSTRUCTIONS.md
  DEPLOY_FRONTEND_MANUAL.md
  DEPLOY_INSTRUCTIONS_MINIMAL.md
  documentation/deployment/render_minimal_deployment_guide.md
  documentation/deployment/render_quick_reference.md
  frontend/api/config.js
  frontend/vite.config.production.ts
  phase2_deployment_success.md
  phase3_deployment_success.md
  phase4_performance_report.md
  render-all-services.yaml
  render-frontend.yaml
  render_dashboard_update_phase2.md
  render_phase2_final_fix.md
  render_phase2_fix.md
  render_phase3_cache_refresh.md
  render_phase3_routing_fix.md
  render_quick_fix.md
  scripts/basic_load_test.sh
  scripts/deploy-frontend.sh
  scripts/simple_load_test.sh
  test_local_auth.py
  test_render_endpoints.py
Owners: @documentation-team

Add frontend deployment configuration
  .aicheck/actions/index.html
  .aicheck/actions/mvp-minimal-deployment/mvp-minimal-deployment-COMPLETED.md
  .aicheck/actions/mvp-minimal-deployment/mvp-minimal-deployment-plan-updated.md
  .aicheck/actions/mvp-minimal-deployment/phase4-5-production-ready.md
  .aicheck/actions/mvp-minimal-deployment/phase4-database-configuration.md
  .aicheck/actions/mvp-minimal-deployment/phase4_performance_validation.md
  DEPLOY_FRONTEND_INSTRUCTIONS.md
  DEPLOY_FRONTEND_MANUAL.md
  DEPLOY_INSTRUCTIONS_MINIMAL.md
  documentation/deployment/render_minimal_deployment_guide.md
  documentation/deployment/render_quick_reference.md
  frontend/api/config.js
  frontend/vite.config.production.ts
  phase2_deployment_success.md
  phase3_deployment_success.md
  phase4_performance_report.md
  render-all-services.yaml
  render-frontend.yaml
  render_dashboard_update_phase2.md
  render_phase2_final_fix.md
  render_phase2_fix.md
  render_phase3_cache_refresh.md
  render_phase3_routing_fix.md
  render_quick_fix.md
  scripts/basic_load_test.sh
  scripts/deploy-frontend.sh
  scripts/simple_load_test.sh
  test_local_auth.py
  test_render_endpoints.py
Owners: @documentation-team

Update render.yaml with frontend service for blueprint sync
  .aicheck/actions/index.html
  render.yaml
Owners: none

Update render.yaml with frontend service for blueprint sync
  .aicheck/actions/index.html
  render.yaml
Owners: none

Fix frontend API URL configuration for Render deployment
  render.yaml
Owners: none

Fix frontend API URL configuration for Render deployment
  render.yaml
Owners: none

Update AICheck configuration and add MCP server setup
  .aicheck/RULES.md
  .aicheck/actions/index.html
  .aicheck/actions/mcpsetup/mcpsetup-plan.md
  .aicheck/actions/mcpsetup/progress.md
  .aicheck/actions/mcpsetup/status.txt
  .aicheck/actions/mcpsetup/supporting_docs/aicheck-mcp-usage.md
  .aicheck/current_action
  .mcp/package-lock.json
  .mcp/package.json
  .mcp/server.js
  .mcp/test-server.js
Owners: @devops-team

Update AICheck configuration and add MCP server setup
  .aicheck/RULES.md
  .aicheck/actions/index.html
  .aicheck/actions/mcpsetup/mcpsetup-plan.md
  .aicheck/actions/mcpsetup/progress.md
  .aicheck/actions/mcpsetup/status.txt
  .aicheck/actions/mcpsetup/supporting_docs/aicheck-mcp-usage.md
  .aicheck/current_action
  .mcp/package-lock.json
  .mcp/package.json
  .mcp/server.js
  .mcp/test-server.js
Owners: @devops-team

PRODUCTION VALIDATION COMPLETE - 100% SUCCESS ✅
  .aicheck/actions/index.html
  .aicheck/actions/production-validation-tests/production-validation-tests-plan.md
  .aicheck/actions/production-validation-tests/progress.md
  .aicheck/actions/production-validation-tests/status.txt
  .aicheck/actions/production-validation-tests/supporting_docs/claude-interactions/production-validation-results.md
  frontend/public/index.html
  production_validation_results.json
  test_production_validation.py
Owners: @devops-team

Serve frontend directly from backend production app
  .aicheck/actions/index.html
  app_production.py
Owners: none

Serve frontend directly from backend production app
  .aicheck/actions/index.html
  app_production.py
Owners: none

PRODUCTION VALIDATION COMPLETE - 100% SUCCESS ✅
  .aicheck/actions/index.html
  .aicheck/actions/production-validation-tests/production-validation-tests-plan.md
  .aicheck/actions/production-validation-tests/progress.md
  .aicheck/actions/production-validation-tests/status.txt
  .aicheck/actions/production-validation-tests/supporting_docs/claude-interactions/production-validation-results.md
  frontend/public/index.html
  production_validation_results.json
  test_production_validation.py
Owners: @devops-team

Add comprehensive full-stack documentation for UltraAI Core MVP
  FULL_STACK_DOCUMENTATION.md
Owners: none

Add comprehensive full-stack documentation for UltraAI Core MVP
  FULL_STACK_DOCUMENTATION.md
Owners: none

Add comprehensive development history with AICheck impact analysis
  .aicheck/actions/action-directory-cleanup/aicheck-efficiency-analysis.md
  .aicheck/actions/action-directory-cleanup/aicheck-updates-summary.md
  DEVELOPMENT_HISTORY.md
  DEVELOPMENT_TIMELINE.md
Owners: none

Add comprehensive development history with AICheck impact analysis
  .aicheck/actions/action-directory-cleanup/aicheck-efficiency-analysis.md
  .aicheck/actions/action-directory-cleanup/aicheck-updates-summary.md
  DEVELOPMENT_HISTORY.md
  DEVELOPMENT_TIMELINE.md
Owners: none

Fix frontend deployment and establish consistent development strategy
  .aicheck/actions/frontend-deployment-fix/development-deployment-strategy.md
  .aicheck/actions/frontend-deployment-fix/fix-plan.md
  .aicheck/actions/frontend-deployment-fix/investigation-notes.md
  .aicheck/actions/security-vulnerability-fix/progress.md
  .aicheck/actions/security-vulnerability-fix/security-vulnerability-fix-plan.md
  .aicheck/actions/security-vulnerability-fix/status.txt
  .aicheck/actions/security-vulnerability-fix/todo.md
  .aicheck/actions_index.md
  .aicheck/current_action
  .env.example
  DEVELOPMENT_GUIDE.md
  Makefile
  app_production.py
  run.py
  test_frontend_serving.py
Owners: none

Fix frontend deployment and establish consistent development strategy
  .aicheck/actions/frontend-deployment-fix/development-deployment-strategy.md
  .aicheck/actions/frontend-deployment-fix/fix-plan.md
  .aicheck/actions/frontend-deployment-fix/investigation-notes.md
  .aicheck/actions/security-vulnerability-fix/progress.md
  .aicheck/actions/security-vulnerability-fix/security-vulnerability-fix-plan.md
  .aicheck/actions/security-vulnerability-fix/status.txt
  .aicheck/actions/security-vulnerability-fix/todo.md
  .aicheck/actions_index.md
  .aicheck/current_action
  .env.example
  DEVELOPMENT_GUIDE.md
  Makefile
  app_production.py
  run.py
  test_frontend_serving.py
Owners: none

Fix frontend deployment and create comprehensive design system
  .aicheck/current_action
  app_production.py
  documentation/ui-ux/design-system/README.md
  documentation/ui-ux/design-system/accessibility.md
  documentation/ui-ux/design-system/animations.md
  documentation/ui-ux/design-system/brand-guidelines.md
  documentation/ui-ux/design-system/color-system.md
  documentation/ui-ux/design-system/components/buttons.md
  documentation/ui-ux/design-system/components/forms.md
  documentation/ui-ux/design-system/typography.md
Owners: @documentation-team

Fix frontend deployment and create comprehensive design system
  .aicheck/current_action
  app_production.py
  documentation/ui-ux/design-system/README.md
  documentation/ui-ux/design-system/accessibility.md
  documentation/ui-ux/design-system/animations.md
  documentation/ui-ux/design-system/brand-guidelines.md
  documentation/ui-ux/design-system/color-system.md
  documentation/ui-ux/design-system/components/buttons.md
  documentation/ui-ux/design-system/components/forms.md
  documentation/ui-ux/design-system/typography.md
Owners: @documentation-team

Add debug endpoint to check frontend path resolution
  app_production.py
Owners: none

Add debug endpoint to check frontend path resolution
  app_production.py
Owners: none

Fix Render deployment: integrate frontend build into backend service
  package.json.testing-only
  render.yaml
Owners: none

Fix Render deployment: integrate frontend build into backend service
  package.json.testing-only
  render.yaml
Owners: none

Commit built frontend files and simplify deployment
  render.yaml
Owners: none

Commit built frontend files and simplify deployment
  render.yaml
Owners: none

Add frontend build artifacts to repository
  .gitignore
  frontend/dist/assets/axios-t--hEgTQ.js
  frontend/dist/assets/index-Bn_QDDN9.js
  frontend/dist/assets/index-CWD2yrFe.css
  frontend/dist/assets/radix-ui-DW48STyt.js
  frontend/dist/assets/react-evGbw9Fp.js
  frontend/dist/assets/vendor-CBEtSutv.js
  frontend/dist/index.html
  frontend/dist/public/index.html
  frontend/dist/test.html
Owners: none

Add frontend build artifacts to repository
  .gitignore
  frontend/dist/assets/axios-t--hEgTQ.js
  frontend/dist/assets/index-Bn_QDDN9.js
  frontend/dist/assets/index-CWD2yrFe.css
  frontend/dist/assets/radix-ui-DW48STyt.js
  frontend/dist/assets/react-evGbw9Fp.js
  frontend/dist/assets/vendor-CBEtSutv.js
  frontend/dist/index.html
  frontend/dist/public/index.html
  frontend/dist/test.html
Owners: none

FRONTEND FIXED: Add working HTML frontend with cyberpunk styling
  app_production.py
Owners: none

FRONTEND FIXED: Add working HTML frontend with cyberpunk styling
  app_production.py
Owners: none

Deploy ultra-minimal frontend for fast deployment
  app_minimal_frontend.py
  render.yaml
  requirements-minimal-frontend.txt
Owners: none
