Repository fieldjoshua/UltrAI-Core, changes with the owners that CODEOWNERS names for each.
All owners: @documentation-team, @core-team, @ui-team, @ai-team, @backend-team, @qa-team, @devops-team, @admin-team

Fix: enforce provider trio + 3-model min; add tests; clean lints; stable errors
  app/routes/orchestrator_minimal.py
  app/services/orchestration_service.py
  tests/unit/test_three_model_policy.py
Owners: @qa-team

Fix: optimize httpx client with connection limits for better concurrent performance
  .claude/summaries/2025-09-16_060223_compact.txt
  app/services/llm_adapters.py
  frontend/src/__tests__/components/wizard/CyberWizard.test.tsx
  model_performance_metrics.json
  test_consolidation_report.md
  test_orchestrator.py
Owners: @devops-team

Add API test page to verify 3 LLMs working
  test-api.html
Owners: none

Add deployment scripts and guide - URGENT for production
  DEPLOYMENT-NOW.md
  scripts/deploy-frontend-render.sh
Owners: none

Fix: Properly extract original prompt in ultra synthesis stage
  app/services/orchestration_service.py
Owners: none

Fix: Properly extract original prompt in ultra synthesis stage
  app/services/orchestration_service.py
Owners: none

Default to streaming SSE for orchestrator; aggregate events; fallback to non-streaming
  frontend/src/api/orchestrator.js
Owners: none

feat: Improve service readiness and status reporting
  app/main.py
  app/routes/orchestrator_minimal.py
  app/services/orchestration_service.py
  app/services/provider_health_manager.py
  app/services/provider_probe.py
  app/tests/test_orchestrator_routes.py
  app/tests/test_sse_contract.py
  app/utils/logging.py
  documentation/ops/production_deployment_checklist.md
  documentation/public/api_reference.md
  documentation/public/getting_ready_guide.md
  frontend/src/__tests__/components/wizard/StatusUpdater.test.tsx
  frontend/src/components/panels/SSEPanel.tsx
  frontend/src/components/wizard/CyberWizard.tsx
  frontend/src/components/wizard/StatusUpdater.tsx
Owners: @documentation-team, @ui-team

Refactor: Improve error handling and test execution
  app/routes/orchestrator_minimal.py
  app/services/orchestration_service.py
  app/tests/run_tests.py
Owners: none

Gating (Big3), 503 payloads, Wizard health banner, SSE, docs
  CLAUDE.md
  CURSOR_RULES.md
  app/config.py
  app/main.py
  app/routes/orchestrator_minimal.py
  app/services/llm_adapters.py
  app/services/orchestration_fixes.py
  app/services/orchestration_service.py
  app/services/provider_health_probe.py
  app/utils/response_sanitizer.py
  backend_fixes_completed.md
  docs/# UltrAI Wizard & Orchestration — Release Package (REVISED).pdf
  docs/TIGHT OUTLINE.pdf
  docs/deploy-readiness-checklist.md
  docs/orchestration-pipeline-steps.md
  docs/ultrai-transformation-plan.md
  documentation/AI_EDITORS_GUIDE.md
  frontend/src/api/orchestrator.js
  frontend/src/components/CyberWizard.tsx
  model_performance_metrics.json
  scripts/google_cse_search.py
  scripts/google_cse_search.sh
  scripts/test_orchestration_analysis.py
  scripts/test_orchestration_curl.sh
  scripts/test_orchestration_pipeline.py
  scripts/verify_prompt_fix.py
  test_results_summary.md
  tests/e2e/test_e2e_financial_flow.py
  tests/run_critical_tests.py
  tests/test_e2e_big3_fast.py
  tests/test_smoke_ready_503.py
  tests/test_sse_contract.py
  tests/test_synthesis_integration.py
  tests/test_ultrai_synthesis_implementation.py
  tests/test_ultrai_universal_flow.py
  tests/unit/test_single_model_fallback.py
Owners: @documentation-team, @ui-team, @devops-team, @qa-team

Checkpoint before follow-up message
  app/tests/integration/__init__.py
  app/tests/integration/test_metrics_cache.py
  app/tests/integration/test_model_selection_service.py
  app/tests/integration/test_orchestrator_auto_selection.py
  app/tests/integration/test_orchestrator_routes.py
  app/tests/integration/test_sse_contract.py
  archive/legacy-tests-2025-09-17/test_frontend_api.html
  archive/legacy-tests-2025-09-17/test_frontend_api.js
  archive/legacy-tests-2025-09-17/test_full_flow.js
  archive/legacy-tests-2025-09-17/test_models.html
  archive/legacy-tests-2025-09-17/test_toggle.html
  archive/legacy-tests-2025-09-17/ultra_test.db
Owners: none

Checkpoint before follow-up message
  app/tests/run_tests.py
  app/tests/run_tests.sh
  frontend/jest.config.cjs
Owners: none

Refactor: Move test fixtures and update test runner config
  app/tests/conftest.py
  app/tests/integration/test_contract.py
  app/tests/integration/test_orchestrator_routes.py
  app/tests/run_tests.py
  documentation/proposals/refocus_e2e_strategy.md
Owners: @documentation-team

feat: Add golden path E2E test for wizard analysis
  frontend/e2e/cypress/e2e/golden_path.cy.ts
Owners: none

feat: Add Cypress E2E tests for golden path
  frontend/cypress.config.js
  frontend/cypress/e2e/golden_path.cy.ts
Owners: @devops-team

status: extend fast-fail fallback to 2.0s for staging probes
  app/routes/orchestrator_minimal.py
Owners: none

status(staging): allow keys-present readiness override via STATUS_ALLOW_STAGING_KEYS_READY
  app/routes/orchestrator_minimal.py
Owners: none

policy+ci: lean workflow rules, PR template, staging Big3 smoke, no-cost UI scan
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/staging-smoke.yml
  CLAUDE.md
  CURSOR_RULES.md
  app/utils/jwt_utils.py
  documentation/AI_EDITORS_GUIDE.md
  scripts/ci_scan_no_cost.py
  tests/smoke/test_staging_big3_health.py
Owners: @devops-team, @documentation-team, @qa-team

tests(smoke): accept rate_limited for OpenAI in staging and fix lints
  tests/smoke/test_staging_big3_health.py
Owners: @qa-team

docs(rules): add loop-limiting rules to AI_EDITORS_GUIDE and CURSOR_RULES
  CURSOR_RULES.md
  documentation/AI_EDITORS_GUIDE.md
Owners: @documentation-team

docs(rules): require Focus Declaration at kickoff for all tasks and in PRs
  .github/PULL_REQUEST_TEMPLATE.md
  CURSOR_RULES.md
  documentation/AI_EDITORS_GUIDE.md
Owners: @documentation-team

docs(rules): add auxiliary model guardrails (PR-only, one-task, timebox, focus)
  .github/PULL_REQUEST_TEMPLATE.md
  CURSOR_RULES.md
  documentation/AI_EDITORS_GUIDE.md
Owners: @documentation-team

ci(cursor): enforce Cursor rules via PR checks; docs: add PR template with Focus Declaration and checklist
  .github/workflows/cursor-rules.yml
Owners: @devops-team

docs(ops): add CI Cursor Rules enforcement test file
  documentation/ops/ci_cursor_enforcement.md
Owners: @documentation-team

feat(startup): add FAST_STARTUP flag to skip readiness probes on startup (staging speedup)
  app/main.py
Owners: none

feat: Implement enhanced synthesis and SSE contract updates
  app/tests/integration/test_feature_flags.py
  app/tests/integration/test_model_selection.py
  app/tests/integration/test_production_safeguards.py
  app/tests/integration/test_sse_contract.py
  documentation/public/api_reference.md
  documentation/validation/feature_flag_testing_plan.md
  documentation/validation/sse_backward_compatibility_plan.md
Owners: @documentation-team

feat(orchestration): implement Enhanced Synthesis™ with advanced error handling
  app/app.py
  app/routes/error_monitoring.py
  app/services/enhanced_error_handler.py
  app/services/orchestration_service.py
Owners: none

deploy: Enhanced Synthesis™ system with testing plans
  .github/PULL_REQUEST_TEMPLATE.md
  CLAUDE.md
  app/config.py
  app/routes/orchestrator_minimal.py
  app/services/provider_health_manager.py
  app/services/provider_probe.py
  app/tests/conftest.py
  app/tests/integration/test_contract.py
  app/tests/integration/test_orchestrator_routes.py
  app/tests/run_tests.sh
  app/tests/test_orchestrator_routes.py
  app/utils/unified_error_handler.py
  documentation/ops/production_deployment_checklist.md
  documentation/proposals/refocus_e2e_strategy.md
  documentation/public/api_reference.md
  documentation/public/getting_ready_guide.md
  documentation/testing/enhanced_synthesis_testing_plan.md
  documentation/testing/immediate_testing_assignments.md
  frontend/cypress.config.js
  frontend/src/__tests__/components/wizard/StatusUpdater.test.tsx
  model_performance_metrics.json
  tests/test_smoke_ready_503.py
  tests/test_synthesis_integration.py
Owners: @documentation-team, @devops-team, @qa-team

docs: update CLAUDE.md (Render MCP env policy & ops notes)
  CLAUDE.md
Owners: none

Add policy source, loader, endpoints, and CI lint (policy versioning + MCP rule)
  .github/workflows/policy-lint.yml
  app/app.py
  app/routes/policy_routes.py
  app/services/policy_service.py
  ops/policies.yaml
Owners: @devops-team

Wire policy refresh on startup; expose policy_version in health; add Slack notify; add CODEOWNERS & PR checklist
  .github/CODEOWNERS
  app/app.py
  app/routes/health_routes.py
  app/routes/policy_routes.py
  app/utils/notifications.py
Owners: none

docs: improve CLAUDE.md and fix PR template
  .github/PULL_REQUEST_TEMPLATE.md
  CLAUDE.md
  model_performance_metrics.json
  tests/test_config.py
Owners: @devops-team, @qa-team

fix(db): remove SQLAlchemy 2.x SessionLocal.bind check causing 500 on /api/login; whitespace/lint cleanup
  app/database/session.py
Owners: none

fix(deps): pin email-validator>=2.0.0 for Pydantic v2 compatibility
  requirements-production.txt
Owners: none

chore: sync lockfile
  frontend/dist/tw-check.css
  frontend/package-lock.json
Owners: @devops-team

chore: update submodule ref and sync backend changes
  app/routes/orchestrator_minimal.py
  app/services/resilient_llm_adapter.py
  model_performance_metrics.json
  requirements.txt
Owners: @devops-team

Remove unused root Node config files (package.json, package-lock.json)
  package-lock.json
  package.json
Owners: @devops-team

feat: add RAG feature gating to document analysis routes
  app/routes/document_analysis_routes.py
Owners: none

feat: gate Documents page behind VITE_RAG_ENABLED flag
  frontend/src/config.ts
  frontend/src/pages/DocumentsPage.tsx
Owners: none

feat: add RAG_ENABLED flag; return 501 for document endpoints when disabled; update submodule ref
  app/routes/document_routes.py
Owners: none

CODEOWNERS:

# UltraAI CODEOWNERS File
# This file defines code ownership and review requirements for the project
# Format: path/to/file/or/dir @username_or_team

# Documentation requires review by documentation team
/documentation/ @documentation-team

# Core patterns implementation requires careful review
/src/patterns/ @core-team

# Frontend components require UI team review
/frontend/src/components/ @ui-team

# Analysis logic requires AI team review
/src/analysis/ @ai-team

# API services require backend team review
/frontend/src/services/ @backend-team

# Hooks require careful review
/frontend/src/hooks/ @ui-team @core-team

# Test files
/tests/ @qa-team

# Configuration files require DevOps review
*.json @devops-team
*.yml @devops-team
*.config.js @devops-team

# Critical files that require multiple approvals
/src/patterns/ultra_analysis_patterns.py @core-team @ai-team
/documentation/instructions/PATTERNS.md @documentation-team @core-team
/frontend/src/components/UltraWithDocuments.tsx @ui-team @core-team
/frontend/src/services/api.ts @backend-team @core-team

# The CODEOWNERS file itself requires admin approval
/CODEOWNERS @admin-team
