Repository fieldjoshua/UltrAI-Core, changes with the owners that CODEOWNERS names for each.
All owners: @documentation-team, @core-team, @ui-team, @ai-team, @backend-team, @qa-team, @devops-team, @admin-team

test(stub): include Paris in AnthropicAdapter stub when capital prompt detected
  app/services/llm_adapters.py
Owners: none

test(server): expose /orchestrator routes at root when TESTING=true for Playwright
  app/app.py
Owners: none

test(server): expose /orchestrator routes at root when TESTING=true for Playwright
  app/app.py
Owners: none

test(fastapi): attach lightweight orchestration_service in create_app when TESTING=true and fix logger
  app/app.py
Owners: none

test(fastapi): attach lightweight orchestration_service in create_app when TESTING=true and fix logger
  app/app.py
Owners: none

test suite: offline stubs only for unit tests; live e2e & production tests require real adapters and network. Mount /orchestrator routes unconditionally; add production network test
  app/app.py
  app/services/llm_adapters.py
  tests/conftest.py
  tests/e2e/test_web_orchestrator_ui.py
  tests/production/test_network_and_orchestrator.py
  tests/test_llm_adapters_comprehensive.py
Owners: @qa-team

test suite: offline stubs only for unit tests; live e2e & production tests require real adapters and network. Mount /orchestrator routes unconditionally; add production network test
  app/app.py
  app/services/llm_adapters.py
  tests/conftest.py
  tests/e2e/test_web_orchestrator_ui.py
  tests/production/test_network_and_orchestrator.py
  tests/test_llm_adapters_comprehensive.py
Owners: @qa-team

Add LIVE_ONLINE Playwright test with real adapters; stub fixture now skips live_online marker
  pytest.ini
  tests/conftest.py
  tests/live/test_live_online_ui.py
Owners: @qa-team

Add LIVE_ONLINE Playwright test with real adapters; stub fixture now skips live_online marker
  pytest.ini
  tests/conftest.py
  tests/live/test_live_online_ui.py
Owners: @qa-team

fix(orchestrator_api): normalize ultra_synthesis.synthesis to plain text string
  app/routes/orchestrator_minimal.py
Owners: none

fix(orchestrator_api): normalize ultra_synthesis.synthesis to plain text string
  app/routes/orchestrator_minimal.py
Owners: none

test(live_online): fallback to dict synthesis format returned by remote backend
  tests/live/test_live_online_ui.py
Owners: @qa-team

test(live_online): fallback to dict synthesis format returned by remote backend
  tests/live/test_live_online_ui.py
Owners: @qa-team

test(live_online): choose randomly among 5 diverse user prompts for broader coverage
  tests/live/test_live_online_ui.py
Owners: @qa-team

test(live_online): choose randomly among 5 diverse user prompts for broader coverage
  tests/live/test_live_online_ui.py
Owners: @qa-team

refactor(orchestration): default map gpt-4 -> gpt-4o unless disabled via env
  app/services/orchestration_service.py
Owners: none

refactor(orchestration): default map gpt-4 -> gpt-4o unless disabled via env
  app/services/orchestration_service.py
Owners: none

test(live_online): inject selected_models based on available API keys for true reality alignment
  tests/live/test_live_online_ui.py
Owners: @qa-team

test(live_online): inject selected_models based on available API keys for true reality alignment
  tests/live/test_live_online_ui.py
Owners: @qa-team

test(live_online): remove model filtering so failures surface
  tests/live/test_live_online_ui.py
Owners: @qa-team

test(live_online): remove model filtering so failures surface
  tests/live/test_live_online_ui.py
Owners: @qa-team

test(live_online): compute failures from responses dict to detect partial provider success
  tests/live/test_live_online_ui.py
Owners: @qa-team

test(live_online): compute failures from responses dict to detect partial provider success
  tests/live/test_live_online_ui.py
Owners: @qa-team

test(live_online): use models_attempted metadata to detect missing provider responses
  tests/live/test_live_online_ui.py
Owners: @qa-team

test(live_online): use models_attempted metadata to detect missing provider responses
  tests/live/test_live_online_ui.py
Owners: @qa-team

fix(live_online): correct models_attempted path
  tests/live/test_live_online_ui.py
Owners: @qa-team

fix(live_online): correct models_attempted path
  tests/live/test_live_online_ui.py
Owners: @qa-team

Add cyberpunk interactive background system
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/assets/cyberpunk/bridge-structure.svg
  frontend/src/assets/cyberpunk/circuit-building.svg
  frontend/src/assets/cyberpunk/purple-building.svg
  frontend/src/components/CyberpunkCityBackground.css
  frontend/src/components/CyberpunkCityBackground.tsx
  frontend/src/components/CyberpunkWrapper.css
  frontend/src/components/CyberpunkWrapper.tsx
  frontend/src/pages/CyberpunkDemo.tsx
  frontend/vite.config.ts
Owners: @devops-team, @ui-team

Add cyberpunk interactive background system
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/assets/cyberpunk/bridge-structure.svg
  frontend/src/assets/cyberpunk/circuit-building.svg
  frontend/src/assets/cyberpunk/purple-building.svg
  frontend/src/components/CyberpunkCityBackground.css
  frontend/src/components/CyberpunkCityBackground.tsx
  frontend/src/components/CyberpunkWrapper.css
  frontend/src/components/CyberpunkWrapper.tsx
  frontend/src/pages/CyberpunkDemo.tsx
  frontend/vite.config.ts
Owners: @devops-team, @ui-team

Fix cyberpunk background positioning to match target composition
  frontend/src/components/CyberpunkCityBackground.css
Owners: @ui-team

Fix cyberpunk background positioning to match target composition
  frontend/src/components/CyberpunkCityBackground.css
Owners: @ui-team

Use exact SVG files specified: 3333-01.svg and 5555-01.svg
  frontend/dist/assets/3333-01.svg
  frontend/dist/assets/4444-01.svg
  frontend/dist/assets/5555-01.svg
  frontend/dist/assets/Asset2tyyy.svg
  frontend/dist/assets/bridge-flush.svg
  frontend/dist/assets/bridge.svg
  frontend/dist/assets/building-flush.svg
  frontend/dist/assets/cyberpunk-city.svg
  frontend/dist/assets/index-BJZ89d09.css
  frontend/dist/assets/index-Bwl8BJDm.js
  frontend/dist/assets/index-CZHSMDT1.css
  frontend/dist/assets/index-pkokCu72.js
  frontend/dist/assets/thulllAsset3.svg
  frontend/dist/index.html
  frontend/dist/test-background.html
  frontend/public/assets/3333-01.svg
  frontend/public/assets/4444-01.svg
  frontend/public/assets/5555-01.svg
  frontend/public/assets/Asset2tyyy.svg
  frontend/public/assets/bridge-flush.svg
  frontend/public/assets/bridge.svg
  frontend/public/assets/building-flush.svg
  frontend/public/assets/cyberpunk-city.svg
  frontend/public/assets/thulllAsset3.svg
  frontend/public/test-background.html
  frontend/src/assets/cyberpunk/3333-01.svg
  frontend/src/assets/cyberpunk/5555-01.svg
  frontend/src/components/CyberpunkCity.tsx
  frontend/src/components/CyberpunkCityBackground.css
  frontend/src/components/CyberpunkCityBackground.tsx
  frontend/src/components/FullCyberCity.tsx
  frontend/src/components/MultimodalAnalysis.tsx
  frontend/src/styles/index.css
Owners: @ui-team

Use exact SVG files specified: 3333-01.svg and 5555-01.svg
  frontend/dist/assets/3333-01.svg
  frontend/dist/assets/4444-01.svg
  frontend/dist/assets/5555-01.svg
  frontend/dist/assets/Asset2tyyy.svg
  frontend/dist/assets/bridge-flush.svg
  frontend/dist/assets/bridge.svg
  frontend/dist/assets/building-flush.svg
  frontend/dist/assets/cyberpunk-city.svg
  frontend/dist/assets/index-BJZ89d09.css
  frontend/dist/assets/index-Bwl8BJDm.js
  frontend/dist/assets/index-CZHSMDT1.css
  frontend/dist/assets/index-pkokCu72.js
  frontend/dist/assets/thulllAsset3.svg
  frontend/dist/index.html
  frontend/dist/test-background.html
  frontend/public/assets/3333-01.svg
  frontend/public/assets/4444-01.svg
  frontend/public/assets/5555-01.svg
  frontend/public/assets/Asset2tyyy.svg
  frontend/public/assets/bridge-flush.svg
  frontend/public/assets/bridge.svg
  frontend/public/assets/building-flush.svg
  frontend/public/assets/cyberpunk-city.svg
  frontend/public/assets/thulllAsset3.svg
  frontend/public/test-background.html
  frontend/src/assets/cyberpunk/3333-01.svg
  frontend/src/assets/cyberpunk/5555-01.svg
  frontend/src/components/CyberpunkCity.tsx
  frontend/src/components/CyberpunkCityBackground.css
  frontend/src/components/CyberpunkCityBackground.tsx
  frontend/src/components/FullCyberCity.tsx
  frontend/src/components/MultimodalAnalysis.tsx
  frontend/src/styles/index.css
Owners: @ui-team

Use aquaAsset files from /3/ directory as requested
  frontend/dist/assets/index-BJZ89d09.css
  frontend/dist/assets/index-BdyaFofH.css
  frontend/dist/assets/index-Bwl8BJDm.js
  frontend/dist/assets/index-DTVIANLC.js
  frontend/dist/index.html
  frontend/src/assets/cyberpunk/aquaAsset 1.svg
  frontend/src/assets/cyberpunk/aquaAsset 10.svg
  frontend/src/assets/cyberpunk/aquaAsset 2.svg
  frontend/src/assets/cyberpunk/aquaAsset 3.svg
  frontend/src/assets/cyberpunk/aquaAsset 4.svg
  frontend/src/assets/cyberpunk/aquaAsset 5.svg
  frontend/src/assets/cyberpunk/aquaAsset 6.svg
  frontend/src/assets/cyberpunk/aquaAsset 7.svg
  frontend/src/assets/cyberpunk/aquaAsset 8.svg
  frontend/src/assets/cyberpunk/aquaAsset 9.svg
  frontend/src/components/CyberpunkCityBackground.css
  frontend/src/components/CyberpunkCityBackground.tsx
Owners: @ui-team

Use aquaAsset files from /3/ directory as requested
  frontend/dist/assets/index-BJZ89d09.css
  frontend/dist/assets/index-BdyaFofH.css
  frontend/dist/assets/index-Bwl8BJDm.js
  frontend/dist/assets/index-DTVIANLC.js
  frontend/dist/index.html
  frontend/src/assets/cyberpunk/aquaAsset 1.svg
  frontend/src/assets/cyberpunk/aquaAsset 10.svg
  frontend/src/assets/cyberpunk/aquaAsset 2.svg
  frontend/src/assets/cyberpunk/aquaAsset 3.svg
  frontend/src/assets/cyberpunk/aquaAsset 4.svg
  frontend/src/assets/cyberpunk/aquaAsset 5.svg
  frontend/src/assets/cyberpunk/aquaAsset 6.svg
  frontend/src/assets/cyberpunk/aquaAsset 7.svg
  frontend/src/assets/cyberpunk/aquaAsset 8.svg
  frontend/src/assets/cyberpunk/aquaAsset 9.svg
  frontend/src/components/CyberpunkCityBackground.css
  frontend/src/components/CyberpunkCityBackground.tsx
Owners: @ui-team

Create baseline normal city scene with filled buildings
  frontend/src/components/CyberpunkCityBackground.css
  frontend/src/components/CyberpunkCityBackground.tsx
Owners: @ui-team

Create baseline normal city scene with filled buildings
  frontend/src/components/CyberpunkCityBackground.css
  frontend/src/components/CyberpunkCityBackground.tsx
Owners: @ui-team

Fix baseline city positioning - restore proper layout
  frontend/src/components/CyberpunkCityBackground.css
  frontend/src/components/CyberpunkCityBackground.tsx
Owners: @ui-team

Fix baseline city positioning - restore proper layout
  frontend/src/components/CyberpunkCityBackground.css
  frontend/src/components/CyberpunkCityBackground.tsx
Owners: @ui-team

Trigger fresh deployment for baseline city
  frontend/src/components/CyberpunkCityBackground.css
Owners: @ui-team

CODEOWNERS:

# UltraAI CODEOWNERS File
# This file defines code ownership and review requirements for the project
# Format: path/to/file/or/dir @username_or_team

# Documentation requires review by documentation team
/documentation/ @documentation-team

# Core patterns implementation requires careful review
/src/patterns/ @core-team

# Frontend components require UI team review
/frontend/src/components/ @ui-team

# Analysis logic requires AI team review
/src/analysis/ @ai-team

# API services require backend team review
/frontend/src/services/ @backend-team

# Hooks require careful review
/frontend/src/hooks/ @ui-team @core-team

# Test files
/tests/ @qa-team

# Configuration files require DevOps review
*.json @devops-team
*.yml @devops-team
*.config.js @devops-team

# Critical files that require multiple approvals
/src/patterns/ultra_analysis_patterns.py @core-team @ai-team
/documentation/instructions/PATTERNS.md @documentation-team @core-team
/frontend/src/components/UltraWithDocuments.tsx @ui-team @core-team
/frontend/src/services/api.ts @backend-team @core-team

# The CODEOWNERS file itself requires admin approval
/CODEOWNERS @admin-team
