Repository fieldjoshua/UltrAI-Core, changes with the owners that CODEOWNERS names for each.
All owners: @documentation-team, @core-team, @ui-team, @ai-team, @backend-team, @qa-team, @devops-team, @admin-team

feat(ui): add morning/afternoon/sunset/night background toggle with themed overlay; no layout/logic changes
  frontend/src/components/CyberWizard.tsx
Owners: @ui-team

Move status updater to wizard panel and remove query config from Step 3
  frontend/dist/assets/index-B-bcUIUf.js
  frontend/dist/assets/index-B_HH0qH6.css
  frontend/dist/assets/index-Bvk-EiAq.js
  frontend/dist/assets/index-Cgqh_z73.css
  frontend/dist/bg-afternoon.jpeg
  frontend/dist/bg-morning.jpeg
  frontend/dist/bg-night.jpeg
  frontend/dist/bg-sunset.jpeg
  frontend/dist/index.html
  frontend/public/bg-afternoon.jpeg
  frontend/public/bg-morning.jpeg
  frontend/public/bg-night.jpeg
  frontend/public/bg-sunset.jpeg
  frontend/src/components/CyberWizard.tsx
Owners: @ui-team

feat(ui): move background theme toggle into System Status; theme applied via bgTheme and overlay; uses images in frontend/public
  frontend/src/components/CyberWizard.tsx
Owners: @ui-team

frontend: enhance visual polish with improved glassmorphism and animations
  frontend/dist/assets/index-B-bcUIUf.js
  frontend/dist/assets/index-B1vxJvJC.css
  frontend/dist/assets/index-B_HH0qH6.css
  frontend/dist/assets/index-DJDiizdS.js
  frontend/dist/bg-afternoon.jpg
  frontend/dist/bg-morning.jpg
  frontend/dist/bg-night.jpg
  frontend/dist/bg-sunset.jpg
  frontend/dist/index.html
  frontend/public/bg-afternoon.jpg
  frontend/public/bg-morning.jpg
  frontend/public/bg-night.jpg
  frontend/public/bg-sunset.jpg
  frontend/src/components/CyberWizard.tsx
  frontend/src/styles/globals.css
Owners: @ui-team

frontend: add interactive enhancements for better user engagement
  frontend/dist/assets/index-B1vxJvJC.css
  frontend/dist/assets/index-DJDiizdS.js
  frontend/dist/assets/index-FXTXUHWu.js
  frontend/dist/assets/index-OnOse4Ir.css
  frontend/dist/index.html
  frontend/src/components/CyberWizard.tsx
  frontend/src/styles/globals.css
Owners: @ui-team

perf(ui): memoize receipt sections and derived displays; fix lints; move theme toggle; build
  frontend/src/components/CyberWizard.tsx
Owners: @ui-team

fix(auth): allow anonymous access to /api/orchestrator* and PUBLIC_PATHS via require_auth dependency
  app/middleware/auth_middleware.py
Owners: none

backend: fix health endpoints, rate-limit headers, and JWT env alias
  .##Stickies/functional
  app/middleware/rate_limit_middleware.py
  app/routes/health_routes.py
  app/services/api_failure_handler.py
  app/services/cache_service.py
  app/services/orchestration_service.py
  app/services/rate_limit_service.py
  app/services/resilient_llm_adapter.py
  app/utils/jwt_utils.py
  frontend/dist/assets/AnalysisProgress-BU84Cf-b.js
  frontend/dist/assets/Dashboard-CmbGd2yV.js
  frontend/dist/assets/DocumentsPage-CKdpdZrI.js
  frontend/dist/assets/FAQ-MS6xz-nz.js
  frontend/dist/assets/LoginPage-JscBma1h.js
  frontend/dist/assets/ModelRunnerDemo-DR3LMVYX.js
  frontend/dist/assets/OrchestratorPage-BbriXRVF.js
  frontend/dist/assets/Outputs-DjMK7FRd.js
  frontend/dist/assets/RegisterPage-DBXHX2cO.js
  frontend/dist/assets/SimpleAnalysis-Ya23zy3p.js
  frontend/dist/assets/UIPrototype-D4eRgjwN.js
  frontend/dist/assets/UniversalUI-B84pTEBy.js
  frontend/dist/assets/alert-CRKwnDLV.js
  frontend/dist/assets/circle-alert-Xdbi0eEt.js
  frontend/dist/assets/circle-check-big-BVx4qNGG.js
  frontend/dist/assets/index-Dcly-kun.js
  frontend/dist/assets/index-DgSmxhYG.css
  frontend/dist/assets/index-FXTXUHWu.js
  frontend/dist/assets/index-OnOse4Ir.css
  frontend/dist/assets/input-CEtFYno0.js
  frontend/dist/assets/label-Dv7AQanx.js
  frontend/dist/index.html
  frontend/src/App.tsx
  model_performance_metrics.json
  tests/production/test_network_and_orchestrator.py
Owners: @devops-team, @qa-team

frontend: add guard requiring at least 2 models before Initialize
  frontend/src/components/CyberWizard.tsx
Owners: @ui-team

fix: correct StreamEventType enum usage for Pydantic compatibility
  app/models/streaming_response.py
  app/services/streaming_orchestration_service.py
  frontend/dist/assets/AnalysisProgress-AMr3j3-p.js
  frontend/dist/assets/Dashboard-B0VcE7DB.js
  frontend/dist/assets/Dashboard-CmbGd2yV.js
  frontend/dist/assets/DocumentsPage-BFq6laYw.js
  frontend/dist/assets/DocumentsPage-CKdpdZrI.js
  frontend/dist/assets/FAQ-Bn39jP_z.js
  frontend/dist/assets/FAQ-MS6xz-nz.js
  frontend/dist/assets/LoginPage-BijW3a5K.js
  frontend/dist/assets/ModelRunnerDemo-Ch9BCNqX.js
  frontend/dist/assets/ModelRunnerDemo-DR3LMVYX.js
  frontend/dist/assets/OrchestratorPage-BbriXRVF.js
  frontend/dist/assets/OrchestratorPage-CDQ9IJXg.js
  frontend/dist/assets/Outputs-CLUEu2bD.js
  frontend/dist/assets/Outputs-DjMK7FRd.js
  frontend/dist/assets/RegisterPage-DVI6mHOq.js
  frontend/dist/assets/SimpleAnalysis-EsRIRh8f.js
  frontend/dist/assets/SimpleAnalysis-Ya23zy3p.js
  frontend/dist/assets/UIPrototype-Di-GOhVO.js
  frontend/dist/assets/UniversalUI-Dx9lLsXM.js
  frontend/dist/assets/alert-CRKwnDLV.js
  frontend/dist/assets/alert-xwxkepNz.js
  frontend/dist/assets/circle-alert-fC6HeZs5.js
  frontend/dist/assets/circle-check-big-BfjFq8gX.js
  frontend/dist/assets/index-DITq14rI.js
  frontend/dist/assets/input-7BsyOV-2.js
  frontend/dist/assets/input-CEtFYno0.js
  frontend/dist/assets/label-BDfW-c9J.js
  frontend/dist/assets/label-Dv7AQanx.js
  frontend/dist/index.html
  tests/unit/test_streaming_orchestration.py
Owners: @qa-team

fix: resolve React error 310 by ensuring ultra_response is always a string
  frontend/dist/assets/AnalysisProgress-Dw5Xar0E.js
  frontend/dist/assets/Dashboard-B0VcE7DB.js
  frontend/dist/assets/Dashboard-B1JQSSki.js
  frontend/dist/assets/DocumentsPage-BFq6laYw.js
  frontend/dist/assets/DocumentsPage-DB1kQ9XE.js
  frontend/dist/assets/FAQ-Bn39jP_z.js
  frontend/dist/assets/FAQ-DY4IF8-i.js
  frontend/dist/assets/LoginPage-DeKLKrFy.js
  frontend/dist/assets/ModelRunnerDemo-CHDqufCW.js
  frontend/dist/assets/ModelRunnerDemo-Ch9BCNqX.js
  frontend/dist/assets/OrchestratorPage-DmiIux63.js
  frontend/dist/assets/Outputs-CLUEu2bD.js
  frontend/dist/assets/Outputs-xTXvX8FL.js
  frontend/dist/assets/RegisterPage-DprsuvLr.js
  frontend/dist/assets/SimpleAnalysis-DUwfU6HY.js
  frontend/dist/assets/UIPrototype-Cw1l57kL.js
  frontend/dist/assets/UniversalUI-CGU1XQDf.js
  frontend/dist/assets/alert-CYKQR3Qi.js
  frontend/dist/assets/alert-xwxkepNz.js
  frontend/dist/assets/circle-alert-CVVVRts1.js
  frontend/dist/assets/circle-check-big-7aDFsSIQ.js
  frontend/dist/assets/index-CHwcXJe7.js
  frontend/dist/assets/input-7BsyOV-2.js
  frontend/dist/assets/input-CB0S6Pdf.js
  frontend/dist/assets/label-BDfW-c9J.js
  frontend/dist/assets/label-D7bmHfna.js
  frontend/dist/index.html
  frontend/src/api/orchestrator.js
Owners: none

fix(frontend): resolve React error 310 by ensuring processing_time is always rendered as string/number
  frontend/dist/assets/AnalysisProgress-CoiqmoFT.js
  frontend/dist/assets/Dashboard-B1JQSSki.js
  frontend/dist/assets/Dashboard-CqeXtyjb.js
  frontend/dist/assets/DocumentsPage-B354vvGd.js
  frontend/dist/assets/DocumentsPage-DB1kQ9XE.js
  frontend/dist/assets/FAQ-CoTsgDcN.js
  frontend/dist/assets/FAQ-DY4IF8-i.js
  frontend/dist/assets/LoginPage-B4iCgUUW.js
  frontend/dist/assets/ModelRunnerDemo-CHDqufCW.js
  frontend/dist/assets/ModelRunnerDemo-DPcF1boH.js
  frontend/dist/assets/OrchestratorPage-DSmy-wLi.js
  frontend/dist/assets/Outputs-DIOwita_.js
  frontend/dist/assets/Outputs-xTXvX8FL.js
  frontend/dist/assets/RegisterPage-CIIo8tgi.js
  frontend/dist/assets/SimpleAnalysis-Cti_Xar2.js
  frontend/dist/assets/UIPrototype-Czgm0Mt1.js
  frontend/dist/assets/UniversalUI-CO62gcWY.js
  frontend/dist/assets/alert-BRqAXgMg.js
  frontend/dist/assets/alert-CYKQR3Qi.js
  frontend/dist/assets/circle-alert-C2lW-MgN.js
  frontend/dist/assets/circle-check-big-BM1G_iMG.js
  frontend/dist/assets/index-Bn6jKuBz.js
  frontend/dist/assets/index-CHwcXJe7.js
  frontend/dist/assets/input-CB0S6Pdf.js
  frontend/dist/assets/input-DbCRopjz.js
  frontend/dist/assets/label-CcpPEE4_.js
  frontend/dist/assets/label-D7bmHfna.js
  frontend/dist/index.html
  frontend/src/api/orchestrator.js
  frontend/src/components/CyberWizard.tsx
  frontend/src/components/MultimodalAnalysis.tsx
Owners: @ui-team

fix: comprehensive React error 310 resolution for object rendering
  frontend/dist/assets/AnalysisProgress-nce16RVc.js
  frontend/dist/assets/Dashboard-CqeXtyjb.js
  frontend/dist/assets/Dashboard-iJMcapGK.js
  frontend/dist/assets/DocumentsPage-B354vvGd.js
  frontend/dist/assets/DocumentsPage-DbMhUbW4.js
  frontend/dist/assets/FAQ-CoTsgDcN.js
  frontend/dist/assets/FAQ-aCVy5e63.js
  frontend/dist/assets/LoginPage-BALtbagr.js
  frontend/dist/assets/ModelRunnerDemo-DPcF1boH.js
  frontend/dist/assets/ModelRunnerDemo-TuuxQwpq.js
  frontend/dist/assets/OrchestratorPage-Cys4g0gn.js
  frontend/dist/assets/Outputs-BnZFt2Cy.js
  frontend/dist/assets/Outputs-DIOwita_.js
  frontend/dist/assets/RegisterPage-CA2eAlhT.js
  frontend/dist/assets/SimpleAnalysis-Cti_Xar2.js
  frontend/dist/assets/SimpleAnalysis-psxyakcn.js
  frontend/dist/assets/UIPrototype-D7qu2KGw.js
  frontend/dist/assets/UniversalUI-ju-9HHWm.js
  frontend/dist/assets/alert-BRqAXgMg.js
  frontend/dist/assets/alert-DpMDBf2n.js
  frontend/dist/assets/circle-alert-Bbj3DQDZ.js
  frontend/dist/assets/circle-check-big-BW_CeZYd.js
  frontend/dist/assets/index-Bn6jKuBz.js
  frontend/dist/assets/index-DBkUyWgV.js
  frontend/dist/assets/input-DbCRopjz.js
  frontend/dist/assets/input-Dvhim0-n.js
  frontend/dist/assets/label-CcpPEE4_.js
  frontend/dist/assets/label-ZWXmmi3J.js
  frontend/dist/index.html
  frontend/src/components/CyberWizard.tsx
  frontend/src/components/MultimodalAnalysis.tsx
  frontend/src/pages/SimpleAnalysis.tsx
Owners: @ui-team

fix: deep resolution of React error 310 - handle all object renderings
  frontend/REACT_CHILD_FIX_SUMMARY.md
  frontend/dist/assets/AnalysisProgress-DcsXjt80.js
  frontend/dist/assets/Dashboard-iJMcapGK.js
  frontend/dist/assets/Dashboard-xFHlaCAu.js
  frontend/dist/assets/DocumentsPage-BM378B9m.js
  frontend/dist/assets/DocumentsPage-DbMhUbW4.js
  frontend/dist/assets/FAQ-Cg45KywF.js
  frontend/dist/assets/FAQ-aCVy5e63.js
  frontend/dist/assets/LoginPage-C3cIsJ_J.js
  frontend/dist/assets/ModelRunnerDemo-CA0am8Zg.js
  frontend/dist/assets/ModelRunnerDemo-TuuxQwpq.js
  frontend/dist/assets/OrchestratorPage-U-_eT4yY.js
  frontend/dist/assets/Outputs-BnZFt2Cy.js
  frontend/dist/assets/Outputs-iGKtNWLr.js
  frontend/dist/assets/RegisterPage-CwA54d2B.js
  frontend/dist/assets/SimpleAnalysis-Dg1zUR5p.js
  frontend/dist/assets/SimpleAnalysis-psxyakcn.js
  frontend/dist/assets/UIPrototype-BM1DbhWz.js
  frontend/dist/assets/UniversalUI-CzXio5TY.js
  frontend/dist/assets/alert-DOAMQiWg.js
  frontend/dist/assets/alert-DpMDBf2n.js
  frontend/dist/assets/circle-alert-DfR_QzF6.js
  frontend/dist/assets/circle-check-big-D3saz_MD.js
  frontend/dist/assets/index-Bbmwdu_w.js
  frontend/dist/assets/input-Dvhim0-n.js
  frontend/dist/assets/input-DykohQCF.js
  frontend/dist/assets/label-CFlSp1kL.js
  frontend/dist/assets/label-ZWXmmi3J.js
  frontend/dist/index.html
  frontend/src/components/MultimodalAnalysis.tsx
  frontend/src/pages/ModelRunnerDemo.tsx
  frontend/src/pages/SimpleAnalysis.tsx
Owners: @ui-team

fix: correct background image file extensions in CyberWizard
  CLAUDE.local.md
  frontend/dist/assets/AnalysisProgress-jol-iwtQ.js
  frontend/dist/assets/Dashboard-CjKDWnHj.js
  frontend/dist/assets/Dashboard-xFHlaCAu.js
  frontend/dist/assets/DocumentsPage-BM378B9m.js
  frontend/dist/assets/DocumentsPage-yTPaBOCm.js
  frontend/dist/assets/FAQ-B2wtAHKy.js
  frontend/dist/assets/FAQ-Cg45KywF.js
  frontend/dist/assets/LoginPage-CSNfQdNO.js
  frontend/dist/assets/ModelRunnerDemo-CA0am8Zg.js
  frontend/dist/assets/ModelRunnerDemo-CVT-sLsY.js
  frontend/dist/assets/OrchestratorPage-DsbGjVXH.js
  frontend/dist/assets/Outputs-fZ5-wi_0.js
  frontend/dist/assets/Outputs-iGKtNWLr.js
  frontend/dist/assets/RegisterPage-D-omnwIj.js
  frontend/dist/assets/SimpleAnalysis-Dktpg4MT.js
  frontend/dist/assets/UIPrototype-DzZ_SgME.js
  frontend/dist/assets/UniversalUI-BPlf-Xtf.js
  frontend/dist/assets/alert-CoWbphA6.js
  frontend/dist/assets/alert-DOAMQiWg.js
  frontend/dist/assets/circle-alert-9oqjRPx5.js
  frontend/dist/assets/circle-check-big-C4FMFY1O.js
  frontend/dist/assets/index-Bbmwdu_w.js
  frontend/dist/assets/index-VL9iFoVk.js
  frontend/dist/assets/input-DykohQCF.js
  frontend/dist/assets/input-Tg_4XRtB.js
  frontend/dist/assets/label-BECXqIxb.js
  frontend/dist/assets/label-CFlSp1kL.js
  frontend/dist/bg-morning.jpeg
  frontend/dist/bg-night.jpeg
  frontend/dist/bg-sunset.jpeg
  frontend/dist/index.html
  frontend/public/bg-morning.jpeg
  frontend/public/bg-night.jpeg
  frontend/public/bg-sunset.jpeg
  frontend/src/components/CyberWizard.tsx
  frontend/src/components/CyberpunkCityBackground.tsx
Owners: @ui-team

fix: resolve React error 310 by fixing conditional hook usage in CyberWizard
  frontend/dist/assets/AnalysisProgress-Ce9vHnkh.js
  frontend/dist/assets/Dashboard-CHzqW9B2.js
  frontend/dist/assets/Dashboard-CjKDWnHj.js
  frontend/dist/assets/DocumentsPage-B2iSt-Fh.js
  frontend/dist/assets/DocumentsPage-yTPaBOCm.js
  frontend/dist/assets/FAQ-B2wtAHKy.js
  frontend/dist/assets/FAQ-B9CKoYh0.js
  frontend/dist/assets/LoginPage-DAXOdPca.js
  frontend/dist/assets/ModelRunnerDemo-CVT-sLsY.js
  frontend/dist/assets/ModelRunnerDemo-DjLONBSm.js
  frontend/dist/assets/OrchestratorPage-B9PwLuom.js
  frontend/dist/assets/Outputs-DFMgqvZi.js
  frontend/dist/assets/Outputs-fZ5-wi_0.js
  frontend/dist/assets/RegisterPage-rUG5UtDk.js
  frontend/dist/assets/SimpleAnalysis-CLPH9Qvz.js
  frontend/dist/assets/UIPrototype-DnJ7nryi.js
  frontend/dist/assets/UniversalUI-KNVnRAIR.js
  frontend/dist/assets/alert-BLKU-IWJ.js
  frontend/dist/assets/alert-CoWbphA6.js
  frontend/dist/assets/circle-alert-DZAjuzaH.js
  frontend/dist/assets/circle-check-big-DjO48qPn.js
  frontend/dist/assets/index-BDKBeesk.js
  frontend/dist/assets/input-DZFsWKfk.js
  frontend/dist/assets/input-Tg_4XRtB.js
  frontend/dist/assets/label-BECXqIxb.js
  frontend/dist/assets/label-npT72zTV.js
  frontend/dist/index.html
  frontend/src/components/CyberWizard.tsx
Owners: @ui-team

fix: move loading check after all hooks in CyberWizard
  frontend/dist/assets/AnalysisProgress-DsW_rr5H.js
  frontend/dist/assets/Dashboard-B9mT9wYr.js
  frontend/dist/assets/Dashboard-CHzqW9B2.js
  frontend/dist/assets/DocumentsPage-B2iSt-Fh.js
  frontend/dist/assets/DocumentsPage-DQCrLtIY.js
  frontend/dist/assets/FAQ-B9CKoYh0.js
  frontend/dist/assets/FAQ-DOD6Ur8Y.js
  frontend/dist/assets/LoginPage-DKmeKYLi.js
  frontend/dist/assets/ModelRunnerDemo-D4ivozHX.js
  frontend/dist/assets/ModelRunnerDemo-DjLONBSm.js
  frontend/dist/assets/OrchestratorPage-DzowgoGu.js
  frontend/dist/assets/Outputs-CkpgHsgw.js
  frontend/dist/assets/Outputs-DFMgqvZi.js
  frontend/dist/assets/RegisterPage-BMN0S6CZ.js
  frontend/dist/assets/SimpleAnalysis-DbhNPHx5.js
  frontend/dist/assets/UIPrototype-D1PFhNBv.js
  frontend/dist/assets/UniversalUI-CocVyAPd.js
  frontend/dist/assets/alert-BLKU-IWJ.js
  frontend/dist/assets/alert-C6n_qaP1.js
  frontend/dist/assets/circle-alert-CArGMeLt.js
  frontend/dist/assets/circle-check-big-C8YmkROh.js
  frontend/dist/assets/index-DrNXAOT4.js
  frontend/dist/assets/input-DIjqr0_z.js
  frontend/dist/assets/input-DZFsWKfk.js
  frontend/dist/assets/label-B667NVAI.js
  frontend/dist/assets/label-npT72zTV.js
  frontend/dist/index.html
  frontend/src/components/CyberWizard.tsx
Owners: @ui-team

feat: add step-specific colors to box borders in CyberWizard
  frontend/dist/assets/AnalysisProgress-Dym3ceor.js
  frontend/dist/assets/Dashboard-B9mT9wYr.js
  frontend/dist/assets/Dashboard-CaSAoK_b.js
  frontend/dist/assets/DocumentsPage-BV7r7gGm.js
  frontend/dist/assets/DocumentsPage-DQCrLtIY.js
  frontend/dist/assets/FAQ-DOD6Ur8Y.js
  frontend/dist/assets/FAQ-scZYPLn0.js
  frontend/dist/assets/LoginPage-Ohg-kMkI.js
  frontend/dist/assets/ModelRunnerDemo-D4ivozHX.js
  frontend/dist/assets/ModelRunnerDemo-aDYn7Ahu.js
  frontend/dist/assets/OrchestratorPage-CbTbtbte.js
  frontend/dist/assets/Outputs-CkpgHsgw.js
  frontend/dist/assets/Outputs-LxEcwtLF.js
  frontend/dist/assets/RegisterPage-NVRo1P2O.js
  frontend/dist/assets/SimpleAnalysis-Dk2VKxf7.js
  frontend/dist/assets/UIPrototype-Bl36A3Nv.js
  frontend/dist/assets/UniversalUI-ypgtOMqi.js
  frontend/dist/assets/alert-C6n_qaP1.js
  frontend/dist/assets/alert-aZ3NacpA.js
  frontend/dist/assets/circle-alert-C1NRw-Gz.js
  frontend/dist/assets/circle-check-big-Dtr431v4.js
  frontend/dist/assets/index-DrNXAOT4.js
  frontend/dist/assets/index-ucBbIWLL.js
  frontend/dist/assets/input-D9qzL1JT.js
  frontend/dist/assets/input-DIjqr0_z.js
  frontend/dist/assets/label-B667NVAI.js
  frontend/dist/assets/label-RqX7hX4o.js
  frontend/dist/index.html
  frontend/src/components/CyberWizard.tsx
Owners: @ui-team

feat: add theme-aware glass darkness and cyberpunk orange accents
  frontend/dist/assets/AnalysisProgress-BGM8NRqy.js
  frontend/dist/assets/Dashboard-BwgSoQaK.js
  frontend/dist/assets/Dashboard-CaSAoK_b.js
  frontend/dist/assets/DocumentsPage-BV7r7gGm.js
  frontend/dist/assets/DocumentsPage-CuI2gQ8Z.js
  frontend/dist/assets/FAQ-BxT63BnH.js
  frontend/dist/assets/FAQ-scZYPLn0.js
  frontend/dist/assets/LoginPage-CfaEcS0c.js
  frontend/dist/assets/ModelRunnerDemo-aDYn7Ahu.js
  frontend/dist/assets/ModelRunnerDemo-otlhhZJv.js
  frontend/dist/assets/OrchestratorPage-BMU_GApW.js
  frontend/dist/assets/Outputs-LxEcwtLF.js
  frontend/dist/assets/Outputs-qjN4yA16.js
  frontend/dist/assets/RegisterPage-b1HpURbB.js
  frontend/dist/assets/SimpleAnalysis-MVnUU3sg.js
  frontend/dist/assets/UIPrototype-NIkuBDDQ.js
  frontend/dist/assets/UniversalUI-v7UNsFbg.js
  frontend/dist/assets/alert-aZ3NacpA.js
  frontend/dist/assets/alert-lQRuDZMp.js
  frontend/dist/assets/circle-alert-DpGODN6I.js
  frontend/dist/assets/circle-check-big-Cr75_WTf.js
  frontend/dist/assets/index-2laLjsDO.js
  frontend/dist/assets/index-ucBbIWLL.js
  frontend/dist/assets/input-CpmiRG-R.js
  frontend/dist/assets/input-D9qzL1JT.js
  frontend/dist/assets/label-CTfowkMc.js
  frontend/dist/assets/label-RqX7hX4o.js
  frontend/dist/index.html
  frontend/src/components/CyberWizard.tsx
  frontend/src/styles/globals.css
Owners: @ui-team

feat: highlight step titles with featured color and enhance main box border
  frontend/dist/assets/AnalysisProgress-CYPVxjZM.js
  frontend/dist/assets/Dashboard-BkssP958.js
  frontend/dist/assets/Dashboard-BwgSoQaK.js
  frontend/dist/assets/DocumentsPage-CuI2gQ8Z.js
  frontend/dist/assets/DocumentsPage-_Qg0LznW.js
  frontend/dist/assets/FAQ-7okoGb1-.js
  frontend/dist/assets/FAQ-BxT63BnH.js
  frontend/dist/assets/LoginPage-wVkxeebF.js
  frontend/dist/assets/ModelRunnerDemo-BLLBCNtk.js
  frontend/dist/assets/ModelRunnerDemo-otlhhZJv.js
  frontend/dist/assets/OrchestratorPage-gHZrNBDz.js
  frontend/dist/assets/Outputs-DzCYJF2c.js
  frontend/dist/assets/Outputs-qjN4yA16.js
  frontend/dist/assets/RegisterPage-9PabCAo3.js
  frontend/dist/assets/SimpleAnalysis-BVsSLTbx.js
  frontend/dist/assets/UIPrototype-BDPTVH90.js
  frontend/dist/assets/UniversalUI-CrcVeRoQ.js
  frontend/dist/assets/alert-DY3mRa6D.js
  frontend/dist/assets/alert-lQRuDZMp.js
  frontend/dist/assets/circle-alert-DEy8J5uk.js
  frontend/dist/assets/circle-check-big-p7pqdZcD.js
  frontend/dist/assets/index-Sth4015b.js
  frontend/dist/assets/input-CpmiRG-R.js
  frontend/dist/assets/input-DdewKTnO.js
  frontend/dist/assets/label-CTfowkMc.js
  frontend/dist/assets/label-DMEx62Mf.js
  frontend/dist/index.html
  frontend/src/components/CyberWizard.tsx
Owners: @ui-team

feat: move system status to left sidebar panel
  frontend/dist/assets/AnalysisProgress-CHbvnw-5.js
  frontend/dist/assets/Dashboard-BkmHJxdA.js
  frontend/dist/assets/Dashboard-BkssP958.js
  frontend/dist/assets/DocumentsPage-BgrNfxh2.js
  frontend/dist/assets/DocumentsPage-_Qg0LznW.js
  frontend/dist/assets/FAQ-7okoGb1-.js
  frontend/dist/assets/FAQ-DLSpUkz5.js
  frontend/dist/assets/LoginPage-Cgp5Io1e.js
  frontend/dist/assets/ModelRunnerDemo-BLLBCNtk.js
  frontend/dist/assets/ModelRunnerDemo-BolAlzfG.js
  frontend/dist/assets/OrchestratorPage-9wflxFVD.js
  frontend/dist/assets/Outputs-BeOkDrvz.js
  frontend/dist/assets/Outputs-DzCYJF2c.js
  frontend/dist/assets/RegisterPage-FB04LQQ0.js
  frontend/dist/assets/SimpleAnalysis-B2mSx4Wl.js
  frontend/dist/assets/UIPrototype-CioW6ozK.js
  frontend/dist/assets/UniversalUI-BI9sxdl6.js
  frontend/dist/assets/alert-5lJBW4Yh.js
  frontend/dist/assets/alert-DY3mRa6D.js
  frontend/dist/assets/circle-alert-DAksrBvh.js
  frontend/dist/assets/circle-check-big-B4VpotDS.js
  frontend/dist/assets/index-CKohjY5L.css
  frontend/dist/assets/index-ChGZVdFV.js
  frontend/dist/assets/index-DgSmxhYG.css
  frontend/dist/assets/index-Sth4015b.js
  frontend/dist/assets/input-COjrM4hf.js
  frontend/dist/assets/input-DdewKTnO.js
  frontend/dist/assets/label-CnlGkOQy.js
  frontend/dist/assets/label-DMEx62Mf.js
  frontend/dist/index.html
  frontend/src/components/CyberWizard.tsx
Owners: @ui-team

feat: enhance left panel with angled corners and wider receipt
  frontend/dist/assets/AnalysisProgress-Be4EPP_V.js
  frontend/dist/assets/Dashboard-BkmHJxdA.js
  frontend/dist/assets/Dashboard-DDnHcDLg.js
  frontend/dist/assets/DocumentsPage-BgrNfxh2.js
  frontend/dist/assets/DocumentsPage-C7S99HTz.js
  frontend/dist/assets/FAQ-DLSpUkz5.js
  frontend/dist/assets/FAQ-UDtExWDG.js
  frontend/dist/assets/LoginPage-lWeCnoXR.js
  frontend/dist/assets/ModelRunnerDemo-BolAlzfG.js
  frontend/dist/assets/ModelRunnerDemo-DWKqHZew.js
  frontend/dist/assets/OrchestratorPage-Df61S09b.js
  frontend/dist/assets/Outputs-BEGRJDVQ.js
  frontend/dist/assets/Outputs-BeOkDrvz.js
  frontend/dist/assets/RegisterPage-tqLV5mAI.js
  frontend/dist/assets/SimpleAnalysis-BjWPc4VM.js
  frontend/dist/assets/UIPrototype-BW77fBGe.js
  frontend/dist/assets/UniversalUI-A2Jh1RES.js
  frontend/dist/assets/alert-5lJBW4Yh.js
  frontend/dist/assets/alert-BJiohxNb.js
  frontend/dist/assets/circle-alert-BSm03hac.js
  frontend/dist/assets/circle-check-big-yuVCTtB2.js
  frontend/dist/assets/index-2Z6dWrL7.css
  frontend/dist/assets/index-CKohjY5L.css
  frontend/dist/assets/index-DcZajgzr.js
  frontend/dist/assets/input-COjrM4hf.js
  frontend/dist/assets/input-CYbzFV81.js
  frontend/dist/assets/label-CFl93crT.js
  frontend/dist/assets/label-CnlGkOQy.js
  frontend/dist/index.html
  frontend/src/components/CyberWizard.tsx
Owners: @ui-team

Enhance Ultra Synthesis StatusUpdater component with centered layout and cyberpunk styling
  frontend/dist/assets/AnalysisProgress-DjetpWLH.js
  frontend/dist/assets/Dashboard-CWdFId0d.js
  frontend/dist/assets/Dashboard-DDnHcDLg.js
  frontend/dist/assets/DocumentsPage-C7S99HTz.js
  frontend/dist/assets/DocumentsPage-Cwfkwbx3.js
  frontend/dist/assets/FAQ-CNsKRCdI.js
  frontend/dist/assets/FAQ-UDtExWDG.js
  frontend/dist/assets/LoginPage-D6958gA6.js
  frontend/dist/assets/ModelRunnerDemo-BVMr-Ri6.js
  frontend/dist/assets/ModelRunnerDemo-DWKqHZew.js
  frontend/dist/assets/OrchestratorPage-DntVGW2c.js
  frontend/dist/assets/Outputs-BEGRJDVQ.js
  frontend/dist/assets/Outputs-C2F5UhcF.js
  frontend/dist/assets/RegisterPage-DKyYLVNk.js
  frontend/dist/assets/SimpleAnalysis-Bfsd347s.js
  frontend/dist/assets/UIPrototype-DSYc9x65.js
  frontend/dist/assets/UniversalUI-CB3Z6xzd.js
  frontend/dist/assets/alert-BGhm_5Gq.js
  frontend/dist/assets/alert-BJiohxNb.js
  frontend/dist/assets/circle-alert-4EqZeBoK.js
  frontend/dist/assets/circle-check-big-BTz_X-be.js
  frontend/dist/assets/index-2Z6dWrL7.css
  frontend/dist/assets/index-C3YYU3R3.js
  frontend/dist/assets/index-DsxA6-Xm.css
  frontend/dist/assets/input-CYbzFV81.js
  frontend/dist/assets/input-wnEHRBo0.js
  frontend/dist/assets/label-BQmi-UHr.js
  frontend/dist/assets/label-CFl93crT.js
  frontend/dist/index.html
  frontend/src/components/StatusUpdater.tsx
  frontend/src/styles/globals.css
Owners: @ui-team

Fix Ultra Synthesis completion to show Step 5 add-ons instead of hardcoded summary
  frontend/dist/assets/AnalysisProgress-BIDhx7h9.js
  frontend/dist/assets/Dashboard-CWdFId0d.js
  frontend/dist/assets/Dashboard-DDEczb_o.js
  frontend/dist/assets/DocumentsPage-Cwfkwbx3.js
  frontend/dist/assets/DocumentsPage-I2Qo6HGJ.js
  frontend/dist/assets/FAQ-CNsKRCdI.js
  frontend/dist/assets/FAQ-JQqcOQwq.js
  frontend/dist/assets/LoginPage-DxX4vgY9.js
  frontend/dist/assets/ModelRunnerDemo-B4SN3zCc.js
  frontend/dist/assets/ModelRunnerDemo-BVMr-Ri6.js
  frontend/dist/assets/OrchestratorPage-49qdApki.js
  frontend/dist/assets/Outputs-BH6DjDbU.js
  frontend/dist/assets/Outputs-C2F5UhcF.js
  frontend/dist/assets/RegisterPage-DikjS4af.js
  frontend/dist/assets/SimpleAnalysis-2aC7z8Ci.js
  frontend/dist/assets/UIPrototype-Du-JRq_q.js
  frontend/dist/assets/UniversalUI-CQnoW__N.js
  frontend/dist/assets/alert-BGhm_5Gq.js
  frontend/dist/assets/alert-eHLYW3f3.js
  frontend/dist/assets/circle-alert-CrXn1bNf.js
  frontend/dist/assets/circle-check-big-DEbyjGnf.js
  frontend/dist/assets/index-BvMFhI51.css
  frontend/dist/assets/index-C3YYU3R3.js
  frontend/dist/assets/index-CTW6c6aC.js
  frontend/dist/assets/index-DsxA6-Xm.css
  frontend/dist/assets/input-D8YFMtd_.js
  frontend/dist/assets/input-wnEHRBo0.js
  frontend/dist/assets/label-BQmi-UHr.js
  frontend/dist/assets/label-ykbKvDhC.js
  frontend/dist/index.html
  frontend/src/components/CyberWizard.tsx
Owners: @ui-team

Improve Ultra Synthesis completion display with enhanced visual design
  frontend/dist/assets/AnalysisProgress-SVH1Jwz4.js
  frontend/dist/assets/Dashboard-DDEczb_o.js
  frontend/dist/assets/Dashboard-DUOemlNF.js
  frontend/dist/assets/DocumentsPage-CznMW0li.js
  frontend/dist/assets/DocumentsPage-I2Qo6HGJ.js
  frontend/dist/assets/FAQ-CT9z3-SV.js
  frontend/dist/assets/FAQ-JQqcOQwq.js
  frontend/dist/assets/LoginPage-BlIfOQni.js
  frontend/dist/assets/ModelRunnerDemo-B4SN3zCc.js
  frontend/dist/assets/ModelRunnerDemo-CTZHi8CI.js
  frontend/dist/assets/OrchestratorPage-C0FXeq-6.js
  frontend/dist/assets/Outputs-BH6DjDbU.js
  frontend/dist/assets/Outputs-DoNBdksk.js
  frontend/dist/assets/RegisterPage-B50qZlt1.js
  frontend/dist/assets/SimpleAnalysis-DxHfs7bR.js
  frontend/dist/assets/UIPrototype-BGe492a-.js
  frontend/dist/assets/UniversalUI-BiVrg97W.js
  frontend/dist/assets/alert-DYdKJ5jj.js
  frontend/dist/assets/alert-eHLYW3f3.js
  frontend/dist/assets/circle-alert-CXJ6qHhB.js
  frontend/dist/assets/circle-check-big-DDGH9h5R.js
  frontend/dist/assets/index-BvMFhI51.css
  frontend/dist/assets/index-CNtqy1it.js
  frontend/dist/assets/index-CTW6c6aC.js
  frontend/dist/assets/index-x8ZLDnel.css
  frontend/dist/assets/input-BmtVJ30Q.js
  frontend/dist/assets/input-D8YFMtd_.js
  frontend/dist/assets/label-Bts5DmLO.js
  frontend/dist/assets/label-ykbKvDhC.js
  frontend/dist/index.html
  frontend/src/components/CyberWizard.tsx
Owners: @ui-team

frontend: enable production sourcemaps for debugging React error #310
  frontend/vite.config.ts
Owners: none

test(frontend): add Jest + Testing Library setup and a passing smoke test
  frontend/jest.config.js
  frontend/package.json
  frontend/src/__tests__/smoke.test.tsx
  frontend/src/test/__mocks__/styleMock.js
  frontend/src/test/setupTests.ts
Owners: @devops-team

Fix Vercel deployment to point to correct backend URL
  frontend/vercel.json
Owners: @devops-team

Update demo documentation to clarify it reflects production app
  docs/demo-service-setup.md
Owners: none

feat: integrate CyberWizard theme selector into SkinSwitcher
  frontend/src/components/CyberWizard.tsx
  frontend/src/components/SkinSwitcher.tsx
Owners: @ui-team

Fix background images not changing with theme selection
  frontend/src/components/CyberWizard.tsx
  frontend/src/skins/afternoon.css
  frontend/src/skins/morning.css
  frontend/src/skins/night.css
  frontend/src/skins/sunset.css
Owners: @ui-team

Add skin persistence with localStorage
  frontend/src/components/CyberWizard.tsx
  frontend/src/components/SkinSwitcher.tsx
Owners: @ui-team

Implement theme improvements and new business theme
  frontend/logoAsset 1kjkjk.jpg
  frontend/src/App.tsx
  frontend/src/components/CyberWizard.tsx
  frontend/src/components/layout/NavBar.tsx
  frontend/src/config.ts
  frontend/src/skins/business.css
  frontend/src/skins/index.ts
  frontend/src/skins/minimalist.css
Owners: @ui-team

Shift UI up by 25% for minimalist and business themes
  frontend/src/components/CyberWizard.tsx
Owners: @ui-team

Refine minimalist and business themes with polished UI
  frontend/src/components/CyberWizard.tsx
  frontend/src/skins/business.css
  frontend/src/skins/minimalist.css
Owners: @ui-team

Add Step 0 welcome screen styling for minimalist and business themes
  frontend/src/skins/business.css
  frontend/src/skins/minimalist.css
Owners: none

Wizard: remove early loading returns to keep hook order stable; fix Button prop; build+tests green
  frontend/src/components/CyberWizard.tsx
Owners: @ui-team

Improve: Wizard contrast for a11y (night/sunset glass darker, text opacity bumps)
  frontend/src/components/CyberWizard.tsx
Owners: @ui-team

Add: skip link and main landmark; a11y names on step buttons; minor contrast bumps
  frontend/src/components/CyberWizard.tsx
Owners: @ui-team

Add: skip link, main landmark, sr-only H1, nav for step markers [a11y]
  frontend/src/components/CyberWizard.tsx
Owners: @ui-team

CODEOWNERS:

# UltraAI CODEOWNERS File
# This file defines code ownership and review requirements for the project
# Format: path/to/file/or/dir @username_or_team

# Documentation requires review by documentation team
/documentation/ @documentation-team

# Core patterns implementation requires careful review
/src/patterns/ @core-team

# Frontend components require UI team review
/frontend/src/components/ @ui-team

# Analysis logic requires AI team review
/src/analysis/ @ai-team

# API services require backend team review
/frontend/src/services/ @backend-team

# Hooks require careful review
/frontend/src/hooks/ @ui-team @core-team

# Test files
/tests/ @qa-team

# Configuration files require DevOps review
*.json @devops-team
*.yml @devops-team
*.config.js @devops-team

# Critical files that require multiple approvals
/src/patterns/ultra_analysis_patterns.py @core-team @ai-team
/documentation/instructions/PATTERNS.md @documentation-team @core-team
/frontend/src/components/UltraWithDocuments.tsx @ui-team @core-team
/frontend/src/services/api.ts @backend-team @core-team

# The CODEOWNERS file itself requires admin approval
/CODEOWNERS @admin-team
